<div class="filters_block">
    <div class="control-btns">
        <a title="Создать на основании" class="copy-filter"><i class="glyphicon glyphicon-paste"></i></a>
        <a title="Удалить" class="delete-filter"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
    <input name="filter_name" class="form-control filter-name" placeholder="Название фильра">
    <table class="main-table">
        <tr>
            <td class="filter-col">
                <div>
                    <label><b>Законы поиска</b></label>
                    <div>
                        <table>
                            <tr>
                                <td>
                                    <input type="checkbox" class="laws_filter" name="laws[]" value="1" checked>
                                    <label class="law-title">44-ФЗ</label>
                                </td>
                                <td>
                                    <input  type="checkbox"class="laws_filter" name="laws[]" value="2">
                                    <label class="law-title">223-ФЗ</label>
                                </td>
                                <td>
                                    <input type="checkbox" class="laws_filter" name="laws[]" value="4">
                                    <label class="law-title">ЗМО</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="laws_filter" name="laws[]" value="3">
                                    <label class="law-title">Прочие</label>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <label class="laws-error filter-error hide"></label>
                </div>
            </td>
            <td class="filter-col">
                <div>
                    <label><b>Суммы поиска</b></label>
                    <table>
                        <tr>
                            <td>
                                От
                            </td>
                            <td>
                                <input name="sum_from" class="form-control sum-filter" placeholder="0">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                До
                            </td>
                            <td>
                                <input name="sum_to" class="form-control sum-filter" placeholder="0">
                            </td>
                        </tr>
                    </table>
                </div>
                <label class="sums-error filter-error hide"></label>
            </td>
            <td rowspan="3">
                <div class="result-cost hide">Стоимость фильтра<br>
                    <input type="hidden" class="filter_sum" name="filter_sum" value="0">
                    <span class="result hide"><b class="result-sum">0</b> руб.</span>
                    <span class="result-between hide">
                        от <b class="result-sum">0</b> руб.
                        <span title="C вами свяжется менеджер для расчет окончательной стоимост"><i class="glyphicon glyphicon-question-sign"></i></span>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="filter-col">
                <div>
                    <button type="button" class="btn btn-primary call-modal" data-toggle="modal" data-target="#category_select">
                        Фильтр по категориям
                    </button>
                    <input type="hidden" class="tree-values" name="categories" value="">
                </div>
                <label class="categories-error filter-error hide"></label>
                <div class="filter-result">

                </div>
            </td>
            <td class="filter-col">
                <div>
                    <button type="button" class="btn btn-primary call-modal" data-toggle="modal" data-target="#region_select">
                        Фильтр по регионам
                    </button>
                    <input type="hidden" class="tree-values" name="regions" value="">
                </div>
                <label class="regions-error filter-error hide"></label>
                <div class="filter-result">

                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="additional-filter">
                    <label><b>Дополнительные критерии</b></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input additional_filter_radio" type="checkbox" name="additional_filter" value="0" checked>
                            <label class="form-check-label">Нет</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input additional_filter_radio" type="checkbox" name="additional_filter" value="1">
                            <label class="form-check-label">Да</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input additional_filter_radio" type="checkbox" name="additional_filter" value="2" >
                            <label class="form-check-label">Не знаю</label>
                        </div>
                        <span style="margin-top: 5px;" title="Вы можете указать дополнительные фильтры по категориям и регионам">
                            <i class="glyphicon glyphicon-question-sign"></i></span>
                    </div>
                    <div >
                        <textarea class="additional_filter_text hide" name="additional_filter_text"></textarea>
                    </div>
                </div>
            </td>
        </tr>
    </table>

</div>
