<div class="filters_block">
    <div class="control-btns">
        <a title="Создать на основании" class="copy-filter"><i class="glyphicon glyphicon-paste"></i></a>
        <a title="Удалить" class="delete-filter"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
    <div style="display: table;">
        <div class="main-filters category-filter">
           {CATEGORY_TREE}
            <label class="categories-error filter-error hide"></label>
        </div>
        <div class="main-filters region-filter">
            {REGION_TREE}
            <label class="regions-error filter-error hide"></label>
        </div>
        <div class="main-filters additional-filter">
            <label>Законы поиска</label>
            <div>
                <table>
                    <tr>
                        <td>
                            <input type="checkbox" class="laws_filter" name="laws[]" value="1" checked>
                            <label class="law-title">44-ФЗ</label>
                        </td>
                        <td>
                            <input  type="checkbox"class="laws_filter" name="laws[]" value="2">
                            <label class="law-title">223-ФЗ</label>
                        </td>

                        <td>
                            <input type="checkbox" class="laws_filter" name="laws[]" value="4">
                            <label class="law-title">ЗМО</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" class="laws_filter" name="laws[]" value="3">
                            <label class="law-title">Прочие</label>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
            <label class="laws-error filter-error hide"></label>
            <label>Дополнителненые критерии</label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input additional_filter_radio" type="radio" name="additional_filter" value="0" checked>
                    <label class="form-check-label">Нет</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input additional_filter_radio" type="radio" name="additional_filter" value="1">
                    <label class="form-check-label">Да</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input additional_filter_radio" type="radio" name="additional_filter" value="2" >
                    <label class="form-check-label">Не знаю</label>
                </div>
            </div>
            <div style="height: 208px;">
                <textarea class="additional_filter_text hide" name="additional_filter_text"></textarea>
            </div>
        </div>
        <div class="main-filters sum-filter">
            <label>Суммы поиска</label>
            <table>
                <tr>
                    <td>
                        От
                    </td>
                    <td>
                        <input name="sum_from" class="form-control sum-filter" value="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        До
                    </td>
                    <td>
                        <input name="sum_to" class="form-control sum-filter" value="0">
                    </td>
                </tr>
            </table>
            <label class="sums-error filter-error hide"></label>
            <div class="calculate">
                <a class="btn btn-info" onclick="calculate($(this).closest('.filters_block'));">Расчитать</a>
            </div>
            <div class="result-cost">
                <span class="result hide">Стоимость поиска: <b class="result-sum">0</b>руб.</span>
                <span class="result-between hide">
                    Стоимость поиска от <b class="result-sum">0</b>
                    <span title="с вами свяжется менеджер для расчет окончательной стоимост">(?)</span>
                </span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="add/forms/expert_search/js/expert_search_calculator.js"></script>