<li class="Node {EXPAND} {ISROOT} {ISLAST} {DISABLE} level{LEVEL}">
    <div class="Expand {DISABLE}"></div>
    <input type="checkbox" class="tree_checkbox" name="{INPUT_NAME}[]" value="{ID}"/>
    <div class="Content" title="{ELEMENT_DESCRIPTION}">{ELEMENT_TITLE}</div>
    <div class="Description hide" title="{ELEMENT_DESCRIPTION}">{ELEMENT_DESCRIPTION}</div>
    <ul class="Container" style="{CHILDREN_STYLE}">
    {CHILDREN}
    </ul>
</li>