<div class="tree-filter">
    <div class="text-filter">
        <input type="text" class="form-control" placeholder="Поиск по фильтру" >
        <div class="input-group-append">
            <button class="btn btn-clear form-control" type="button" title="Очистить">&#10006;</button>
        </div>
    </div>
    <div class="tree">
        <ul class="Container">
            {TREE}
        </ul>
    </div>
</div>