.Container {
    padding: 0;
    margin: 0;
}

.Container li {
    list-style-type: none;
}

.Node {
    background-image : url(../img/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 20px;
    zoom: 1;
}

.IsRoot {
    margin-left: 0;
}

.IsLast {
    background-image: url(../img/i_half.gif);
    background-repeat : no-repeat;
}

.ExpandOpen .Expand {
    background-image: url(../img/expand_minus.gif);
}

.ExpandClosed .Expand {
    background-image: url(../img/expand_plus.gif);
}

.ExpandLeaf .Expand ,.match .ExpandLeaf.match .Expand,.ExpandClosed .Expand.disable{
    background-image: url(../img/expand_leaf.gif);
}

.Content {
    min-height: 18px;
    font-size: larger;
    margin-left: 20px;
}
.match>.Content {
    background: #eeeb8a;
}

* html  .Content {
    height: 18px;
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}

.ExpandOpen .Container {
    display: block;
}

.ExpandClosed .Container {
    display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
    cursor: pointer;
}
.ExpandLeaf .Expand {
    cursor: auto;
}

.Container input {
    width: 14px;
    height: 14px;
    float: left;
    margin: 2px;
}

.Description{
    margin-left: 20px;
    font-size: smaller;
    background: #eeeb8a;

}

.filters_block{
    margin-top: 20px;
    padding: 10px;
    border: groove 1px;
    border-radius: 5px;
    font-size: larger;
    position: relative;
}

.category-filter{
    width: 450px;
}

.region-filter{
    width: 383px;
}

.additional-filter>div{
    display: flex;
}
.additional-filter .form-check-inline{
    margin: 5px 10px 0px 0px;
}

.sum-filter{
    width: 157px;
}
.main-filters{
    display: table-cell;
    padding: 10px;
}

.tree-filter .text-filter {
    margin-bottom: 3px;
    position: relative;
}
.tree-filter .text-filter .input-group-append{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
}

.tree-filter .text-filter .btn-clear {
    color: black;
    background: none;
    padding-right: 0px;
    padding-left: 0px;
    margin: auto;
}

.tree-filter .tree {
    padding: 0px 10px;
    background: #f5f5f5;
    border: groove 1px;
    height: 300px;
    overflow: auto;
}

.tree-filter .Node.unmatch{
    display: none;
}

.Container>.Node.last{
    background-image: url(../img/i_half.gif);
    background-repeat : no-repeat;
}

.Node.disable{
    color: #777;
}

.Node.disable>input[type=checkbox]{
    pointer-events: none;
}


.filters_block .result{
    margin-top: 50px;
}

.additional_filter_text{
    margin-top: 5px;
    height: 70px;
    width: 100%;
    resize: vertical;
}

.add-new{
    margin-top: 10px;
    text-align: right;
    color: white;
}
.control-btns{
    position: absolute;
    right: 5px;
}
.control-btns .delete-filter .glyphicon{
    color: #af0500;
    margin-right: 5px;
    font-size: large;
}
.control-btns .copy-filter .glyphicon{
    color: #0a4478;
    margin-right: 5px;
    font-size: large;
}
.calculate{
    text-align: right;
}
.filter-error{
    color: #bf0000;
    font-size: x-small;
}
.call-modal{
    width: 180px;
}
.filter-col{
    width: 260px;
    vertical-align: top;
}
.filter-info-col{
    width: 250px;
    text-align: left;
    vertical-align: top;
}
table input[type="checkbox"].laws_filter{
    margin: 0px;
}
table label.law-title{
    margin: 0px;
}

.modal .text-filter input{
    width: calc(100% - 20px);
}
.main-table{
    width: 100%;
}

#category_select .Node.level1>input[type=checkbox],#category_select .Node.level2>input[type=checkbox]{
    pointer-events: none;
    display: none;
}

.result-cost{
    font-size: larger;
    text-align: center;
}
.filter-result{
    width: 210px;
}

.filter-container{
    width: 700px;
}

.container{
    position: relative;
}
.glyphicon-question-sign{
    color: #337ab7;
}

.full-sum{
    position: fixed;
    margin-left: 90px;
    top: 142px;
    width: 200px;
}
.full-sum .list-group{
  margin-bottom: 0px;
}
.full-sum .head-calculator{
    font-size: large;
    text-align: center;
    margin: 15px 0px;
    font-weight: bold;
}

.filter-name{
    width: 454px;
}

.create-order{
    width: 175px;
    margin-top: 15px;
}