<style type="text/css">
    .title {
        margin: 20px 0px;
        font-size: 23px;
        font-weight: bold;
    }
    .right_links {
        float: right;
        font-size: 12px;
        margin-top: 5px;
    }
    .img_print {
        vertical-align: bottom;
        border: none;
        margin-right: 3px;
    }

    .top {
        border-top: 1px solid #E3E3E3;
        border-bottom: 1px solid #E3E3E3;
        background-color: #F5F5F5;
        text-align: center;
        padding: 15px 52px;
    }

    .top table {
        margin: 0px;
        padding: 0px;
        border: none;
        border-collapse: collapse;
    }

    .top td {
        border: none;
        padding: 0px;
        margin: 0px;
    }

    .mainTable {
        border-collapse: collapse;
        border: none;
        text-align: center;
        width: 800px;
    }

    .mainTable th
    {
        font-weight: bold;
        white-space: nowrap;
        background-color: #F1F1F1;
        padding: 10px 20px;
        vertical-align: middle;
        border-top: 1px solid #B3BFC9;
        border-bottom: 1px solid #B3BFC9;
        border-left: 1px dashed #B3BFC9;
        border-right: 1px dashed #B3BFC9;
        text-align: center;
    }

    .mainTable td{
        white-space: nowrap;
        padding: 10px 20px;
        vertical-align: middle;
        border-top: 1px solid #B3BFC9;
        border-bottom: 1px solid #B3BFC9;
        border-left: 1px dashed #B3BFC9;
        border-right: 1px dashed #B3BFC9;
        text-align: center;
    }

    .mainTable td.bold{
        white-space: nowrap;
        font-weight: bold;
        padding: 10px 20px;
        vertical-align: middle;
        border-top: 1px solid #B3BFC9;
        border-bottom: 1px solid #B3BFC9;
        border-left: 1px dashed #B3BFC9;
        border-right: 1px dashed #B3BFC9;
        text-align: center;
    }

    .mainTable td.red{
        white-space: nowrap;
        font-weight: bold;
        background-color: #FFC0CB;
    }
    .mainTable td.yellow{
        white-space: nowrap;
        font-weight: bold;
        background-color: #FFFF99;
    }
    .mainTable td.green{
        white-space: nowrap;
        font-weight: bold;
        background-color: #99FF99;
    }
    .mainTable td.grey{
        white-space: nowrap;
        font-weight: bold;
        background-color: #777777;
    }
    .mainTable td.lightgrey{
        white-space: nowrap;
        font-weight: bold;
        background-color: #DCDCDC;
    }
    .mainTable td.blue{
        white-space: nowrap;
        font-weight: bold;
        background-color: #6495ED;
    }
</style>

<script type="text/javascript">

    $(function() {
        $('.datepicker').datepicker({
            showOn:"button",
            showAlways: true,
            buttonImage: "images/calbtn.png",
            buttonImageOnly: true,
            buttonText: "Calendar",
            showAnim: (('\v'=='v')?"":"show"),  // в ie не включаем анимацию, тормозит
        })
    });
</script>



<div class="title">
    Текущая работа
    <span class="right_links no_print">
<a href="javascript:window.print()"><img src="images/print.gif" class="img_print">Печать отчёта</a>
</span>
</div>

<div class="top">
    <table style="margin: 0px auto;">
        <tr>
            <td>
        <span class="input_element">
          Период с <input type="text" name="date1" id="date1" value="{$date1}" size="10" class="datepicker" />
          по <input type="text" name="date2" id="date2" value="{$date2}" size="10" class="datepicker" />
        </span>
                <span class="input_element">
          Период: <select name="dt_period" id="dt_period">
                    <option value='0'>Произвольный</option>
                    <option value='1'>Текущий месяц</option>
                    <option value='2'>Прошлый месяц</option>
                  </select>
        </span>
                {if $user_group==1}
                <span class="input_element">
          Менеджеры: <select name="manager">{$sel_manager}</select>
        </span>
                {/if}
                <div style="clear: both"></div>
            </td>
            <td>&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Обновить" class="no_print" onclick="document.getElementById('xsl_ex').value='0'; document.getElementById('report_form').submit(); return false" />
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="include/jqplot/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="include/jqplot/jquery.jqplot.min.css" />

<script type="text/javascript" src="include/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="include/jqplot/plugins/jqplot.barRenderer.min.js"></script>

<script class="include" type="text/javascript" src="include/jqplot/plugins/jqplot.barRenderer.min.js"></script>
<script class="include" type="text/javascript" src="include/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
<script class="include" type="text/javascript" src="include/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script class="include" type="text/javascript" src="include/jqplot/plugins/jqplot.pointLabels.min.js"></script>

{$graph_paid}

<br>
<h1>Таблица Финансы</h1>
<table border=1 class="mainTable">
    <tr>
        <th>Период</th>
        {foreach from=$table_paid["Поступления"] key=per_name item=per_data }
        <th>{$per_name}</th>
        {/foreach}
    </tr>

    {foreach from=$table_paid key=series_name item=series_item name=outer_series}
    <tr>
        <td {if $series_name=="Всего"}class="bold"{/if}>{$series_name}</td>
        {foreach from=$series_item key=per_name item=per_data name=inner_series}
        <td {if $series_name=="Всего"}class="bold"{/if}>{number_format($per_data,0,',',' ')}</td>
        {/foreach}
    </tr>
    {/foreach}
</table>

<br><br>

<h2>Поступления</h2>
<div id='chart_paid' style="height:350px;width:1200px;"></div>

<br><br>

<h1>Таблица События</h1>

{foreach from=$events key=series_name_key item=series_name_item name=name_series}
<table border=1 class="mainTable">
    <tr>
        <td colspan="{$te_cols+1}" class="blue">{$series_name_key}</td>
    </tr>

    <tr >
        <th>Период</th>
        {foreach from=$table_events_colnames key=per_name item=per_data }
        <th>{$per_data}</th>
        {/foreach}
    </tr>


    {foreach from=$series_name_item key=series_type_key item=series_type_item name=type_series}
    <tr>
        <td class="bold" >{$series_type_key} </td>

        {foreach from=$series_type_item key=series_date_name item=series_date_item name=date_series}
        <td {if $series_type_key=="СЧЕТ" && $series_date_item.fact>=7} class="green"{elseif $series_type_key=="СЧЕТ" && $series_date_item.fact>=4} class="yellow"{elseif $series_type_key=="СЧЕТ" && $series_date_item.fact>0} class="red"{/if}>
            {if $series_date_item.plan>0 || $series_date_item.fact>0}
            {if $series_type_key=="СЧЕТ"}
            {number_format($series_date_item.plan,1,',',' ')} / {number_format($series_date_item.fact,1,',',' ')}
            {else}
            {number_format($series_date_item.plan,0,',',' ')} / {number_format($series_date_item.fact,0,',',' ')}
            {/if}

            {else}
            &nbsp;
            {/if}

        </td>
        {/foreach}

    </tr>
    {/foreach}

</table>
<br>
{/foreach}

{$graph1}
{$graph2}

<br><br>

<h2>Звонки</h2>
<div id='chart1' style="height:350px;width:800px;"></div>

<h2>Встречи</h2>
<div id='chart2' style="height:350px;width:800px;"></div>


<input type=hidden name="_dates" id="_dates">
<input type=hidden name="_date1" value="{$date1}">
<input type=hidden name="_date2" value="{$date2}">
<input type=hidden name="_manager" id="_manager">

<script type="text/javascript">
    function onchange_period()
    {
        //alert('tut' + document.getElementById("dt_period").value);
        switch (document.getElementById("dt_period").value)
        {
            case "0":
                break;
            case "1":
                document.getElementById('date1').value = '01.01.2016';
                document.getElementById('date2').value = '31.01.2016';
                break;
            case "2":
                document.getElementById('date1').value = '01.12.2015';
                document.getElementById('date2').value = '31.12.2015';
                break;
        }

    }
    // добавляем обработчики
    $('dt_period').bind('change', onchange_period);
    addHandler(document.getElementById('dt_period'), 'onchange', onchange_period);
</script>