<style type="text/css">
    .title {
        margin: 20px 0px;
        font-size: 23px;
        font-weight: bold;
    }
    .right_links {
        float: right;
        font-size: 12px;
        margin-top: 5px;
    }
    .img_print {
        vertical-align: bottom;
        border: none;
        margin-right: 3px;
    }

    .top {
        border-top: 1px solid #E3E3E3;
        border-bottom: 1px solid #E3E3E3;
        background-color: #F5F5F5;
        text-align: center;
        padding: 15px 52px;
    }

    .top table {
        margin: 0px;
        padding: 0px;
        border: none;
        border-collapse: collapse;
    }

    .top td {
        border: none;
        padding: 0px;
        margin: 0px;
    }

    .mainTable {
        border-collapse: collapse;
        border: none;
        text-align: center;
    }

    .mainTable th
    {
        font-weight: bold;
        white-space: normal;
        background-color: #F1F1F1;
        width: 80px;
        padding: 5px 5px;
        vertical-align: middle;
        border-top: 1px solid #B3BFC9;
        border-bottom: 1px solid #B3BFC9;
        border-left: 1px dashed #B3BFC9;
        border-right: 1px dashed #B3BFC9;
        text-align: center;
    }

    .mainTable td{
        white-space: nowrap;
        padding: 5px 10px;
        vertical-align: middle;
        border-top: 1px solid #B3BFC9;
        border-bottom: 1px solid #B3BFC9;
        border-left: 1px dashed #B3BFC9;
        border-right: 1px dashed #B3BFC9;
        text-align: center;
    }

    .mainTable td.sub_head{
        white-space: nowrap;
        font-weight: bold;
        text-align: center;
        background-color: #E0E0E0;
    }
    .mainTable td.data{
        white-space: nowrap;
        font-weight: bold;
        background-color: #E5FFCC;
    }

    .mainTable td.bold{
        white-space: nowrap;
        font-weight: bold;
    }

    .mainTable td.red{
        white-space: nowrap;
        font-weight: bold;
        background-color: #FFC0CB;
    }
    .mainTable td.green{
        white-space: nowrap;
        font-weight: bold;
        background-color: #99FF99;
    }
    .mainTable td.grey{
        white-space: nowrap;
        font-weight: bold;
        background-color: #777777;
    }

</style>

<div class="title">
    Мой отчет
    <span class="right_links no_print">
<a href="javascript:window.print()"><img src="images/print.gif" class="img_print">Печать отчёта</a>
</span>
</div>

<table class='mainTable'>
    <tr>
        <th>Клиент</th>
        <th>Услуга</th>
        <th>Статус заказа</th>
        <th>Статус производство</th>
        <th>Название</th>
        <th>Сумма</th>
    </tr>
    {foreach from=$orders key=name_key item=name_val }
    <tr>
        <td colspan='6' class='sub_head'>{$name_key}</td>
    </tr>
    {foreach from=$name_val key=sub_key item=sub_val }
    <tr>
        <td>{$sub_val.client}</td>
        <td>{$sub_val.service}</td>
        <td{if substr($sub_val.status_ord,0,2)=='10'} class='data'{/if}>{$sub_val.status_ord}</td>
        <td{if substr($sub_val.status_prod,0,2)=='20'} class='data'{/if}>{$sub_val.status_prod}</td>
        <td>{$sub_val.title}</td>
        <td>{$sub_val.sum}</td>
    </tr>
    {/foreach}
    {/foreach}
</table>