<style type="text/css">
    .title {
        margin: 20px 0px;
        font-size: 23px;
        font-weight: bold;
    }
    .right_links {
        float: right;
        font-size: 12px;
        margin-top: 5px;
    }
    .img_print {
        vertical-align: bottom;
        border: none;
        margin-right: 3px;
    }

    .top {
        border-top: 1px solid #E3E3E3;
        border-bottom: 1px solid #E3E3E3;
        background-color: #F5F5F5;
        text-align: center;
        padding: 15px 52px;
    }

    .top table {
        margin: 0px;
        padding: 0px;
        border: none;
        border-collapse: collapse;
    }

    .top td {
        border: none;
        padding: 0px;
        margin: 0px;
    }

    .mainTable {
        border-collapse: collapse;
        border: none;
        text-align: center;
        width: 800px;
    }

    .mainTable th
    {
        font-weight: bold;
        white-space: wrap;
        background-color: #FFCC99;
        padding: 10px 20px;
        vertical-align: middle;
        border-top: 1px solid #B3BFC9;
        border-bottom: 1px solid #B3BFC9;
        border-left: 1px dashed #B3BFC9;
        border-right: 1px dashed #B3BFC9;
        text-align: left;
    }

    .mainTable tr.row_totals {
        background-color: #FF9933;

    }

    .mainTable tr.grey {
        background-color: #A0A0A0;
    }

    .mainTable tr.lightgrey {
        background-color: #E0E0E0;
    }

    .mainTable tr.username {
        background-color: #FF9933;
    }

    .mainTable tr.incometype {
        background-color: #FFE5CC;
    }


    .mainTable td {
        white-space: pre-wrap;
        padding: 10px 20px;
        vertical-align: middle;
        border-top: 1px solid #B3BFC9;
        border-bottom: 1px solid #B3BFC9;
        border-left: 1px dashed #B3BFC9;
        border-right: 1px dashed #B3BFC9;
        text-align: left;
        max-width: 200px;
        min-width: 70px;
    }

    .mainTable td.totals {
        font-weight: bold;
        font-size: 18px;
    }

    .mainTable td.right {
        text-align: right;
    }

    .mainTable td.wide {
        max-width: 400px;
        min-width: 200px;
        white-space: nowrap;
    }

    .mainTable td.wide_wrap {
        max-width: 400px;
        min-width: 90px;
        white-space: wrap;
    }

    .mainTable td.right_small {
        font-size: 10px;
        text-align: right;
    }
    .mainTable td.right_big {
        font-size: 14px;
        font-weight: bold;
        text-align: right;
        white-space: nowrap;
    }
    .mainTable td.left_big {
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
    }
    .mainTable td.right_big_green {
        font-size: 14px;
        font-weight: bold;
        text-align: right;
        background-color: #99FF99;
        white-space: nowrap;
    }

    .mainTable td.bold{
        white-space: nowrap;
        font-weight: bold;
        padding: 10px 20px;
        vertical-align: middle;
        border-top: 1px solid #B3BFC9;
        border-bottom: 1px solid #B3BFC9;
        border-left: 1px dashed #B3BFC9;
        border-right: 1px dashed #B3BFC9;
        text-align: center;
    }

    .mainTable td.red{
        white-space: nowrap;
        font-weight: bold;
        background-color: #FFC0CB;
    }
    .mainTable td.yellow{
        white-space: nowrap;
        font-weight: bold;
        background-color: #FFFF99;
    }
    .mainTable td.green{
        white-space: nowrap;
        font-weight: bold;
        background-color: #99FF99;
    }
    .mainTable td.grey{
        white-space: nowrap;
        font-weight: bold;
        background-color: #777777;
    }
    .mainTable td.lightgrey{
        white-space: nowrap;
        font-weight: bold;
        background-color: #DCDCDC;
    }
    .mainTable td.blue{
        white-space: nowrap;
        font-weight: bold;
        background-color: #6495ED;
    }
</style>

<!-- ======================================================== -->

<br>
<div class="top">
    <table style="margin: 0px auto;">
        <tr>
            <td>
        <span class="input_element">
          Период: <select name="dt_period" id="dt_period">
                    <option value='1'{if $dt_period==1} selected{/if}>Текущий месяц</option>
            <option value='2'{if $dt_period==2} selected{/if}>Предыдущий месяц</option>
                  </select>
        </span>
                {if $user_group==1}
                <span class="input_element">
          Менеджеры: <select name="manager">{$sel_manager}</select>
        </span>
                {/if}
                <div style="clear: both"></div>
            </td>
            <td>&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Обновить" class="no_print" onclick="document.getElementById('xsl_ex').value='0'; document.getElementById('report_form').submit(); return false" />
            </td>
        </tr>
    </table>
</div>

<!-- ======================================================== -->

{foreach from=$data key=manager item=manager_data}

<h1>{$manager}</h1>

Сумма премии: {$manager_data.total.benefit} (Заказов:  {$manager_data.total.orders_count} ; Работ: {$manager_data.total.works_count})

{foreach from=$manager_data.order_types key=service item=service_data}
<h2>{$service}</h2>

<table border=1 class="mainTable">
    <tr class='row_totals'>
        <td class='totals' colspan='6'>Премия за работу по услуге "{$service}" (Заказов: {$service_data.total.orders_count}; Работ: {$service_data.total.works_count})</td>
        <td class='totals'>{$service_data.total.benefit}</td>
    </tr>

    <tr>
        <th>Заказ</th>
        <th>Заказчик</th>
        <th>Сумма заказа</th>
        <th>Услуга</th>
        <th>Описание</th>
        <th>Статус</th>
        <th>Премия</th>
    </tr>


    {foreach from=$service_data.orders key=order_id item=order}

    <tr class='lightgrey'>
        <td>№{$order.data.num} от {$order.data.date}</td>
        <td>{$order.data.client}</td>
        <td>{$order.data.sum}</td>
        <td>{$order.data.type_price}</td>
        <td>{$order.data.description}</td>
        <td>{$order.data.status}</td>
        <td>{$order.data.benefit}</td>
    </tr>

    {foreach from=$order.work key=work_id item=work}

    <tr>
        <td>{$work.date_st_fact}</td>
        <td colspan='5'><b>{$work.work_type}</b><br>{$work.work_description}</td>
        <td>&nbsp;</td>
    </tr>

    {/foreach}


    {/foreach}

</table>

{/foreach}

<br><br>

{/foreach}

<br><br>