<link rel="stylesheet" type="text/css" href="add/styles/report_events_view.css">
<script type="text/javascript" src="add/js/reports_scripts.js"></script>

<script type="text/javascript" src="include/jqplot/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="include/jqplot/jquery.jqplot.min.css" />

<script type="text/javascript" src="include/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="include/jqplot/plugins/jqplot.barRenderer.min.js"></script>

<script class="include" type="text/javascript" src="include/jqplot/plugins/jqplot.barRenderer.min.js"></script>
<script class="include" type="text/javascript" src="include/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
<script class="include" type="text/javascript" src="include/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script class="include" type="text/javascript" src="include/jqplot/plugins/jqplot.pointLabels.min.js"></script>
<br id="page_head">

<h1>События</h1>
<br>
<!-- ФИЛЬТРЫ ТАБЛИЦЫ -->
<div class="top" >
  <table style="margin: 0px auto;">
    <tr>
      <td style="padding: 5px;">
          Период с <input type="text" name="date1" id="date1" value="{$date1}" size="10" class="datepicker form-control" style="width: 100px"/>
          по <input type="text" name="date2" id="date2" value="{$date2}" size="10" class="datepicker form-control" style="width: 100px" />
          Период: <select class="form-control" name="dt_period" id="dt_period"  style="width: 120px" >
                    <option value='0'>Произвольный</option>
                    <option value='1'>Текущий месяц</option>
                    <option value='2'>Прошлый месяц</option>
                  </select>
      </td>
        <td style="padding: 5px;"><input type="submit" value="Обновить" class="no_print form-control btn-primary" onclick="document.getElementById('xsl_ex').value='0'; document.getElementById('report_form').submit(); return false" /></td>
    </tr>

    <tr>
          <td style="padding: 5px;">
  {if $admin_user}
        <span class="input_element">
          Менеджеры: <select class="form-control" name="manager"  style="width: 150px">{$sel_manager}</select>
        </span>
  {/if}

          <span class="input_element">
          Выполнено: <select class="form-control" name="dt_done" id="dt_done"   style="width: 50px">
              <option value='Все' {if $dt_done =='Все'} selected > {else} > {/if}Все</option>
                <option value='Да' {if $dt_done =='Да'} selected > {else} > {/if}Да</option>
                <option value='Нет' {if $dt_done =='Нет'} selected  {else} >{/if}Нет</option>
              </select>
        </span>
          <span class="input_element">
          Результативное: <select class="form-control" name="dt_effective" id="dt_effective"   style="width: 50px">
              <option value='Все' {if $dt_effective =='Все'} selected > {else} > {/if}Все</option>
              <option value='Да' {if $dt_effective =='Да'}  selected > {else} > {/if}Да</option>
              <option value='Нет' {if $dt_effective =='Нет'} selected > {else} > {/if}Нет</option>
              </select>
        </span>
      </td>
      <td style="padding: 5px;">
      </td>
    </tr>
  </table>
</div>
<hr>

<!-- СВОДНЫЕ ДАНЫЫЕ -->
<h1>Сводные данные</h1>
<div style="overflow: auto;">
    <table border=1 class="mainTable">
        <!-- заголовки столбцов -->
        <tr class="bottom_border_bold">
            <th rowspan="2" class="top_border_bold left_border_bold">Сотрудник</th>
            <th rowspan="2" class="top_border_bold left_border_bold">Вид</th>

            {foreach $client_types item=client_type name=client_types_head}

            {if $events['totals']['clients'][$client_type]['distinct_event_types'] > 0}
            <th colspan="{count($events['totals']['clients'][$client_type]['distinct_event_types'])}"
                class="left_border_bold right_border_bold top_border_bold bottom_border_bold">
                {$client_type}
            </th>
            {/if}

            {/foreach}
        </tr>
        <tr>
            {foreach $client_types item=client_type}
            {foreach $events['totals']['clients'][$client_type]['distinct_event_types']
                key=event_type
                item=type_series
                name=event_types_head}

            <th class="type_column bottom_border_bold
                      {if $smarty.foreach.event_types_head.first}left_border_bold{/if}
                      {if $smarty.foreach.event_types_head.last}right_border_bold{/if}
                      "
            >
                {$event_type}
            </th>

            {/foreach}
            {/foreach}
        </tr>

        <!-- сводные данные по сотрудникам -->
        {foreach from=$events['managers'] key=manager_name item=events_by_manager}

        <tr class="">
            <td rowspan="3"  class="bottom_border_bold left_border_bold right_border_bold bold">
                <a href="#{$manager_name}">{$manager_name}</a>
            </td>

            <td class="bold">Плановые события не исполнены</td>
            {foreach $client_types item=client_type}

            {foreach $events['totals']['clients'][$client_type]['distinct_event_types']
                key=event_type
                item=type_series
                name=event_types_1_0}

            <td class="not_done
                        {if $smarty.foreach.event_types_1_0.first}left_border_bold{/if}
                        {if $smarty.foreach.event_types_1_0.last}right_border_bold{/if}
                    ">

                {if {$events_by_manager['totals']['clients'][$client_type]['events'][$event_type]['plan_not_done']['without_result']} > 0}

                <a class="red_link"
                   href="{$config["base_url"]}/fields.php?table=62&fix_search[1053][value]=Нет&fix_search[3330][value]={$client_type}&fix_search[773][value]={$event_type}&fix_search[724][value]={$date1} 00:00:00&fix_search[724][value2]={$date2} 23:59:59&fix_search[727][value]={$events_by_manager['totals']['user_id']}&search-reset=on"
                target="_blank">
                {$events_by_manager['totals']['clients'][$client_type]['events'][$event_type]['plan_not_done']['without_result']}
                </a>

                {/if}
            </td>

            {/foreach}
            {/foreach}
        </tr>

        <tr class="">
            <td class="bold">Факт результативный</td>
            {foreach $client_types item=client_type}
            {foreach $events['totals']['clients'][$client_type]['distinct_event_types']
            key=event_type
            item=type_series
            name=event_types_2_0}

            <td class="bold
                        {if $smarty.foreach.event_types_2_0.first}left_border_bold{/if}
                        {if $smarty.foreach.event_types_2_0.last}right_border_bold{/if}
                      ">

                {if {$events_by_manager['totals']['clients'][$client_type]['events'][$event_type]['plan_done']['with_result']} > 0}

                <a class="green_link"
                   href="{$config["base_url"]}/fields.php?table=62&fix_search[1053][value]=Да&fix_search[4761][value]=Да&fix_search[3330][value]={$client_type}&fix_search[773][value]={$event_type}&fix_search[11100][value]={$date1} 00:00:00&fix_search[11100][value2]={$date2} 23:59:59&fix_search[727][value]={$events_by_manager['totals']['user_id']}&search-reset=on"
                target="_blank">
                {{$events_by_manager['totals']['clients'][$client_type]['events'][$event_type]['plan_done']['with_result']}}
                </a>

                {/if}
            </td>

            {/foreach}
            {/foreach}
        </tr>

        <tr class="bottom_border_bold">
            <td class="bold">Факт не результативный</td>
            {foreach $client_types item=client_type}
            {foreach $events['totals']['clients'][$client_type]['distinct_event_types']
            key=event_type
            item=type_series
            name=event_types_3_0}

            <td class="without_result
                   {if $smarty.foreach.event_types_3_0.first}left_border_bold{/if}
                   {if $smarty.foreach.event_types_3_0.last}right_border_bold{/if}
                   ">
                {if {{$events_by_manager['totals']['clients'][$client_type]['events'][$event_type]['plan_done']['without_result']}} > 0}
                <a class="grey_link"
                   href="{$config["base_url"]}/fields.php?table=62&fix_search[1053][value]=Да&fix_search[4761][value]=Нет&fix_search[3330][value]={$client_type}&fix_search[773][value]={$event_type}&fix_search[11100][value]={$date1} 00:00:00&fix_search[11100][value2]={$date2} 23:59:59&fix_search[727][value]={$events_by_manager['totals']['user_id']}&search-reset=on"
                target="_blank">
                {{$events_by_manager['totals']['clients'][$client_type]['events'][$event_type]['plan_done']['without_result']}}
                </a>

                {/if}
            </td>

            {/foreach}
            {/foreach}
        </tr>

        {/foreach}

    </table>
</div>
<hr>

<!-- ДЕТАЛИЗАЦИЯ ПО СОТРУДНИКАМ -->
<h1>Данные по сотрудникам</h1>
{foreach from=$events['managers'] key=manager_name item=events_by_manager}
<div class="green" id="{$manager_name}">
    <h2 >{$manager_name}</h2>
    <a href="#page_head">Начало</a></td>
</div>

<!-- статистика по событиям  -->
<div style="overflow: auto;">
  <table border=1 class="mainTable">

      <!-- заголовки столбцов -->
      <tr class="bottom_border_bold">
          <th rowspan="2" class="top_border_bold left_border_bold">Дата</th>
          <th rowspan="2" class="top_border_bold left_border_bold">Вид</th>

          {foreach $client_types item=client_type name=client_types_head}

            {if $events_by_manager['totals']['clients'][$client_type]['distinct_event_types'] > 0}
              <th colspan="{count($events_by_manager['totals']['clients'][$client_type]['distinct_event_types'])}"
                  class="left_border_bold right_border_bold top_border_bold bottom_border_bold">
                  {$client_type}
              </th>
            {/if}

          {/foreach}
      </tr>
      <tr>
          {foreach $client_types item=client_type}
          {foreach $events_by_manager['totals']['clients'][$client_type]['distinct_event_types']
                key=event_type
                item=type_series
                name=event_types_head}

              <th class="type_column bottom_border_bold
                      {if $smarty.foreach.event_types_head.first}left_border_bold{/if}
                      {if $smarty.foreach.event_types_head.last}right_border_bold{/if}
                      "
              >
                  {$event_type}
              </th>

          {/foreach}
          {/foreach}
      </tr>

      <!-- итоги по менеджеру -->
      <tr class="lgreen">
          <td rowspan="3"  class="bottom_border_bold left_border_bold right_border_bold bold">
            ВСЕГО
          </td>

          <td class="bold">Плановые события не исполнены</td>
          {foreach $client_types item=client_type}

          {foreach $events_by_manager['totals']['clients'][$client_type]['distinct_event_types']
          key=event_type
          item=type_series
          name=event_types_1_1}

          <td class="not_done
                        {if $smarty.foreach.event_types_1_1.first}left_border_bold{/if}
                        {if $smarty.foreach.event_types_1_1.last}right_border_bold{/if}
                    ">

              {if {$events_by_manager['totals']['clients'][$client_type]['events'][$event_type]['plan_not_done']['without_result']} > 0}

              <a class="red_link"
                 href="{$config["base_url"]}/fields.php?table=62&fix_search[1053][value]=Нет&fix_search[3330][value]={$client_type}&fix_search[773][value]={$event_type}&fix_search[724][value]={$date1} 00:00:00&fix_search[724][value2]={$date2} 23:59:59&fix_search[727][value]={$events_by_manager['totals']['user_id']}&search-reset=on"
              target="_blank">
                {$events_by_manager['totals']['clients'][$client_type]['events'][$event_type]['plan_not_done']['without_result']}
              </a>

              {/if}
          </td>

          {/foreach}
          {/foreach}
      </tr>

      <tr class="lgreen">
          <td class="bold">Факт результативный</td>
          {foreach $client_types item=client_type}
          {foreach $events_by_manager['totals']['clients'][$client_type]['distinct_event_types']
          key=event_type
          item=type_series
          name=event_types_2_1}

          <td class="bold
                        {if $smarty.foreach.event_types_2_1.first}left_border_bold{/if}
                        {if $smarty.foreach.event_types_2_1.last}right_border_bold{/if}
                      ">

              {if {$events_by_manager['totals']['clients'][$client_type]['events'][$event_type]['plan_done']['with_result']} > 0}

              <a class="green_link"
                 href="{$config["base_url"]}/fields.php?table=62&fix_search[1053][value]=Да&fix_search[4761][value]=Да&fix_search[3330][value]={$client_type}&fix_search[773][value]={$event_type}&fix_search[11100][value]={$date1} 00:00:00&fix_search[11100][value2]={$date2} 23:59:59&fix_search[727][value]={$events_by_manager['totals']['user_id']}&search-reset=on"
              target="_blank">
                {{$events_by_manager['totals']['clients'][$client_type]['events'][$event_type]['plan_done']['with_result']}}
              </a>

              {/if}
          </td>

          {/foreach}
          {/foreach}
      </tr>

      <tr class="bottom_border_bold lgreen">
          <td class="bold">Факт не результативный</td>
          {foreach $client_types item=client_type}
          {foreach $events_by_manager['totals']['clients'][$client_type]['distinct_event_types']
          key=event_type
          item=type_series
          name=event_types_3_1}

          <td class="without_result
                   {if $smarty.foreach.event_types_3_1.first}left_border_bold{/if}
                   {if $smarty.foreach.event_types_3_1.last}right_border_bold{/if}
                   ">
              {if {{$events_by_manager['totals']['clients'][$client_type]['events'][$event_type]['plan_done']['without_result']}} > 0}
              <a class="grey_link"
                 href="{$config["base_url"]}/fields.php?table=62&fix_search[1053][value]=Да&fix_search[4761][value]=Нет&fix_search[3330][value]={$client_type}&fix_search[773][value]={$event_type}&fix_search[11100][value]={$date1} 00:00:00&fix_search[11100][value2]={$date2} 23:59:59&fix_search[727][value]={$events_by_manager['totals']['user_id']}&search-reset=on"
              target="_blank">
                {{$events_by_manager['totals']['clients'][$client_type]['events'][$event_type]['plan_done']['without_result']}}
              </a>

              {/if}
          </td>

          {/foreach}
          {/foreach}
      </tr>

      <!-- данные по дням -->
      {foreach from=$events_by_manager.dates key=event_date item=events_by_date}
      <tr>
          <td rowspan="3"  class="bottom_border_bold left_border_bold right_border_bold">
              {$event_date}

              <!-- готовим даты для фильтра -->
              {assign var="date_href" value=date('d.m.Y', strtotime($event_date))}
          </td>

          <td>Плановые события не исполнены</td>
          {foreach $client_types item=client_type}

          {foreach $events_by_manager['totals']['clients'][$client_type]['distinct_event_types']
              key=event_type
              item=type_series
              name=event_types_1}

                  <td class="not_done
                        {if $smarty.foreach.event_types_1.first}left_border_bold{/if}
                        {if $smarty.foreach.event_types_1.last}right_border_bold{/if}
                    ">
                      {if $events_by_date['clients'][$client_type]['events'][$event_type]['plan_not_done']['without_result'] > 0}

                      <a class="red_link"
                         href="{$config["base_url"]}/fields.php?table=62&fix_search[1053][value]=Нет&fix_search[3330][value]={$client_type}&fix_search[773][value]={$event_type}&fix_search[724][value]={$date_href} 00:00:00&fix_search[724][value2]={$date_href} 23:59:59&fix_search[727][value]={$events_by_manager['totals']['user_id']}&search-reset=on"
                      target="_blank">
                        {$events_by_date['clients'][$client_type]['events'][$event_type]['plan_not_done']['without_result']}
                      </a>

                      {/if}
                  </td>

          {/foreach}
          {/foreach}
      </tr>

      <tr>
          <td>Факт результативный</td>
          {foreach $client_types item=client_type}
          {foreach $events_by_manager['totals']['clients'][$client_type]['distinct_event_types']
              key=event_type
              item=type_series
              name=event_types_2}

                  <td class="bold
                        {if $smarty.foreach.event_types_2.first}left_border_bold{/if}
                        {if $smarty.foreach.event_types_2.last}right_border_bold{/if}
                      ">

                      {if $events_by_date['clients'][$client_type]['events'][$event_type]['plan_done']['with_result'] > 0}

                          <a class="green_link"
                             href="{$config["base_url"]}/fields.php?table=62&fix_search[1053][value]=Да&fix_search[4761][value]=Да&fix_search[3330][value]={$client_type}&fix_search[773][value]={$event_type}&fix_search[11100][value]={$date_href} 00:00:00&fix_search[11100][value2]={$date_href} 23:59:59&fix_search[727][value]={$events_by_manager['totals']['user_id']}&search-reset=on"
                          target="_blank">
                            {$events_by_date['clients'][$client_type]['events'][$event_type]['plan_done']['with_result']}
                          </a>

                      {/if}
                  </td>

          {/foreach}
          {/foreach}
      </tr>

      <tr class="bottom_border_bold">
          <td>Факт не результативный</td>
          {foreach $client_types item=client_type}
          {foreach $events_by_manager['totals']['clients'][$client_type]['distinct_event_types']
              key=event_type
              item=type_series
              name=event_types_3}

              <td class="without_result
                   {if $smarty.foreach.event_types_3.first}left_border_bold{/if}
                   {if $smarty.foreach.event_types_3.last}right_border_bold{/if}
                   ">
                  {if $events_by_date['clients'][$client_type]['events'][$event_type]['plan_done']['without_result'] > 0}
                      <a class="grey_link"
                         href="{$config["base_url"]}/fields.php?table=62&fix_search[1053][value]=Да&fix_search[4761][value]=Нет&fix_search[3330][value]={$client_type}&fix_search[773][value]={$event_type}&fix_search[11100][value]={$date_href} 00:00:00&fix_search[11100][value2]={$date_href} 23:59:59&fix_search[727][value]={$events_by_manager['totals']['user_id']}&search-reset=on"
                      target="_blank">
                            {$events_by_date['clients'][$client_type]['events'][$event_type]['plan_done']['without_result']}
                      </a>

                  {/if}
              </td>

          {/foreach}
          {/foreach}
      </tr>

      {/foreach}

    </table>
</div>

<!-- выполнение планов -->
    <div style='width:800px;text-align:center;'><h3>Выполнение планов</h3></div>
    <div style='display:table;height: 30px; overflow: hidden;'>
    	<div style='width:800px;height:40px;'>
	      	<div class='plan_base b50'>&nbsp;</div>
	      	<div class='plan_base b75'>&nbsp;</div>
	      	<div class='plan_base b100'>&nbsp;</div>


			<div class='{if $plans[$series_name_key].percent<0.5}
	      		plan_fact f50
	      		{else if $plans[$series_name_key].percent<0.75}
	      		plan_fact f75
	      		{else if $plans[$series_name_key].percent<1.0}
	      		plan_fact f100
	      		{else}
	      		plan_fact f1000
	      		{/if}' style='width:{700*$plans[$series_name_key].percent}px;'>
	      		<div class='fact_lable'>{number_format($plans[$series_name_key].fact,2,',',' ')}</div>
	      	</div>

      	</div>
      	<div style='width:800px;height:20px;'>
    	  	<div class='plan_lable l50'>{number_format($plans[$series_name_key].plan*1/2,2,',',' ')}</div>
    	  	<div class='plan_lable l75'>{number_format($plans[$series_name_key].plan*3/4,2,',',' ')}</div>
    	  	<div class='plan_lable l100'>{number_format($plans[$series_name_key].plan,2,',',' ')}</div>
      	</div>
	</div>
    <br>
{/foreach}

{if $graph1 <> ''}
    {$graph1}
    <br><br>

    <h2>Звонки</h2>
    <div id='chart1' style="height:350px;width:800px;"></div>
{/if}

<link rel="stylesheet" type="text/css" href="add/styles/report_events_view_bottom.css">

<input type=hidden name="_dates" id="_dates">
<input type=hidden name="_date1" value="{$date1}">
<input type=hidden name="_date2" value="{$date2}">
<input type=hidden name="_manager" id="_manager">
