<style type="text/css">
.monos {
    margin: 20px 0px;
    font-size: 14px;
	font-family: courier new
}
.right_links {
    float: right;
    font-size: 12px;
    margin-top: 5px;
}
.img_print {
    vertical-align: bottom;
    border: none;
    margin-right: 3px;
}
</style>

<br><br>
<div class='monos'>{$data1}</div>