<style type="text/css">
.title {
    margin: 20px 0px;
    font-size: 23px;
    font-weight: bold;
}
.right_links {
    float: right;
    font-size: 12px;
    margin-top: 5px;
}
.img_print {
    vertical-align: bottom;
    border: none;
    margin-right: 3px;
}

.top {
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    background-color: #F5F5F5;
    text-align: center;
    padding: 15px 52px;
}

.top table {
    margin: 0px;
    padding: 0px;
    border: none;
    border-collapse: collapse;
}

.top td {
    border: none;
    padding: 0px;
    margin: 0px;
}

.italic_big{
  text-align: left;
  font_size: 20px;
  font_style: italic;
}

.mainTable {
    border-collapse: collapse;
    border: none;
    text-align: center;
    width: 1000px;
}

.mainTable th
{
  font-weight: bold;
  white-space: nowrap;
  background-color: #F1F1F1;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: center;
}

.mainTable th.type_column{
  white-space: nowrap;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: center;
    width: 150px;
}

.mainTable td{
  white-space: auto;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: center;
}



.mainTable td.bold{
  white-space: nowrap;
  font-weight: bold;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: center;
}
.mainTable td.left_bold{
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFC0CB;
   text-align: left;
}

.mainTable td.left_wrap{
  white-space: auto;
  text-align: left;
}

.mainTable td.left_nowrap{
  white-space: nowrap;
  text-align: left;
}
.mainTable td.red{
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFC0CB;
}
.mainTable td.yellow{
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFFF99;
}
.mainTable td.green{
  white-space: nowrap;
  font-weight: bold;
  background-color: #99FF99;
}
.mainTable td.grey{
  white-space: nowrap;
  font-weight: bold;
  background-color: #777777;
}
.mainTable td.lightgrey{
  white-space: nowrap;
  text-align: left;
  background-color: #ECECEC;
}
.mainTable td.blue{
  white-space: nowrap;
  font-weight: bold;
  background-color: #6495ED;
}
</style>

<script type="text/javascript">
function go_table(line_id, type)
{
    document.getElementById('_line_id').value = line_id;
    document.getElementById('_type').value = type;
    document.getElementById('report_form').submit();
}
</script>

<div class="title">
Конверсия пробных поисков
<span class="right_links no_print">
<a href="javascript:window.print()"><img src="images/print.gif" class="img_print">Печать отчёта</a>
</span>
</div>

<div class='italic_big'>
<b>Всего пробных поисков:</b> {$results.totals.num_trials}<br>
<b>Сконвертировано пробных поисков:</b> {$results.totals.num_converted}<br>
<b>Сконвертировано на сумму:</b> {number_format($results.totals.sum_converted,0,',',' ')}<br>
</div>
<br>

  <table border=1 class="mainTable">

    <tr>    
      <th>№ заказ</th>
      <th>Клиент</th>
      <th>Менеджер</th>
      <th>Дата начала</th>
      <th>Дата окончания</th>
      <th>Плановое событие</th>
      <th>Конверсия</th>
    </tr>    
    
    {foreach from=$results.months key=month_name item=month_data}
    <tr>    
        <td colspan="7" class='left_bold'><h1>{$month_name}</h1></td>
    </tr>
    <tr>    
      <td colspan="7" class='lightgrey'>
            <b>Всего пробных поисков:</b> {$month_data.totals.num_trials}<br>
            <b>Сконвертировано пробных поисков:</b> {$month_data.totals.num_converted}<br>
            <b>Сконвертировано на сумму:</b> {number_format($month_data.totals.sum_converted,0,',',' ')}<br>
          <br>
            <b>Всего пробных поисков из ТМ:</b> {$month_data.totals.num_from_tm}<br>
            <b>Сконвертировано пробных поисков из ТМ:</b> {count($month_data.totals.trials_from_tm_converted)}<br>

      </td>
    </tr>
      <a >
        {foreach from=$month_data.orders key=order_num item=order_data}
            <tr {if (int)$order_data.from_tm>0}
                {if $order_data.have_future_event==='Нет'} style="background-color: lightgrey"  {else} style="background-color: paleturquoise" {/if}
                {/if}>
              <td><a href="/cb/view_line2.php?table=271&line={$order_data.order_id}" target='_blank'>{$order_num}</a></td>
              <td class='left_wrap'  {if $order_data.have_future_event==='Нет'}style="text-decoration: line-through;"{/if}>
                  <a href="/cb/view_line2.php?table=42&line={$order_data.client_id}" target='_blank'>{$order_data.client} [{$order_data.inn}]</a>
                  {if (int)$order_data.from_tm>0} [TM]{/if}
              </td>
              <td class='left_nowrap'>{$order_data.manager}</td>
              <td>{$order_data.date_begin}</td>
              <td>{$order_data.date_end}</td>
              <td>{$order_data.have_future_event}</td>
              <td class='left_nowrap'>
                  {foreach from=$order_data.converted key=order_converted_num item=order_converted_data}
                    {if $order_converted_data.sum_paid===0.0}<div style="color:red">{/if}
                  <b><a href="/cb/view_line2.php?table=271&line={$order_converted_data.order_id}" target='_blank'>№{$order_converted_num}</a></b>,
                    <b>сумма заказа:</b> {number_format($order_converted_data.sum_order,0,',',' ')},
                    <b>сумма оплаты:</b> {number_format($order_converted_data.sum_paid,0,',',' ')},
                    <b>дата начала:</b> {$order_converted_data.date_begin}<br>
                    {if $order_converted_data.sum_paid===0.0}</div>{/if}
                 {/foreach}
              </td>
            </tr> 
        {/foreach}   

    {/foreach}   
      
    </table>
    <br>
    
<input type=hidden name="_line_id" id="_line_id">
<input type=hidden name="_type" id="_type">
<input type=hidden name="xsl" id="xsl_ex" value="0" />