<style type="text/css">
    .title {
        margin: 20px 0px;
        font-size: 23px;
        font-weight: bold;
    }
    .right_links {
        float: right;
        font-size: 12px;
        margin-top: 5px;
    }
    .img_print {
        vertical-align: bottom;
        border: none;
        margin-right: 3px;
    }

    .top {
        border-top: 1px solid #E3E3E3;
        border-bottom: 1px solid #E3E3E3;
        background-color: #F5F5F5;
        text-align: center;
        padding: 15px 52px;
    }

    .top table {
        margin: 0px;
        padding: 0px;
        border: none;
        border-collapse: collapse;
    }

    .top td {
        border: none;
        padding: 0px;
        margin: 0px;
    }

    .mainTable {
        border-collapse: collapse;
        border: none;
        text-align: center;
        width: 800px;
    }

    .mainTable th
    {
        font-weight: bold;
        white-space: wrap;
        background-color: #FFCC99;
        padding: 10px 20px;
        vertical-align: middle;
        border-top: 1px solid #B3BFC9;
        border-bottom: 1px solid #B3BFC9;
        border-left: 1px dashed #B3BFC9;
        border-right: 1px dashed #B3BFC9;
        text-align: left;
    }

    .mainTable tr.grey {
        background-color: #A0A0A0;
    }

    .mainTable tr.lightgrey {
        background-color: #E0E0E0;
    }

    .mainTable tr.username {
        background-color: #FF9933;
    }

    .mainTable tr.incometype {
        background-color: #FFE5CC;
    }


    .mainTable td {
        white-space: pre-wrap;
        padding: 10px 20px;
        vertical-align: middle;
        border-top: 1px solid #B3BFC9;
        border-bottom: 1px solid #B3BFC9;
        border-left: 1px dashed #B3BFC9;
        border-right: 1px dashed #B3BFC9;
        text-align: left;
        max-width: 200px;
        min-width: 70px;
    }

    .mainTable td.right {
        text-align: right;
    }

    .mainTable td.wide {
        max-width: 400px;
        min-width: 200px;
        white-space: nowrap;
    }

    .mainTable td.wide_wrap {
        max-width: 400px;
        min-width: 90px;
        white-space: wrap;
    }

    .mainTable td.right_small {
        font-size: 10px;
        text-align: right;
    }
    .mainTable td.right_big {
        font-size: 14px;
        font-weight: bold;
        text-align: right;
        white-space: nowrap;
    }
    .mainTable td.left_big {
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
    }
    .mainTable td.right_big_green {
        font-size: 14px;
        font-weight: bold;
        text-align: right;
        background-color: #99FF99;
        white-space: nowrap;
    }

    .mainTable td.bold{
        white-space: nowrap;
        font-weight: bold;
        padding: 10px 20px;
        vertical-align: middle;
        border-top: 1px solid #B3BFC9;
        border-bottom: 1px solid #B3BFC9;
        border-left: 1px dashed #B3BFC9;
        border-right: 1px dashed #B3BFC9;
        text-align: center;
    }

    .mainTable td.red{
        white-space: nowrap;
        font-weight: bold;
        background-color: #FFC0CB;
    }
    .mainTable td.yellow{
        white-space: nowrap;
        font-weight: bold;
        background-color: #FFFF99;
    }
    .mainTable td.green{
        white-space: nowrap;
        font-weight: bold;
        background-color: #99FF99;
    }
    .mainTable td.grey{
        white-space: nowrap;
        font-weight: bold;
        background-color: #777777;
    }
    .mainTable td.lightgrey{
        white-space: nowrap;
        font-weight: bold;
        background-color: #DCDCDC;
    }
    .mainTable td.blue{
        white-space: nowrap;
        font-weight: bold;
        background-color: #6495ED;
    }
</style>

<!-- ======================================================== -->

<br>
<div class="top">
    <table style="margin: 0px auto;">
        <tr>
            <td>
        <span class="input_element">
          Период: <select name="dt_period" id="dt_period">
                    <option value='1'{if $dt_period==1} selected{/if}>Текущий месяц</option>
            <option value='2'{if $dt_period==2} selected{/if}>Предыдущий месяц</option>
                  </select>
        </span>
                {if $user_group==1}
                <span class="input_element">
          Менеджеры: <select name="manager">{$sel_manager}</select>
        </span>
                {/if}
                <div style="clear: both"></div>
            </td>
            <td>&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Обновить" class="no_print" onclick="document.getElementById('xsl_ex').value='0'; document.getElementById('report_form').submit(); return false" />
            </td>
        </tr>
    </table>
</div>

{if $show_prod_ord==1}
<div class="title">
    Работа по заказам
</div>

<table border=1 class="mainTable">
    <tr>
        <th>Заказ</th>

        {foreach from=$ord_managers item=manager_name }
        <th>{$manager_name}</th>
        {/foreach}

    </tr>

    {foreach from=$data_pr_ord key=order_id item=order_item }
    <tr class="grey">
        <td class="wide">№{$order_id} от {$order_item.order.order_date}</td>
        <td colspan="{$managers_count}">{$order_item.order.order_client} / {$order_item.order.order_type} : {$order_item.order.order_type_price} / {$order_item.order.order_description} / {$order_item.order.order_sum} / {$order_item.order.order_status}</td>
    </tr>

    {foreach from=$order_item.work key=work_id item=work_item }
    <tr>
        <td>{$work_item.date_st_plan} [{$work_id}]</td>
        {foreach from=$ord_managers item=manager_name }
        {if $manager_name==$work_item.manager}
        <td><b>{$work_item.work_type}</b><br><small>{$work_item.work_descr} ({$work_item.duration_plan} мин.)</small></td>
        {else}
        <td>&nbsp;</td>
        {/if}
        {/foreach}
    </tr>
    {/foreach}

    {/foreach}
</table>
<br><br>
{/if}
