<link rel="stylesheet" type="text/css" href="add/styles/report_salary_data.css">
<script type="text/javascript" src="add/js/reports_scripts.js"></script>

<!-- ======================================================== -->

<br>
<div class="top" id='page_head'>
  <table style="margin: 0px auto;" >
    <tr>
      <td>
        <span class="input_element">
          Период: <select name="dt_period" id="dt_period">
              {foreach from=$dates key=i item=date }
                    <option value='{$date}' {if $dt_period==$date} selected {/if}>{$date}</option>
              {/foreach}
                  </select>
        </span>        
  {if $user_group==1}
        <span class="input_element">
          Менеджеры: <select name="manager">{$sel_manager}</select>  
        </span>
  {/if}
        <div style="clear: both"></div>
      </td>
      <td>&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Обновить" class="no_print" onclick="document.getElementById('xsl_ex').value='0'; document.getElementById('report_form').submit(); return false" />
      </td>
    </tr>
  </table>
</div>
 

{if $show_totals==1}
<div class="title totals">
Итоги
</div>

    <table border=1 class="mainTable">
      <tr> 
       <th>Менеджер</th>
       <th>Работает</th>
       <th>Сумма всего</th>
       <th>План обычные</th>
       <th>План комплекс</th>
       <th>Сумма обычные</th>
       <th>Сумма комплекc</th>
       <th>Премия всего</th>
       <th>Премия обычные</th>
       <th>Премия комплекс</th>
       <th>Оклад</th>
       <th>Зарплата</th>
     </tr>
     
     <tr class='username'>
       <td class="left_big">ИТОГИ</td>
       <td class="left_big">&nbsp;</td>
       <td class="right_big">{number_format($totals.totals.sum.total,2,',',' ')}</td>
       <td class='right_small'>{number_format($totals.totals.sum.typical_plan,2,',',' ')}</td>
       <td class='right_small'>{number_format($totals.totals.sum.complex_plan,2,',',' ')}</td>
       <td class='right'>{number_format($totals.totals.sum.typical,2,',',' ')}</td>
       <td class='right'>{number_format($totals.totals.sum.complex,2,',',' ')}</td>
       <td class="right_big">{number_format($totals.totals.benefit.total,2,',',' ')}</td>
       <td class='right'>{number_format($totals.totals.benefit.typical,2,',',' ')}</td>
       <td class='right'>{number_format($totals.totals.benefit.complex,2,',',' ')}</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
     </tr>

  {foreach from=$totals.groups key=group_name item=group_data }

  		<tr>
	       <td class='left_big' colspan='12'>{$group_data.group_name}</td>  		
  		</tr>

	  {foreach from=$group_data.managers key=manager_name item=manager_data }
      <tr>
       <td class='nowrap'><a href="#{if $manager_name==""}[Без менеджера]{else}{$manager_name}{/if}">{if $manager_name==""}[Без менеджера]{else}{$manager_name}{/if}</a></td>
       <td class='nowrap'>{$manager_data.work_now}</td>
       <td class="right_big">{number_format($manager_data.sum.total,2,',',' ')}</td>
       <td class='right_small'>{number_format($manager_data.sum.typical_plan,2,',',' ')}</td>
       <td class='right_small'>{number_format($manager_data.sum.complex_plan,2,',',' ')}</td>
       
       <td class='right nowrap'>
       		{if $group_name=="manager_clients"}
       			{number_format($manager_data.sum.typical.old,2,',',' ')}
       		{else}
       			<div>
       			<span class='div_nowrap div_nopadding div_smallfont div_bold'>П: {number_format($manager_data.sum.typical.new,2,',',' ')}</span>
       			<span class='div_nowrap div_nopadding div_smallfont'>В: {number_format($manager_data.sum.typical.old,2,',',' ')}</span>
       			</div>
       		{/if}
       </td>
       <td class='right nowrap'>
       		{if $group_name=="manager_clients"}
       			{number_format($manager_data.sum.complex.old,2,',',' ')}
       		{else}
       			<span class='div_nowrap div_nopadding div_smallfont div_nomargin div_bold'>П: {number_format($manager_data.sum.complex.new,2,',',' ')}</span>
       			<span class='div_nowrap div_nopadding div_smallfont div_nomargin'>В: {number_format($manager_data.sum.complex.old,2,',',' ')}</span>
       		{/if}
       	</td>
       
       <td class="right_big">{number_format($manager_data.benefit.total,2,',',' ')}</td>
       
       <td class='right nowrap'>
       		{if $group_name=="manager_clients"}
       			{number_format($manager_data.benefit.typical.old,2,',',' ')}
       		{else}
       			<span class='div_nowrap div_nopadding div_smallfont div_bold'>П: {number_format($manager_data.benefit.typical.new,2,',',' ')}</span>
       			<span class='div_nowrap div_nopadding div_smallfont'>В: {number_format($manager_data.benefit.typical.old,2,',',' ')}</span>
       		{/if}       	
       </td>
       <td class='right nowrap'>
       		{if $group_name=="manager_clients"}
       			{number_format($manager_data.benefit.complex.old,2,',',' ')}
       		{else}
       			<span class='div_nowrap div_nopadding div_smallfont div_bold'>П: {number_format($manager_data.benefit.complex.new,2,',',' ')}</span>
       			<span class='div_nowrap div_nopadding div_smallfont'>В: {number_format($manager_data.benefit.complex.old,2,',',' ')}</span>
       		{/if}       	
       </td>
       
       <td class='right_big'>{number_format($manager_data.base_salary,2,',',' ')}</td>
       <td class='right_big'>{number_format($manager_data.result_salary,2,',',' ')}</td>
     </tr>     
	  {/foreach}
	  
  {/foreach}
      
    </table>	  
{/if}

{if $show_clients==1}

<div class="title">
	Менеджеры по работе с клиентами
</div>

  {foreach from=$data_manager_clients key=manager_name item=manager_item_group }

<table border=1 class="mainTable">
  <tr> 
   <th>Заказ</th>
   <th>Клиент</th>
   <th>Услуга</th>
   <th>Описание</th>
   <th>Дата заказ</th>
   <th>Дата счет</th>
   <th>Дата поступл.</th>
   <th>Разн.</th>
   <th>Сумма</th>
   <th>Нараст. итог</th>
   <th>Ставка премии</th>
   <th>Коэф. срок</th>
   <th>Премия</th>
  </tr>

  <tr class='username'>
    <td class='left_big font20' colspan='8' id="{if $manager_name<>''}{$manager_name}{else}[Без менеджера]{/if}">{if $manager_name<>''}{$manager_name}{else}[Без менеджера]{/if} <a href="#page_head">Начало</a></td>
    <td class='right_big'>{number_format($manager_item_group.sum_result,2,',',' ')}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class='right_big'>{number_format($manager_item_group.benefit_result,2,',',' ')}</td>
  </tr>  

  {foreach from=$manager_item_group.service_groups key=ordertype_group item=manager_item }
    
    {if $manager_item.total.sum>0 && $ordertype_group<>"Комплексные" }
    
      <tr class='grey'>
        <td class='left_big' colspan='8'>Услуги: {$ordertype_group}</td>
        <td class='right_big'>{number_format($manager_item.total.sum,2,',',' ')}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class='right_big'>{number_format($manager_item.total.benefit,2,',',' ')}</td>
      </tr>  
      
      <tr class='lightgrey'>
        <td class='left_big' colspan='8'>План</td>
        <td class='right_big'>{number_format($manager_item.total.plan_sum,2,',',' ')}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class='lightgrey'>
        <td class='left_big' colspan='8'>Исполнение плана</td>
        <td class='right_big'>{number_format($manager_item.total.plan_percent,2,',',' ')}%</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class='lightgrey'>
        <td class='left_big' colspan='8'>Коэффициент премии за план / Премия итоговая</td>
        <td class='right_big'>{number_format($manager_item.total.plan_coef,2,',',' ')}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class='right_big_green'>{number_format($manager_item.total.benefit_final,2,',',' ')}</td>
      </tr>

      {foreach from=$manager_item.orders key=date_payment item=orders }
      {foreach from=$orders key=order_name item=order_item }
       <tr>
        <td><a href="javascript:go_table('{$order_item.order_id}','заказ')">{$order_item.order_num}</a> / <a href="javascript:go_table('{$order_item.income_id}','поступление')">{$order_item.income_num}</a></td>
        <td>{$order_item.client}{if $order_item.client<>$order_item.source_name}<br><small><i>&nbsp;{$order_item.source_name},&nbsp;{$order_item.source_type}</i></small>{/if}</td>
        <td>{$order_item.service}</td>
        <td>{$order_item.description}</td>
        <td>{if $ordertype_group=="Обычные"}<b>{$order_item.date_order}</b>{else}{$order_item.date_order}{/if}</td>
        <td>{if $ordertype_group=="Комплексные"}<b>{$order_item.date_invoice}</b>{else}{$order_item.date_invoice}{/if}</td>
        <td><b>{$order_item.date_payment}</b></td>
        <td class='right'>{$order_item.date_diff}</td>
        <td class='right'>{number_format($order_item.sum,2,',',' ')}</td>
        <td class='right_small'>{number_format($order_item.cur_sum,2,',',' ')}</td>
        <td class='right'>{$order_item.benefit_rate}</td>
        <td class='right'>{$order_item.benefit_rate_date}</td>
        <td class='right'>{number_format($order_item.benefit,2,',',' ')}</td>
      </tr>
      {/foreach}
      {/foreach}
      
      {/if}
    
    {/foreach}

</table>
<br><br>

  {/foreach}
{/if}

{if $show_sales==1}

<div class="title">
Менеджеры продаж
</div>

{foreach from=$data_manager_sales key=manager_name item=manager_item_incometypes }
  
<table border=1 class="mainTable">
  <tr> 
   <th>Заказ</th>
   <th>Клиент</th>
   <th>Услуга</th>
   <th>Описание</th>
   <th>Дата поступл.</th>
   <th>Дата перв. поступл.</th>
   <th>Сумма</th>
   <th>Ставка премии</th>
   <th>Премия</th>
  </tr>

  <tr class='username'>
    <td class='left_big font20' colspan='6' id="{if $manager_name<>''}{$manager_name}{else}[Без менеджера]{/if}">{if $manager_name<>''}{$manager_name}{else}[Без менеджера]{/if} <a href="#page_head">Начало</a></td>
    <td class='right_big'>{number_format($manager_item_incometypes.sum_result,2,',',' ')}</td>
    <td>&nbsp;</td>
    <td class='right_big'>{number_format($manager_item_incometypes.benefit_result,2,',',' ')}</td>
  </tr>
  
  {foreach from=$manager_item_incometypes.income_types key=incometype item=manager_item_group }
  
    {if $manager_item_group.total.sum>0}
    
    <tr class='incometype'>
      <td class='left_big' colspan='6'>Тип поступления: {$incometype}</td>
      <td class='right_big'>{number_format($manager_item_group.total.sum,2,',',' ')}</td>
      <td>&nbsp;</td>
      <td class='right_big'>{number_format($manager_item_group.total.benefit,2,',',' ')}</td>
    </tr>
    
    {foreach from=$manager_item_group.service_groups key=ordertype_group item=manager_item }
    
      {if $manager_item.total.sum>0}
  
        <tr class='grey'>
          <td class='left_big' colspan='6'>Услуги: {$ordertype_group}</td>
          <td class='right_big'>{number_format($manager_item.total.sum,2,',',' ')}</td>
          <td>&nbsp;</td>
          <td class='right_big'>{number_format($manager_item.total.benefit,2,',',' ')}</td>
        </tr>
          
        <tr class='lightgrey'>
          <td class='left_big' colspan='6'>План</td>
          <td class='right_big'>{number_format($manager_item.total.plan_sum,2,',',' ')}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr class='lightgrey'>
          <td class='left_big' colspan='6'>Исполнение плана</td>
          <td class='right_big'>{number_format($manager_item.total.plan_percent,2,',',' ')}%</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr class='lightgrey'>
          <td class='left_big' colspan='6'>Коэффициент премии за план / Премия итоговая</td>
          <td class='right_big'>{number_format($manager_item.total.plan_coef,2,',',' ')}</td>
          <td>&nbsp;</td>
          <td class='right_big_green'>{number_format($manager_item.total.benefit_final,2,',',' ')}</td>
        </tr>

      {foreach from=$manager_item.orders key=date_payment item=orders }
        {foreach from=$orders key=order_name item=order_item}
         <tr>
          <td><a href="javascript:go_table('{$order_item.order_id}','заказ')">{$order_item.order_num}</a> / <a href="javascript:go_table('{$order_item.income_id}','поступление')">{$order_item.income_num}</a></td>
          <td>{$order_item.client}{if $order_item.client<>$order_item.source_name}<br><small><i>&nbsp;{$order_item.source_name},&nbsp;{$order_item.source_type}</i></small>{/if}</td>
          <td{if $order_item.service=='Подготовка документации'} class='yellow'{/if}>{$order_item.service}</td>
          <td>{$order_item.description}</td>
          <td>{$order_item.date_payment}</td>
          <td class='right_small'>{$order_item.date_firstpayment}</td>
          <td class='right'>{number_format($order_item.sum,2,',',' ')}</td>
          <td class='right'>{$order_item.benefit_rate}</td>
          <td class='right'>{number_format($order_item.benefit,2,',',' ')}</td>
         </tr>
        {/foreach}
      {/foreach}
      
    
      {/if}
    {/foreach}
    
    {/if}
    
  {/foreach}
</table>    
<br><br>
{/foreach}

<!-- ======================================================== -->

<br>
{/if}

{if $show_prod_srch==1}

<div class="title">
Менеджеры производства
</div>

{foreach from=$data_manager_prod_srch key=manager_name item=manager_item_incometypes }
  
<table border=1 class="mainTable">
  <tr> 
   <th>Заказ</th>
   <th>Дата поступл.</th>
   <th>Клиент</th>
   <th>Описание</th>
   <th>Даты поиска</th>
   <th>Сумма</th>
   <th>Ставка премии</th>
   <th>Премия</th>
  </tr>

  <tr class='username'>
    <td class='left_big font20' colspan='5' id='#{$manager_name}'>{if $manager_name<>''}{$manager_name}{else}[Без менеджера]{/if} <a href="#page_head">Начало</a></td>
    <td class='right_big'>{number_format($manager_item_incometypes.total.sum,2,',',' ')}</td>
    <td>&nbsp;</td>
    <td class='right_big'>{number_format($manager_item_incometypes.total.benefit,2,',',' ')}</td>
  </tr>

  {foreach from=$manager_item_incometypes.income_types key=incometype item=manager_item_group }
  
    <tr class='incometype'>
      <td class='left_big' colspan='5'>{$incometype}</td>
      <td class='right_big'>{number_format($manager_item_group.total.sum,2,',',' ')}</td>
      <td>&nbsp;</td>
      <td class='right_big'>{number_format($manager_item_group.total.benefit,2,',',' ')}</td>
    </tr>

        {foreach from=$manager_item_group.orders key=order_name item=order_item}
         <tr>
          <td><a href="javascript:go_table('{$order_item.order_id}','заказ')">{$order_item.order_num}</a> / <a href="javascript:go_table('{$order_item.income_id}','поступление')">{$order_item.income_num}</a></td>
          <td>{$order_item.date_payment}</td>
          <td>{$order_item.client}</td>
          <td class='wide'>{$order_item.description}</td>
          <td class='wide_wrap'>{$order_item.dates}</td>
          <td class='right'>{number_format($order_item.sum,2,',',' ')}</td>
          <td class='right'>{$order_item.benefit_rate}</td>
          <td class='right'>{number_format($order_item.benefit,2,',',' ')}</td>
         </tr>
        {/foreach}
    
  {/foreach}

</table>
<br><br>
{/foreach}

{/if}

<input type=hidden name="_line_id" id="_line_id">
<input type=hidden name="_type" id="_type">