<link rel="stylesheet" type="text/css" href="add/styles/reports_styles.css">
<script type="text/javascript" src="add/js/reports_scripts.js"></script>

<h1>Участия поставщика</h1>
<div class="top">

	<table class="controlsTable">
	<tr>
    	<td class='param'>Период:</td>
        <td>
         <span class="input_element">
           с <input type="text" name="date1" id="date1" value="{$date1}" size="10" class="datepicker" /> 
           по <input type="text" name="date2" id="date2" value="{$date2}" size="10" class="datepicker" /> 
         </span>    
        </td>
    </tr>
	<tr>
    	<td class='param'>Суммы:</td>
        <td>
         <span class="input_element">
           с <input type="text" pattern="[0-9]*"  name="sum1" id="sum1" value="{$sum1}" size="15" /> 
           по <input type="text" pattern="[0-9]*"  name="sum2" id="sum2" value="{$sum2}" size="15" /> 
         </span>    
        </td>
    </tr>
    <tr>
    	<td class="param">ИНН:</td>
    	<td><input class='text_input' type="text" name="inn" value="{$inn}"></td>
    </tr>
    <tr>
    	<td class="param">Конкурентов:</td>    	
    	<td>
			<select name='competitors_num'>
				{foreach from=$competitiors_nums key=arr_key item=arr_item}
				   	<option{if $arr_item==$num_competitors} selected{/if}>{$arr_item}</option>
				{/foreach}			
			</select>
		</td>
    </tr>
    <tr>
    	<td class="param">Заказчиков:</td>    	
    	<td>
			<select name='customers_num'>
				{foreach from=$customers_nums key=arr_key item=arr_item}
				   	<option{if $arr_item==$num_customers} selected{/if}>{$arr_item}</option>
				{/foreach}			
			</select>
		</td>
    </tr>
    <tr>
    	<td class="param">Регионов:</td>    	
    	<td>
			<select name='regions_num'>
				{foreach from=$regions_nums key=arr_key item=arr_item}
				   	<option{if $arr_item==$num_regions} selected{/if}>{$arr_item}</option>
				{/foreach}			
			</select>
		</td>
    </tr>
    <tr>
      <td colspan=2>
        <input class='refresh_button' type="submit" value="Обновить" class="no_print" onclick="document.getElementById('xsl_ex').value='0'; document.getElementById('report_form').submit(); return false" />
      </td>
    </tr>
	</table>
</div>
<br>

{if $inn<>""}

{foreach from=$arr_result.suppliers key=event_key item=event_item }
	<table border=1 class="mainTable">
		<tr>
			<td class='bold_top'>Поставщик [ИНН{if $event_item.kpp<>""}/КПП{/if}]:</td>
			<td>
				{$event_item.title}{if $event_item.form<>""},{$event_item.form}{/if} [{$event_item.inn}{if $event_item.kpp<>""} / {$event_item.kpp}{/if}]
			</td>
		</tr>
		<tr>
			<td class='bold_top'>Телефоны:</td>
			<td class='mid_width'>{foreach from=$event_item.phones key=event_phone_key item=event_phone_item}{if $event_phone_key>0}, {/if}{$event_phone_item}{/foreach}
			</td>
		</tr>
		<tr>
			<td class='bold_top'>Emails:</td>
			<td class='mid_width'>{foreach from=$event_item.emails key=event_email_key item=event_email_item}{if $event_email_key>0}, {/if}{$event_email_item}{/foreach}</td>
		</tr>
		<tr>
			<td class='bold_top'>Контактные лица:</td>
			<td class='mid_width'>{foreach from=$event_item.contacts key=event_contact_key item=event_contact_item}{if $event_contact_key>0}, {/if}{$event_contact_item}{/foreach}</td>
		</tr>				
		<tr>
			<td class='bold_top'>Сумма участий / Кол-во участий:</td>
			<td>{number_format($event_item.sum_apps,2,',',' ')} руб. / {number_format($event_item.num_apps,0,',',' ')} </td>
		</tr>				
		<tr>
			<td class='bold_top'>Сумма побед / Кол-во побед:</td>
			<td>{number_format($event_item.sum_wins,2,',',' ')} руб. / {number_format($event_item.num_wins,0,',',' ')} </td>
		</tr>				
		<tr>
			<td class='bold_top'>Сумма отклоненных / Кол-во отклоненных:</td>
			<td>{number_format($event_item.sum_rejected,2,',',' ')} руб. / {number_format($event_item.num_rejected,0,',',' ')} </td>
		</tr>				
		<tr>
			<td class='bold_top'>Регионы участий / побед:</td>
			<td class='mid_width'>{foreach from=$event_item.regions key=event_region_key item=event_region_item}{$event_region_item.title} [{$event_region_item.num_total}/{$event_region_item.num_win}], {/foreach}</td>
		</tr>
		
    {if $num_customers>0}
		<tr>
			<td class='bold_top'>Заказчики (первые {$num_customers}):</td>
			<td class='mid_width'>
				<table class="subTable">
					<tr>
						<th>№</th>
						<th>Заказчик</th>
						<th>Кол-во участий</th>
						<th>Сумма участий</th>
						<th>Кол-во побед</th>
						<th>Сумма побед</th>
					</tr>
					
				{for $j=0 to $num_regions-1} 
					<tr class='header'>
						<td class='header' colspan=2>Всего по региону {$event_item.regions[$j].title} {if $date1<>""} c {$date1}{/if}{if $date2<>""} по {$date2}{/if}</td>
						<td class='header'>{$event_item.regions[$j].num_total}</td>
						<td class='header'>{number_format($event_item.regions[$j].sum_total,2,',',' ')} руб.</td>
						<td class='header'>{$event_item.regions[$j].num_win}</td>
						<td class='header'>{number_format($event_item.regions[$j].sum_win,2,',',' ')} руб.</td>
					</tr>
					{for $i=0 to $num_customers-1} 
						{if $event_item.regions[$j].customers[$i].title<>""}
							<tr>
								<td>{$i+1}</td>
								<td class='content_title'>{$event_item.regions[$j].customers[$i].title}</td>
								<td>{$event_item.regions[$j].customers[$i].num_total}</td>
								<td>{number_format($event_item.regions[$j].customers[$i].sum_total,2,',',' ')} руб.</td>
								<td>{$event_item.regions[$j].customers[$i].num_win}</td>
								<td>{number_format($event_item.regions[$j].customers[$i].sum_win,2,',',' ')} руб.</td>
							</tr>
						{/if}
					{/for}
				{/for}
				
				</table>
				<br>
			</td>
		</tr>		
		
	{/if}		
	
    {if $num_competitors>0}
		<tr>
			<td class='bold_top'>Конкуренты (первые {$num_customers}):</td>
			<td class='mid_width'>
				<table class="subTable">
					<tr>
						<th>№</th>
						<th>Поставщик</th>
						<th>Кол-во совпад.</th>
						<th>Кол-во участий</th>
						<th>Сумма участий</th>
						<th>Кол-во побед</th>
						<th>Сумма побед</th>
						<th>Доля рынка</th>
					</tr>
					
				
				{for $j=0 to $num_regions} 
				 {if $event_item.regions[$j].competitors[0].inn<>""}
					<tr class='header'>
						<td class='header' colspan=3>Всего по региону {$event_item.regions[$j].title} {if $date1<>""} c {$date1}{/if}{if $date2<>""} по {$date2}{/if}</td>
						<td class='header'>&nbsp;</td>
						<td class='header'>&nbsp;</td>
						<td class='header'>{$event_item.regions[$j].market_results.num_win_total}</td>
						<td class='header'>{number_format($event_item.regions[$j].market_results.sum_win_total,2,',',' ')} руб.</td>
						<td class='header'>&nbsp;</td>
					</tr>

					{for $i=0 to $num_competitors} 
						{if $event_item.regions[$j].competitors[$i].title<>""}
							<tr{if $i==0} class='selected'{/if}>
								<td>{$i}</td>
								<td>[<a href="javascript:go_table('{$event_item.regions[$j].competitors[$i].inn}','ИНН')">{$event_item.regions[$j].competitors[$i].inn}</a>] {$event_item.regions[$j].competitors[$i].title}</td>
								<td>{$event_item.regions[$j].competitors[$i].count}</td>
								<td>{$event_item.regions[$j].competitors[$i].stat.num_total}</td>
								<td>{number_format({$event_item.regions[$j].competitors[$i].stat.sum_total},2,',',' ')} руб.</td>
								<td>{$event_item.regions[$j].competitors[$i].stat.num_win}</td>
								<td>{number_format($event_item.regions[$j].competitors[$i].stat.sum_win,2,',',' ')} руб.</td>							
								<td><b>{number_format($event_item.regions[$j].competitors[$i].stat.market_share,2,',',' ')}%</b></td>							
							</tr>
						{/if}
					{/for}
					{/if}
				{/for}
				
				</table>
				<br>
			</td>
		</tr>		
		
	{/if}
		</table>

{/foreach}
<br>

Всего записей: {$num_total}.
Показаны записи: с {$num_start} по {$num_finish}
<br><br>
<table border=1 class="mainTable">
    
   <tr> 
     <th>GovRuID</th>
     <th>Дата публ.</th>
     <th>НМЦК</th>
     <th>Цена заявки / <br>Цена победителя</th>
     <th style="widht:500px">Название</th>
     <th style="widht:500px">Заказчик</th>
     <th style="widht:500px">Регион</th>
     <th>Допуск</th>
     <th>Место</th>
     <th>Участник /<br>Победитель</th>
   </tr>
   
	{foreach from=$arr_result.tenders key=event_key item=event_item }
	<tr 
		{if $event_item.admitted==0 && $event_item.price<>0}
			class='red'
		{elseif $event_item.tender_status_id==4}
			class='pink'
		{elseif $event_item.tender_status_id==3 && $event_item.place==1 && $event_item.pre_admitted==1 && $event_item.admitted==1 && $event_item.price<>0 }
			class='green'
		{elseif $event_item.tender_status_id==3 && $event_item.place==1 && $event_item.pre_admitted<>1 && $event_item.admitted==1 && $event_item.price<>0 }
			class='bright_green'
		{/if}
		>
		<td>
			{if $event_item.order_app<>""}
				<div class='medium_bold'>Заказ заявка: <a href="javascript:go_table('{$event_item.order_app_id}','заказ')">{$event_item.order_app}</a></div><br>
			{/if}
			
			<a href="{$event_item.link}" target="_blank">{$event_item.govruid}</a>
			<div class='small'>{$event_item.tender_law}</div>
			<div class='small'>{$event_item.tender_type}</div>
			<div class='small'>{$event_item.tender_status}</div>
		</td>
		<td>{$event_item.public_date}</td>
		<td class='sum'>{number_format($event_item.cost,2,',',' ')}</td>
		<td class='sum'>
			<b>Участник:</b> {number_format($event_item.price,2,',',' ')} <br> 
			<b>Победитель:</b> {number_format($event_item.winner_price,2,',',' ')}</td>
		<td class='title'>{$event_item.title}</td>
		<td class='title'>
			<div class='small'>
			{$event_item.customer_title}
			<br>({$event_item.customer_inn}{if $event_item.customer_kpp<>""}, {$event_item.customer_kpp}{/if})
			</div>
		</td>
		<td class='title'><div class='small'>{$event_item.okrug} / {$event_item.region}</div></td>
		<td>
			{$event_item.pre_admitted} / {$event_item.admitted}
			{if $event_item.admitted==0 && $event_item.price<>0 }
				<br><div class='small'>{$event_item.reject_reason}; {$event_item.reject_explanation}</div>
			{elseif $event_item.pre_admitted==1 && $event_item.admitted==0 && $event_item.price==0 }
				<br><div class='small'>Не торговался</div>
			{elseif $event_item.place==1 && $event_item.pre_admitted<>1 && $event_item.admitted==1 && $event_item.price<>0 }
				<br><div class='small'>Единственная заявка</div>
			{/if}
		</td>
		<td>{$event_item.place}</td>
		<td class='title_left'>
			<b>Участник:</b> {$event_item.supplier_title}{if $event_item.supplier_form<>""},{$event_item.supplier_form}{/if}
			<br>({$event_item.supplier_inn}, {$event_item.supplier_kpp})
			{if $event_item.supplier_contact<>""}<div class='small'><br>Контактное лицо: {$event_item.supplier_contact}</div>{/if}
			{if $event_item.supplier_phone<>""}<div class='small'><br>Телефон: {$event_item.supplier_phone}</div>{/if}
			{if $event_item.supplier_email<>""}<div class='small'><br>Email: {$event_item.supplier_email}</div>{/if}
			<br><br>
			<b>Победитель:</b> {$event_item.winner_title}{if $event_item.winner_form<>""},{$event_item.winner_form}{/if}
			<br>({$event_item.winner_inn}, {$event_item.winner_kpp})			
		</td>
	</tr>
	{/foreach}

</table>
{/if}
<br>

<input type=hidden name="_date1" value="{$date1}">
<input type=hidden name="_date2" value="{$date2}">
<input type=hidden name="_inn" value="{$inn}">
<input type=hidden name="_kpp" value="{$kpp}">

<input type=hidden name="_line_id" id="_line_id">
<input type=hidden name="_type" id="_type">
<input type=hidden name="xsl" id="xsl_ex" value="0" />