<link rel="stylesheet" type="text/css" href="add/styles/reports_styles.css">
<script type="text/javascript" src="add/js/reports_scripts.js"></script>



<br>
{if count($materials)>0 }

<div class="top">
	
	<table border=0>
		<tr>
			<td style='vertical-align: top;'>
			
				<table class="controlsTable">
				<tr>
			        <td><input type="checkbox" name="req_show" value='1'{if $req_show=="1"} checked{/if}></td>
			    	<td class='param' style='width:130px;'>Показывать ТЗ</td>
			    </tr>
			    <tr style='height:5px'><td colspan='2'>&nbsp;</td></tr>
				<tr>
			        <td colspan=2 class="param">Статусы ТЗ:</td>
			    </tr>	
				<tr>
			        <td><input type="checkbox" name="req_status_00" value='NULL'{if $req_status_00=="NULL"} checked{/if}></td>
			    	<td class='param'>Пусто</td>
			    </tr>
				<tr>
			        <td><input type="checkbox" name="req_status_01" value='1'{if $req_status_01==1} checked{/if}></td>
			    	<td class='param'>01. В работе</td>
			    </tr>
				<tr>
			        <td><input type="checkbox" name="req_status_02" value='2'{if $req_status_02==2} checked{/if}></td>
			    	<td class='param'>02. Сделано</td>
			    </tr>
				<tr>
			        <td><input type="checkbox" name="req_status_10" value='3'{if $req_status_10==3} checked{/if}></td>
			    	<td class='param'>10. Утверждено</td>
			    </tr>
			    </table>
			    
			    <br>
			    
				<table class="controlsTable">
					<tr>
						<td class='param'>Статус проверки ТЗ:</td>
					</tr>
					<tr>
						<td>
						<select name='req_check_status'>
							<option></option>
							<option{if $req_check_status=="Не проверенные"} selected{/if}>Не проверенные</option>
							<option{if $req_check_status=="Проверено"} selected{/if}>Проверено</option>
							<option{if $req_check_status=="Исправлено"} selected{/if}>Исправлено</option>
							<option{if $req_check_status=="Принято"} selected{/if}>Принято</option>
							<option{if $req_check_status=="Кроме принятых"} selected{/if}>Кроме принятых</option>
						</select>
						</td>
					</tr>
				</table>
			    
    
			</td>
			
			<td style='vertical-align: top;'>

				<table class="controlsTable">
				<tr>
			        <td><input type="checkbox" name="app_show" value='1'{if $app_show=="1"} checked{/if}></td>
			    	<td class='param' style='width:150px;'>Показывать заявку</td>
			    </tr>
			    <tr><td colspan='2'>&nbsp;</td></tr>
				<tr>
			        <td colspan=2 class="param">Статусы заявки:</td>
			    </tr>	
				<tr>
			        <td><input type="checkbox" name="app_status_00" value='NULL'{if $app_status_00=="NULL"} checked{/if}></td>
			    	<td class='param'>Пусто</td>
			    </tr>
				<tr>
			        <td><input type="checkbox" name="app_status_01" value='1'{if $app_status_01==1} checked{/if}></td>
			    	<td class='param'>01. В работе</td>
			    </tr>
				<tr>
			        <td><input type="checkbox" name="app_status_02" value='2'{if $app_status_02==2} checked{/if}></td>
			    	<td class='param'>02. Сделано</td>
			    </tr>
				<tr>
			        <td><input type="checkbox" name="app_status_10" value='3'{if $app_status_10==3} checked{/if}></td>
			    	<td class='param'>10. Утверждено</td>
			    </tr>
			    </table>
			    
			    <br>

				<table class="controlsTable">
					<tr>
						<td class='param'>Статус проверки заявки:</td>
					</tr>
					<tr>
						<td>
						<select name='app_check_status'>
							<option></option>
							<option{if $app_check_status=="Не проверенные"} selected{/if}>Не проверенные</option>
							<option{if $app_check_status=="Проверено"} selected{/if}>Проверено</option>
							<option{if $app_check_status=="Исправлено"} selected{/if}>Исправлено</option>
							<option{if $app_check_status=="Принято"} selected{/if}>Принято</option>
							<option{if $app_check_status=="Кроме принятых"} selected{/if}>Кроме принятых</option>
						</select>
						</td>
					</tr>
				</table>

			</td>
			
			<td style='vertical-align: top;'>

				<table class="controlsTable">
					<tr>
						<td class='param'>Режим списка:</td>
					</tr>
					<tr>
						<td>
						<select name='list_format'>
							<option{if $list_format=="Список новый"} selected{/if}>Список новый</option>
							<option{if $list_format=="Список"} selected{/if}>Список</option>
							<option{if $list_format=="Таблица"} selected{/if}>Таблица</option>
							<option{if $list_format=="ТЗ"} selected{/if}>ТЗ</option>
							<option{if $list_format=="ТЗ без ГОСТ"} selected{/if}>ТЗ без ГОСТ</option>
							<option{if $list_format=="Таблица простая"} selected{/if}>Таблица простая</option>
							<option{if $list_format=="Список с заявкой"} selected{/if}>Список с заявкой</option>
						</select>
						</td>
					</tr>
				</table>
				
				<table class="controlsTable">
					<tr>
						<td class='param'>Режим описания:</td>
					</tr>
					<tr>
						<td>
						<select name='position_format'>
							<option{if $position_format=="Как в базе"} selected{/if}>Как в базе</option>
							<option{if $position_format=="Проверка построчно"} selected{/if}>Проверка построчно</option>
							<option{if $position_format=="Проверка целиком"} selected{/if}>Проверка целиком</option>
							<option{if $position_format=="Орфография"} selected{/if}>Орфография</option>
							<option{if $position_format=="Без текста"} selected{/if}>Без текста</option>
						</select>
						</td>
					</tr>
				</table>
				
				<br>

				<table class="controlsTable">
					<tr>
						<td class='param'>Группировки:</td>
					</tr>
					<tr>
						<td>
						<select name='grouping'>
							<option{if $grouping==""} selected{/if}></option>
							<!--  <option{if $grouping=="Категории"} selected{/if}>Категории</option> -->
							<option{if $grouping=="Группы"} selected{/if}>Группы</option>
							<option{if $grouping=="ГОСТ"} selected{/if}>ГОСТ</option>
						</select>
						</td>
					</tr>
				</table>

				<table class="controlsTable">
					<tr>
						<td class='param'>Сортировка:</td>
					</tr>
					<tr>
						<td>
						<select name='sorting'>
							<option{if $sorting=="№ Смета"} selected{/if}>№ Смета</option>
							<option{if $sorting=="№ ТЗ"} selected{/if}>№ ТЗ</option>
							<option{if $sorting=="Название смета"} selected{/if}>Название смета</option>
							<option{if $sorting=="Название ТЗ"} selected{/if}>Название ТЗ</option>
							<option{if $sorting=="Название заявка"} selected{/if}>Название заявка</option>
						</select>
						</td>
					</tr>
				</table>				
			
			</td>
			
			<td style='vertical-align: top;'>
				<table class="controlsTable">
					<tr>
						<td class='param'>№ смета:</td>
						<td><input type='text' size=5 name="est_num" value='{$est_num}'></td>
					</tr>
					<tr>
						<td class='param'>№ ТЗ:</td>
						<td><input type='text' size=5 name="req_num" value='{$req_num}'></td>
					</tr>
					<tr>
						<td class='param'>Название смета:</td>
						<td><input type='text' size=40 name="est_title" value='{$est_title}'></td>
					</tr>
					<tr>
						<td class='param'>Название ТЗ:</td>
						<td><input type='text' size=40 name="req_title" value='{$req_title}'></td>
					</tr>
					<tr>
						<td class='param'>Название заявка:</td>
						<td><input type='text' size=40 name="app_title" value='{$app_title}'></td>
					</tr>
					<tr>
						<td class='param'>Группа:</td>
						<td>
							<select name='selected_group'>
								<option{if $selected_group=="[ВСЕ ГРУППЫ]"} selected{/if}>[ВСЕ ГРУППЫ]</option>
								<option{if $selected_group=="[БЕЗ ГРУППЫ]"} selected{/if}>[БЕЗ ГРУППЫ]</option>
								{foreach $materials.groups item=group_name}
									{if $group_name<>""}									
									<option{if $selected_group=="{$group_name}"} selected{/if}>{$group_name}</option>
									{/if}
								{/foreach}
							</select>
						</td>
					</tr>
				</table>				

			</td>
			
		</tr>
	</table>

<br>
	<table border=0>
		<tr>
			<td colspan='2'>
    		    <input class='refresh_button' type="submit" value="Обновить" class="no_print" onclick="document.getElementById('xsl_ex').value='1'; document.getElementById('report_form').submit(); return false" />
			</td>
    	</tr>    
	</table>
	

</div>


<h1>Список материалов</h1>
<h3>Количество выбрано: {$materials.data.num_total_actual}</h3>
{if $count_changed>0} <h3>Изменено статусов: {$count_changed}</h3> {/if}

<!-- ================================================================ -->
{if $list_format=='Таблица'}
<!-- ================================================================ -->

<table class="mainTable">
    
   <tr> 
     <th rowspan='3'>Статус ТЗ</th>
     <th rowspan='3'>Название ТЗ</th>
     <th rowspan='3'>Параметры ТЗ</th>
     <th colspan='{$num_projects*3}'>Проекты</th>
   </tr>

   <tr>
   	 {foreach $materials.projects key=p_key item=p_item } 
    	 <th colspan='3'>{substr($p_item.title,0,15)}</th>
     {/foreach}
   </tr>
   <tr>
   	 {foreach $materials.projects key=p_key item=p_item } 
    	 <th>Название</th>
    	 <th>№См</th>
    	 <th>№Сл</th>
     {/foreach}
   </tr>
   
	{foreach from=$materials.req_obj key=s_key item=s_item}
   		<tr class='yellow'>
   			<td colspan='{$num_projects*3+9}'>
   				<h1>Стандарт: {if $s_key==""}[Пусто]{else}<a href='http://docs.cntd.ru/document/{str_replace("ГОСТ ","gost-",str_replace("ГОСТ Р ","gost-r-",$s_key))}' target='_blank'>{$s_key}</a>{/if}</h1> 
   			</td>
   		</tr>
   		
		{foreach from=$s_item key=r_key item=r_item}
		<tr {if in_array($r_key, $req_obj_checked, true)} class='aquamarine'{/if}>
			<td class='title_col_sm'><b>{$r_item.req_data.status}</b><br>{$r_item.req_data.user}<br><font class='small'>{$r_item.req_data.modify_date}<br>ver:{$r_item.req_data.version}</font></td>
			<td class='title_col_sm'>
				{$r_item.req_data.title}<br><b>{$r_item.req_data.standart}</b>
				
				<div style='white-space: nowrap;'><b>Группа:</b>
					<input type="text" style='background:azure;font-style: italic;' name="grp_obj{$r_item.req_data.obj_uid}" value='{$r_item.req_data.obj_grp}'><br>
				</div>
				
			</td>
			<td class='title_col_bg'>
				<font style='font-size:12px;'>{$r_item.req_data.description}</font>
			</td>
	   	 {foreach $materials.projects key=p_key item=p_item } 
			<td class='title_col_sm'><font class='small'>{$r_item.projects[$p_key].est_title}</font></td>
			<td class='num_sm_center'>{$r_item.projects[$p_key].est_num}</td>
			<td class='num_sm_center'>{$r_item.projects[$p_key].rnd_num}</td>
	     {/foreach}
	     	
		</tr>
		{/foreach}
	{/foreach}
	
</table>

<!-- ================================================================ -->
{else if $list_format=='Список'}
<!-- ================================================================ -->

 {foreach $materials.projects key=p_key item=p_item } 
	<div style='position:relative;left:20px;'><b>Проект: {$p_item.title} [ProjectUID:{$p_item.uid}]</b></div>
 {/foreach}

{foreach from=$materials.req_obj key=s_key item=s_item}
	
	<hr>
	
	<div style='display: table;'>

		<div style='display: table-row;'>
			<div style='width:600px;display:table-cell;' >
				<div style="background:#ffffb7;padding: 3px 5px;width:600px;">
					<h1>{if $s_key==""}Стандарт: [Пусто]{else}Стандарт: <a href='http://docs.cntd.ru/document/{str_replace("ГОСТ ","gost-",str_replace("ГОСТ Р ","gost-r-",$s_key))}' target='_blank'>{$s_key}</a>{/if}</h1>
				</div>
	
				<div style="width:600px;">
					<!-- ссылки -->
		   				{foreach $r_item.links key=l_key item=l_item}
		   			 		<a href='{$l_item}' target='_blank'>{$l_item}</a><br>
		   			 	{/foreach}
		   			 	
		   		</div>
				
			</div>		
		</div>
		
	{foreach from=$s_item key=r_key item=r_item}
	<div style='display: table-row;'>
	
		{if $req_show==1}
		<div style='width:600px;display:table-cell;' >
		
			<div
				{if $max_check_status[$r_key]=="Проверено"} 
					style='width:600px;background-color:Aquamarine;'
				{else if $max_check_status[$r_key]=="Принято"} 
					style='width:600px;background-color:#EEC591;'
				{else} 
				style='width:600px;'{/if}>	
		
				<div style="background:AliceBlue;padding: 2px 3px;margin-top:10px;margin-bottom:5px;">
					 <h2><input type='checkbox' name='req_upd{$r_key}' value='{$r_item.req_data.obj_uid}'>&nbsp;{if $r_item.req_data.title==""}[Название:Пусто]{else}{$r_item.req_data.title}{/if}</h2>
				</div>
				
				<div style='white-space: nowrap;margin-top:10px;margin-bottom:10px;'><b>Группа:</b>
					<input style='background:azure;font-style:italic;' type="text" size='60' name="grp_obj{$r_item.obj_data.obj_uid}" value='{$r_item.obj_data.obj_grp}'><br>
				</div>
				 
				{if strlen($r_key)==36}
				
				<div
					{if $max_check_status[$r_key]=="" && $r_item.req_data.already_checked<>""} 
						style='background-color:Aquamarine;margin-top:5px;margin-bottom:5px;'
					{else}
						style='margin-top:5px;margin-bottom:10px;'
					{/if}					
				>
					<select name='chk_sta{$r_key}'>
						<option></option>
						<option{if $max_check_status[$r_key]=="Проверено"} selected{/if}>Проверено</option>
						<option{if $max_check_status[$r_key]=="Принято"} selected{/if}>Принято</option>
					</select>
					<font style='font-weight:bold;font-style:italic;color:LightSlateGrey;'>Статус проверки ReqUID: [{$r_key}]</font>				
					{if true || $max_check_status[$r_key]=="" && $r_item.req_data.already_checked<>""}
					&nbsp;<a href='/cb/report.php?id=221&obj_uid={$r_item.obj_data.obj_uid}' target='_blank'>Сравнить версии</a>
					{/if}
				</div>
 
				{/if}

	   			<div style='margin-bottom:10px; font-size: 12px;'><b>Статус: </b>{$r_item.req_data.status} <b>Версия: </b>{$r_item.req_data.version} <b>Пользователь: </b>{$r_item.req_data.user} <b>Дата:</b>{$r_item.req_data.modify_date}</div>
   			
	   			 		
	   			 {foreach $r_item.projects key=p_key item=p_item }
	   			 	<b>Проект: {$p_item.title}: №См:{$r_item.projects[$p_key].est_num} [№ТЗ:{$r_item.projects[$p_key].rnd_num}]</b><br>
	   			 	<b>Смета: {$r_item.projects[$p_key].est_title}</b><br>
	   			 	<b>Заявка: {$r_item.app_data.app_title}</b><br>
	   			 	<br>
	   			 {/foreach} 
	   			 
	 			{if $r_item.req_data.standart<>''}<b>Стандарт: {$r_item.req_data.standart}</b><br><br>{/if}
	 			
				{$r_item.req_data.description}<br>		
			</div>
			
		</div> <!-- cell -->
		{/if}
		
		{if $app_show==1}
		<div style='width:600px;display:table-cell;' >
			<div style='width:600px;'>	
		
				<div style="background:AliceBlue;padding: 2px 3px;margin-top:10px;margin-bottom:5px;">
					 <h2><input type='checkbox' name='app_upd{$r_key}' value='{$r_item.obj_data.obj_uid}'>&nbsp;{if $r_item.app_data.title==""}[Название:Пусто]{else}{$r_item.app_data.title}{/if}</h2>
				</div>
				
				<div style='white-space: nowrap;margin-top:10px;margin-bottom:10px;'><b>Группа:</b>
					<input style='background:azure;font-style:italic;' type="text" size='60' name="grp_obj{$r_item.obj_data.obj_uid}" value='{$r_item.obj_data.obj_grp}'><br>
				</div>
				 
				{if strlen($r_key)==36}
				
				<div
					{if $max_check_status[$r_key]=="" && $r_item.app_data.already_checked<>""} 
						style='background-color:Aquamarine;margin-top:5px;margin-bottom:5px;'
					{else}
						style='margin-top:5px;margin-bottom:10px;'
					{/if}					
				>
					<select name='chk_sta{$r_key}'>
						<option></option>
						<option{if $max_check_status[$r_key]=="Проверено"} selected{/if}>Проверено</option>
						<option{if $max_check_status[$r_key]=="Принято"} selected{/if}>Принято</option>
					</select>
					<font style='font-weight:bold;font-style:italic;color:LightSlateGrey;'>Статус проверки ReqUID: [{$r_key}]</font>				
					{if true || $max_check_status[$r_key]=="" && $r_item.app_data.already_checked<>""}
					
					{/if}
				</div>
 
				{/if}

	   			<div style='margin-bottom:10px; font-size: 12px;'><b>Статус: </b>{$r_item.app_data.status} <b>Версия: </b>{$r_item.app_data.version} <b>Пользователь: </b>{$r_item.app_data.user} <b>Дата:</b>{$r_item.app_data.modify_date}</div>
	   			
	   				{foreach $r_item.links key=l_key item=l_item}
	   			 		<a href='{$l_item}' target='_blank'>{$l_item}</a><br>
	   			 	{/foreach}
	   			 	<br>
	   			 		
	   			 {foreach $r_item.projects key=p_key item=p_item }
	   			 	<b>Проект: {$p_item.title}: №См:{$r_item.projects[$p_key].est_num} [№ТЗ:{$r_item.projects[$p_key].rnd_num}]</b><br>
	   			 	<b>Смета: {$r_item.projects[$p_key].est_title}</b><br>
	   			 	<b>Заявка: {$r_item.app_data.app_title}</b><br>
	   			 	&nbsp;<a href='/cb/report.php?id=221&obj_uid={$r_item.obj_data.obj_uid}&mode=req2app&proj_uid={$p_key}' target='_blank'>Сравнить с ТЗ</a>
	   			 	<br>
	   			 {/foreach} 
	   			 
	 			{if $r_item.app_data.standart<>''}<b>Стандарт: {$r_item.app_data.standart}</b><br><br>{/if}
	 			
				{$r_item.app_data.description}<br>		
			</div>
		
		</div> <!-- cell -->
		{/if}
		
	</div> <!-- row -->
	{/foreach}
			
	
</div>

	{/foreach}

<!-- ================================================================ -->
{else if $list_format=='Список новый'}
<!-- ================================================================ -->


<div class='div_table'>
<!-- 
	<div class='div_caption'>
		Отображаемые проекты
	</div>
 -->
	<div class='div_row'>
		<div class='div_col div_col_mid div_smallpadding div_bold'>Проект</div>
		<div class='div_col div_col_sm div_smallpadding div_bold'>Заказчик</div>
		<div class='div_col div_col_sm div_smallpadding div_bold'>Тип</div>
	</div>

{foreach $materials.projects key=proj_uid item=proj_item}
	<div class="div_group">
		<div class='div_row'>
			<div class='div_col div_col_mid div_smallpadding'>{$proj_item.title}</div>
			<div class='div_col div_col_sm div_smallpadding'>{$proj_item.customer}</div>
			<div class='div_col div_col_sm div_smallpadding'>{$proj_item.project_type}</div>
		</div>
	</div>
{/foreach}
</div>

{if $grouping=="ГОСТ"}

	{$group_array = $materials.standarts}

{else if $grouping=="Группы"}

	{$group_array = $materials.groups}

{else}

	{$group_array = array("")}

{/if}
	
{foreach $group_array item=group_title} 

	{if $grouping<>""}<div class='div_header'>{if $group_title<>""}{$group_title}{else}[Пусто]{/if}</div>{/if}		

{foreach $materials.obj key=obj_uid item=obj_item}
	
	{if $obj_item@index > 500 } {break} {/if}
	
	{if $obj_uid<>"" }
	
		{if $grouping=="ГОСТ" && $obj_item.req.standart<>$group_title} {continue} {/if}
		{if $grouping=="Группы" && $obj_item.common.group_title<>$group_title} {continue} {/if}
	
	
		<div class='div_table'>
			<div class='div_caption'>
				<!--  ObjUID: {$obj_uid}-->
				
				<div class='div_table_sub'>
					<div class='div_row'>
						<div class='div_col div_col_sm div_bold '>
							Группа:
						</div>
						<div class='div_col div_col_mid '>
							<input 
								style='background:azure;font-style:italic;' 
								type="text" 
								size='40' 
								name="grpobjtext_{$obj_uid}" 
								value='{$obj_item.common.group_title}'>
						</div>
						<div class='div_col div_col_mid div_nowrap'>
							Обновить: <input type='checkbox' name='updategroupcheck_{$obj_uid}' value='{$obj_uid}'>
						</div>
						{if $obj_item.common.group_title<>""}
						<div class='div_col div_col_mid '>
							<a href='/cb/report.php?id=221&group_id={$obj_item.common.group_id}&mode=compare_group' target='_blank'>Сравнить группу</a>
						</div>
						{/if}
					</div>
				</div>
					
				{foreach $obj_item.links key=link_hash item=link_item}
							<div class='div_table_sub'>
								<div class='div_row'>
									<div class='div_col div_col_mid div_nopadding'><a href='{$link_item}' target='_blank'>{substr($link_item,0,40)}{if strlen($link_item)>40}...{/if}</a></div>
								</div>
							</div>
				{/foreach}
				
				{foreach $obj_item.projects key=proj_uid item=proj_item}
					<div class='div_table_sub'>
						<!--
						<div class='div_caption'>
							<div class='div_table_sub'>
								<div class='div_row'>
									<div class='div_col div_col_mid div_nopadding'>Проект: {$proj_item.title}</div>
									<div class='div_col div_col_mid div_nopadding'>Заказчик: {$proj_item.customer}</div>
								</div>
							</div>
						</div>
						-->
						
						<div class="div_group">
							<div class='div_row'>
								<div class='div_col div_col_sm div_nowrap div_notbold'>№СМ: {$proj_item.est_num}</div>
								<div class='div_col div_col_sm div_nowrap div_notbold'>№ТЗ: {$proj_item.rnd_num}</div>
								<div class='div_col {if count($materials.projects)>1}div_col_mid{else}div_col_big{/if} div_notbold'>{$proj_item.est_title}</div>
								{if count($materials.projects)>1}<div class='div_col div_col_mid div_notbold'>{$proj_item.title}</div>{/if}
								<div class='div_col div_col_sm div_nowrap div_notbold'><a href='/cb/report.php?id=221&obj_uid={$obj_uid}&mode=req2app&proj_uid={$proj_uid}' target='_blank'>Сравнить ТЗ и заявку</a></div>
							</div>
						</div>					
					</div>					
				{/foreach}				
			</div>
			
			<!-- 
			<div class="div_group">
			
				<div class='div_row'>
					<div class='div_col div_col_sm div_col_head div_smallpadding div_notbold'>UID:</div>
					<div class='div_col div_col_mid div_col_head div_smallpadding div_notbold'>ТЗ: {$obj_item.req.uid}</div>
					<div class='div_col div_col_sm div_col_head div_smallpadding div_notbold'>
								<div class='div_table_sub'>
									<div class='div_row'>
										<div class='div_col div_nowrap div_nopadding div_blue div_bold '>Применить:</div>
										<div class='div_col div_nowrap div_nopadding div_middle_valign '><input type='checkbox' name='param_upd_req{$obj_item.req.uid}' value='{$obj_item.req.uid}'></div>
									</div>
								</div>
					</div>
					<div class='div_col div_col_mid div_col_head div_smallpadding div_notbold'>Заявка: {$obj_item.app.uid}</div>
					<div class='div_col div_col_sm div_col_head div_smallpadding div_notbold'>
								<div class='div_table_sub'>
									<div class='div_row'>
										<div class='div_col div_nowrap div_nopadding div_blue div_bold '>Применить:</div>
										<div class='div_col div_nowrap div_nopadding div_middle_valign '><input type='checkbox' name='param_upd_req{$obj_item.req.uid}' value='{$obj_item.req.uid}'></div>
									</div>
								</div>
					</div>
				</div>
			</div>
			 -->
			
			{if $app_show==1 || $req_show==1}
			<div class="div_group">
				<div class='div_row'>
					<div class='div_col div_col_sm div_col_head'>Имя:</div>
					{if $req_show==1}
					<div class='div_col div_col_mid div_col_head'>
						{if $position_format=="Орфография"}
							{$obj_item.req.title_orpho}
						{else}
							{$obj_item.req.title}
						{/if}
						<div class='div_smallfont div_notbold  div_grey'>Статус: {$obj_item.req.status}</div>
						<div class='div_smallfont div_notbold  div_grey'>Версия: {$obj_item.req.version} от {$obj_item.req.modify_date}</div>
						<div class='div_smallfont div_notbold  div_grey'>Пользователь: {$obj_item.req.user}</div>
					</div>
					<div class='div_col div_col_sm div_col_head'>
						<div class='div_nowrap div_bold div_nopadding '>
							Обновить: <input type='checkbox' id='reqcheckallow_{$obj_uid}' name='reqcheckallow_{$obj_uid}' value='{$obj_item.req.uid}'>
						</div>

						<div class='div_table_sub'>
						{foreach $checks.req.title.checks key=check_key item=check_item}
							<div class='div_row'>
								<div class='div_col div_nowrap div_nopadding div_smallfont div_notbold '>
									{$check_item}
								</div>
								<div class='div_col div_nowrap div_nopadding div_middle_valign '>
									<input type='checkbox' name='reqcheck_title_{$check_key}_{$obj_item.req.uid}' value='{$obj_uid}' onclick="setCheckboxById('reqcheckallow_{$obj_uid}')"{if $obj_item.req.checks.title[$check_key]==1} checked{/if}>
								</div>
							</div>
						{/foreach}
						</div>
					</div>
					{/if}
					{if $app_show==1}
					<div class='div_col div_col_mid div_col_head'>
						{if $position_format=="Орфография"}
							{$obj_item.app.title_orpho}
						{else}
							{$obj_item.app.title}
						{/if}
						<div class='div_smallfont div_notbold  div_grey'>Статус: {$obj_item.app.status}</div>
						<div class='div_smallfont div_notbold  div_grey'>Версия: {$obj_item.app.version} от {$obj_item.app.modify_date}</div>
						<div class='div_smallfont div_notbold  div_grey'>Пользователь: {$obj_item.app.user}</div>
					</div>
					<div class='div_col div_col_sm div_col_head'>
						<div class='div_nowrap div_bold div_nopadding '>
							Обновить: <input type='checkbox' id='appcheckallow_{$obj_uid}' name='appcheckallow_{$obj_uid}' value='{$obj_item.app.uid}'>
						</div>
						
						<div class='div_table_sub'>
						{foreach $checks.app.title.checks key=check_key item=check_item}
							<div class='div_row'>
								<div class='div_col div_nowrap div_nopadding div_smallfont div_bold '>
									{$check_item}
								</div>
								<div class='div_col div_nowrap div_nopadding div_middle_valign '>
									<input type='checkbox' name='appcheck_title_{$check_key}_{$obj_item.app.uid}' value='{$obj_uid}' onclick="setCheckboxById('appcheckallow_{$obj_uid}')">
								</div>
							</div>
						{/foreach}
						</div>
					</div>
					{/if}
				</div>
			</div>
			{/if}
			
			{if $obj_item.req.standart<>"" || $obj_item.app.standart <>'' }
			{if $app_show==1 || $req_show==1}
			<div class="div_group">
				<div class='div_row'>
					<div class='div_col div_col_sm div_col_head'>Ст:</div>
					{if $req_show==1}
					<div class='div_col div_col_mid div_col_head'>
						<a href='http://docs.cntd.ru/document/{str_replace("ГОСТ ","gost-",str_replace("ГОСТ Р ","gost-r-",$obj_item.req.standart))}' target='_blank'>{$obj_item.req.standart}</a>
					</div>
					<div class='div_col div_col_sm div_col_head'>&nbsp;</div>
					{/if}
					{if $app_show==1}
					<div class='div_col div_col_mid div_col_head'>
						<a href='http://docs.cntd.ru/document/{str_replace("ГОСТ ","gost-",str_replace("ГОСТ Р ","gost-r-",$obj_item.app.standart))}' target='_blank'>{$obj_item.app.standart}</a>
					</div>
					<div class='div_col div_col_sm div_col_head'>&nbsp;</div>
					{/if}
				</div>
			</div>
			{/if}
			{/if}

			{if $app_show==1 || $req_show==1}
			<div class="div_group div_top_valign">
				<div class='div_row div_top_valign'>
					<div class='div_col div_col_sm div_col_head'>&nbsp;</div>
					{if $req_show==1}
					<div class='div_col div_col_mid div_col_head'>
						<textarea rows="2" cols="50" name='reqcheck_objcomment_{$obj_item.req.uid}_{$obj_uid}' onchange="setCheckboxById('reqcheckallow_{$obj_uid}')"></textarea>
					</div>
					<div class='div_col div_col_sm div_col_head div_top_valign' >
						<!-- req bugs -->
						{foreach $obj_item.req.bugs item=bug}
							<div class='div_wrap div_notbold div_nopadding div_top_valign div_smallfont' >
								<a href='{$site_root}//view_line2.php?table=921&line={$bug.id}&back_url={$base64_current_url}' target='_blank' title='{$bug.text}'>[{$bug.num}]</a>
								{mb_substr($bug.text,0,10)}{if mb_strlen($bug.text)>10}...{/if}
							</div>
						{/foreach}
					</div>
					{/if}
					{if $app_show==1}
					<div class='div_col div_col_mid div_col_head'>
						<textarea rows="2" cols="50" name='appcheck_objcomment_{$obj_item.app.uid}_{$obj_uid}' onchange="setCheckboxById('appcheckallow_{$obj_uid}')"></textarea>
					</div>
					<div class='div_col div_col_sm div_col_head'>
						<!-- app bugs -->
					</div>
					{/if}
				</div>
			</div>
			{/if}

			{if $app_show==1 || $req_show==1}
			<div class="div_group div_top_valign">
				<div class='div_row div_top_valign'>
					<div class='div_col div_col_sm div_col_head'>&nbsp;</div>
					{if $req_show==1}
					<div class='div_col div_col_mid div_col_head div_nowrap '>
						Статус проверки: 
						<select name='reqcheckstatus_{$obj_uid}_{$obj_item.req.uid}' onchange="setCheckboxById('reqcheckallow_{$obj_uid}')">
							<option{if $obj_item.req.check_common_status=='В работе'} selected{/if}>В работе</option>
							<option{if $obj_item.req.check_common_status=='Проверено'} selected{/if}>Проверено</option>
							<option{if $obj_item.req.check_common_status=='Принято'} selected{/if}>Принято</option>
						</select>
					</div>
					<div class='div_col div_col_sm div_col_head div_top_valign' >
					</div>
					{/if}
					{if $app_show==1}
					<div class='div_col div_col_mid div_col_head'>
						Статус проверки: 
						<select name='appcheckstatus_{$obj_uid}_{$obj_item.app.uid}'>
							<option>В работе</option>
							<option>Проверено</option>
							<option>Принято</option>
						</select>					
					</div>
					<div class='div_col div_col_sm div_col_head'>
					</div>
					{/if}
				</div>
			</div>
			{/if}

			
		{if $position_format=="Без текста"}
			
			<!-- ничего не выводим -->
			
		{else if $position_format=="Как в базе"}
		
			{if $app_show==1 || $req_show==1}
			<div class="div_group">
				<div class='div_row'>
					<div class='div_col div_col_sm '>&nbsp;</div>
					{if $req_show==1}
					<div class='div_col div_col_mid '>{$obj_item.req.description_orig_br}</div>
					<div class='div_col div_col_sm '>&nbsp;</div>
					{/if}
					{if $app_show==1}
					<div class='div_col div_col_mid '>{$obj_item.app.description_orig_br}</div>
					<div class='div_col div_col_sm '>&nbsp;</div>
					{/if}
				</div>
			</div>
			{/if}
		
		{else if $position_format=="Проверка целиком"}

			{if $app_show==1 || $req_show==1}
			<div class="div_group">
				<div class='div_row'>
					<div class='div_col div_col_sm '>&nbsp;</div>
					{if $req_show==1}
					<div class='div_col div_col_mid '>{$obj_item.req.description}</div>
					<div class='div_col div_col_sm '>&nbsp;</div>
					{/if}
					{if $app_show==1}
					<div class='div_col div_col_mid '>{$obj_item.app.description}</div>
					<div class='div_col div_col_sm '>&nbsp;</div>
					{/if}
				</div>
			</div>
			<div class='div_caption div_notbold '>
					<div class='div_col_big'>{$obj_item.common.reqapp_diff}</div>
			</div>
			{/if}

		{else if $position_format=="Орфография"}

			{if $app_show==1 || $req_show==1}
			<div class="div_group">
				<div class='div_row'>
					<div class='div_col div_col_sm '>&nbsp;</div>
					{if $req_show==1}
					<div class='div_col div_col_mid '>{$obj_item.req.description_orpho}</div>
					<div class='div_col div_col_sm '>&nbsp;</div>
					{/if}
					{if $app_show==1}
					<div class='div_col div_col_mid '>{$obj_item.app.description_orpho}</div>
					<div class='div_col div_col_sm '>&nbsp;</div>
					{/if}
				</div>
			</div>
			{/if}
		
		{else if $position_format=="Проверка построчно"}
		
			{$max_lines = max(count($obj_item.req.description_array),count($obj_item.app.description_array)) }
			
			{for $i=0 to $max_lines}
				{if $obj_item.req.description_array[$i]<>"" || $obj_item.app.description_array[$i] <>'' }
					<div class="div_group div_top_valign">
						{if $app_show==1 || $req_show==1}
						<div class='div_row'>
							<div class='div_col div_col_sm '>[{$i}]:</div>
							
							{if $req_show==1}
							<div class='div_col div_col_mid '>{$obj_item.req.description_array[$i].text}</div>
							<div class='div_col div_col_sm '>

								<div class='div_table_sub'>
									<div class='div_row'>
										{foreach $checks.req.description key=check_group_key item=check_item_array}
										<div class='div_col div_col_sm div_nowrap div_nopadding'>
											<div class='div_table_sub'>
												<div class='div_row'>
													<div class='div_col  div_nopadding div_smallfont div_bold div_col_sm1 div_border'>
														<div class='div_table_sub'>
															<div class='div_row'>
																<div class='div_col  div_nopadding div_smallfont div_bold div_col_sm1 '>
																	{$check_item_array.name}
																</div>
																<div class='div_col  div_nopadding div_smallfont div_bold div_col_sm1 '>
																	<input 
																		type='checkbox' 
																		name='reqcheck_description_{$check_group_key}_main_{$obj_item.req.uid}_{$obj_item.req.description_array[$i].hash}' 
																		value='{$obj_uid}' 
																		onchange="setCheckboxById('reqcheckallow_{$obj_uid}')" 
																		{if $obj_item.req.description_array[$i].checks[$check_group_key]['main']==1} checked{/if}>
																</div>
															</div>
															
														</div>
													</div>
												</div>
												<div class='div_row'>
													<div class='div_col div_col_sm1 div_nowrap div_nopadding div_smallfont'>
														<div class='div_table_sub'>
														{foreach $check_item_array.checks key=check_key item=check_item }
															<div class='div_row'>
																<div class='div_col div_nowrap div_nopadding div_smallfont div_notbold div_col_sm1'>
																	{$check_item}
																</div>
																<div class='div_col div_nowrap div_nopadding div_smallfont div_notbold div_col_sm1'>
																	<input 
																		type='checkbox' 
																		name='reqcheck_description_{$check_group_key}_{$check_key}_{$obj_item.req.uid}_{$obj_item.req.description_array[$i].hash}' 
																		value='{$obj_uid}' 
																		onchange="setCheckboxById('reqcheckallow_{$obj_uid}')"
																		{if $obj_item.req.description_array[$i].checks[$check_group_key][$check_key]==1} checked{/if}>
																</div>
															</div>
														{/foreach}
														</div>
														
													</div>
												</div>
											</div>
										</div>
										{/foreach}
									</div>
								</div>									
							</div>
							{/if}
							
							{if $app_show==1}
							<div class='div_col div_col_mid '>{$obj_item.app.description_array[$i].text}</div>
							<div class='div_col div_col_sm '>
							
								<div class='div_table_sub'>
									<div class='div_row'>
										{foreach $checks.app.description key=check_group_key item=check_item_array}
										<div class='div_col div_col_sm div_nowrap div_nopadding'>
											<div class='div_table_sub'>
												<div class='div_row'>
													<div class='div_col  div_nopadding div_smallfont div_bold div_col_sm div_border'>
														<div class='div_table_sub'>
															<div class='div_row'>
																<div class='div_col  div_nopadding div_smallfont div_bold div_col_sm1 '>
																	{$check_item_array.name}
																</div>
																<div class='div_col  div_nopadding div_smallfont div_bold div_col_sm1 '>
																	<input type='checkbox' name='appcheck_description_{$check_group_key}_main_{$obj_item.app.uid}_{$obj_item.app.description_array[$i].hash}' value='{$obj_uid}'>
																</div>
															</div>
															
														</div>
													</div>
												</div>
												<div class='div_row'>
													<div class='div_col div_nowrap div_nopadding div_smallfont'>
														<div class='div_table_sub'>
														{foreach $check_item_array.checks key=check_key item=check_item }
															<div class='div_row'>
																<div class='div_col div_nowrap div_nopadding div_smallfont div_notbold div_col_sm1'>
																	{$check_item}
																</div>
																<div class='div_col div_nowrap div_nopadding div_smallfont div_notbold div_col_sm1'>
																	<input type='checkbox' name='appcheck_description_{$check_group_key}_{$check_key}_{$obj_item.app.uid}_{$obj_item.app.description_array[$i].hash}' value='{$obj_uid}'>
																</div>
															</div>
														{/foreach}
														</div>
														
													</div>
												</div>
											</div>
										</div>
										{/foreach}
									</div>
								</div>								
							</div>
							{/if}
							
						</div>
						{/if}							
						
						{if $app_show==1 || $req_show==1}
						<div class='div_row div_top_valign'>						
							<div class='div_col div_col_sm div_border div_nopadding div_top_valign'>&nbsp;</div>
							
							{if $req_show==1}
							<div class='div_col div_col_mid div_border div_nopadding div_top_valign'>
								<textarea rows="2" cols="50" name='reqcheck_linecomment_{$obj_uid}_{$obj_item.req.uid}_{$obj_item.req.description_array[$i].hash}' onchange="setCheckboxById('reqcheckallow_{$obj_uid}')"></textarea>
							</div>							
							<div class='div_col div_col_sm div_border div_nopadding div_top_valign'>
								<!-- req bugs -->
								{foreach $obj_item.req.description_array[$i].bugs item=bug}
									<div class='div_wrap div_notbold div_nopadding div_top_valign div_smallfont div_top_valign div' >
										<a href='{$site_root}//view_line2.php?table=921&line={$bug.id}&back_url={$base64_current_url}' target='_blank' title='{$bug.text}'>[{$bug.num}]</a>
										{mb_substr($bug.text,0,10)}{if mb_strlen($bug.text)>10}...{/if}
									</div>
								{/foreach}
							</div>
							{/if}

							{if $app_show==1}
							<div class='div_col div_col_mid div_border div_nopadding div_top_valign'>
								<textarea rows="2" cols="50" name='reqcheck_linecomment_{$obj_uid}_{$obj_item.req.uid}_{$obj_item.req.description_array[$i].hash}' onchange="setCheckboxById('appcheckallow_{$obj_uid}')"></textarea>
							</div>
							<div class='div_col div_col_sm div_border div_nopadding div_top_valign'>&nbsp;</div>
							{/if}
							
						</div>
						{/if}
						
					</div>
				{/if}
			{/for}
				
		{/if} <!-- формат отображения позиции -->
		
		</div>
		
		
	{/if} <!-- если не пустой obj_uid -->

{/foreach}	

	
{/foreach} <!-- перебираем ГОСТ --> 


<!-- ================================================================ -->
{else if $list_format=='ТЗ'}
<!-- ================================================================ -->

	{foreach $materials.raw key=r_key item=r_item}
		{$r_item.rnd_num}. {$r_item.req_title}. {$r_item.req_description} {if $r_item.req_standart<>''} Требуется полное соответствие {$r_item.req_standart}.{/if}<br>
	{/foreach}

<!-- ================================================================ -->
{else if $list_format=='ТЗ без ГОСТ'}
<!-- ================================================================ -->

	{foreach $materials.raw key=r_key item=r_item}
		{$r_item.rnd_num}. {$r_item.req_title}. {$r_item.req_description} {if $r_item.req_standart<>''}{/if}<br>
	{/foreach}
	
<!-- ================================================================ -->
{else if $list_format=='Таблица простая'}
<!-- ================================================================ -->

	<table border=1>
		<td>ProjUID</td>
		<td>ProTitle</td>
		<td>NumReq</td>
		<td>NumEst</td>
		<td>EstUID</td>
		<td>EstTitle</td>
		<td>ObjUID</td>
		<td>ObjTitle</td>
		<td>ReqUID</td>
		<td>ReqVersion</td>
		<td>ReqDate</td>
		<td>ReqTitle</td>
		<td>ReqDescription</td>
		<td>ReqStatus</td>
		<td>ReqUser</td>
		<td>AppUID</td>
		<td>AppVersion</td>
		<td>AppDate</td>
		<td>AppTitle</td>
		<td>AppDescription</td>
		<td>AppStatus</td>
		<td>AppUser</td>

	{foreach $materials.raw key=r_key item=r_item}
		<tr>
		<td>{$r_item.proj_uid}</td>
		<td>{$r_item.proj_title}</td>
		<td>{$r_item.rnd_num}</td>
		<td>{$r_item.est_num}</td>
		<td>{$r_item.est_uid}</td>
		<td>{$r_item.est_title}</td>
		<td>{$r_item.obj_uid}</td>
		<td>{$r_item.obj_title}</td>
		<td>{$r_item.req_uid}</td>
		<td>{$r_item.req_version}</td>
		<td>{$r_item.req_date}</td>
		<td>{$r_item.req_title}</td>
		<td>{$r_item.req_description}</td>
		<td>{$r_item.req_status}</td>
		<td>{$r_item.req_user}</td>
		<td>{$r_item.app_uid}</td>
		<td>{$r_item.app_version}</td>
		<td>{$r_item.app_date}</td>
		<td>{$r_item.app_title}</td>
		<td>{$r_item.app_description}</td>
		<td>{$r_item.app_status}</td>
		<td>{$r_item.app_user}</td>
		</tr>
	{/foreach}
	</table>
				
{/if}


	<table class="controlsTable">
      	<tr>
      		<td>
    		    <input class='refresh_button' type="submit" value="Обновить" class="no_print" onclick="document.getElementById('xsl_ex').value='1'; document.getElementById('report_form').submit(); return false" />
			</td>
    	</tr>    
	</table>

<br>
{/if}

<h1>Комплексные заказы</h1>

<table class="mainTable">
    
   <tr> 
     <th class='num_col_sm' rowspan=2>#</th>
     <th class='num_col_sm' rowspan=2>ch</th>
     <th rowspan=2 class='type_column'>Тип работы</th>
     <th rowspan=2 class='type_column'>Проект</th>
     <th rowspan=2 class='type_column'>Клиент</th>
     <th class='num_col' rowspan=2>Всего мат.</th>
     <th colspan=6>Подготовка ТЗ</th>
   		<th>&nbsp;</th>
     <th colspan=6>Подготовка заявка</th>
   </tr>
   
   <tr>
   		<th class='num_col'>пусто</th>
   		<th class='num_col'>00. Текст</th>
   		<th class='num_col'>01. Раб.</th>
   		<th class='num_col'>02. Сдел.</th>
   		<th class='num_col'>10. Утв.</th>
   		<th class='num_col'>99. Связ.</th>
   		
   		<th class='num_col'>&nbsp;</th>

   		<th class='num_col'>пусто</th>
   		<th class='num_col'>00. Текст</th>
   		<th class='num_col'>01. Раб.</th>
   		<th class='num_col'>02. Сдел.</th>
   		<th class='num_col'>10. Утв.</th>
   		<th class='num_col'>99. Связ.</th>

   </tr>

	<tr class='green'>
		<td class='num_sm_center'>&nbsp;</td>
		<td class='num_sm_center'>&nbsp;</td>
		<td class='num_sm_center'>&nbsp;</td>
		<td class='title_col' colspan=2><b>ВСЕ МАТЕРИАЛЫ В РАБОТЕ</b></td>

		<td class='num_col_bg'>{$projects_total.num_total} <font class='small'>[{number_format($projects_total.req.num_10_ac/$projects_total.num_total*100,0,',',' ')}%]</font></td>

		<td class='num_col'>{$projects_total.req.num_null}</td>
		<td class='num_col'><b>{$projects_total.req.num_00_ac}</b> / <font class='small'>{$projects_total.req.num_00_bc}</font></td>
		<td class='num_col'><b>{$projects_total.req.num_01_ac}</b> / <font class='small'>{$projects_total.req.num_01_bc}</font></td>
		<td class='num_col'><b>{$projects_total.req.num_02_ac}</b> / <font class='small'>{$projects_total.req.num_02_bc}</font></td>
		<td class='num_col'><b>{$projects_total.req.num_10_ac}</b> / <font class='small'>{$projects_total.req.num_10_bc}</font></td>
		<td class='num_col'><b>{$projects_total.req.num_99_ac}</b> / <font class='small'>{$projects_total.req.num_99_bc}</font></td>

		<td>&nbsp;</td>

		<td class='num_col'><font class='small'>{$projects_total.app.num_null}</font></td>
		<td class='num_col'><b>{$projects_total.app.num_00_ac}</b> / <font class='small'>{$projects_total.app.num_00_bc}</font></td>
		<td class='num_col'><b>{$projects_total.app.num_01_ac}</b> / <font class='small'>{$projects_total.app.num_01_bc}</font></td>
		<td class='num_col'><b>{$projects_total.app.num_02_ac}</b> / <font class='small'>{$projects_total.app.num_02_bc}</font></td>
		<td class='num_col'><b>{$projects_total.app.num_10_ac}</b> / <font class='small'>{$projects_total.app.num_10_bc}</font></td>
		<td class='num_col'><b>{$projects_total.app.num_99_ac}</b> / <font class='small'>{$projects_total.app.num_99_bc}</font></td>
	</tr>
	   
	{foreach from=$projects key=p_key item=p_item}
	<tr
		{if $p_item.order_status_prod=='05. Оценка стоимости'} class='pink'
		{else if $p_item.order_status_prod=='10. Разработка'} class='lightgreen'
		{else if $p_item.order_status_prod=='20. Проверка'} class='blue'
		{else if $p_item.order_status_prod=='30. Публикация'} class='yellow'
		{else if $p_item.order_status_prod=='35. Прием заявок'} class='brown'
		{/if}>
		
		<td class='num_sm_center'><a href="javascript:go_table('{$p_item.project_uid}','проект')">{$p_key + 1}</a></td>
		<td class='num_sm_center'><input type='checkbox' name='project{$p_key}' value='{$p_item.project_uid}'
			{if in_array($p_item.project_uid,$projects_uids, true)} checked{/if}></td>
		<td class='title_col'>{$p_item.project_type}</td>
		
		<td class='title_col'><a href="javascript:go_table('{$p_item.order_id}','заказ')">{$p_item.order_num}</a> {$p_item.project_title}<br>
			<font class='small'>{$p_item.order_status} / {$p_item.order_status_prod}</font></td>
		<td class='company_col'>{$p_item.customer_name}{if $p_item.contractor_name<>"" } / {$p_item.contractor_name}{/if}</td>

		<td class='num_col_bg'>{$p_item.num_total}<br><font class='small'>[{number_format($p_item.percent_total,0,',',' ')}%]</font></td>

		<td class='num_col'>{$p_item.req.num_null}</td>
		<td class='num_col'><b>{$p_item.req.num_00_ac}</b> / <font class='small'>{$p_item.req.num_00_bc}</font></td>
		<td class='num_col'><b>{$p_item.req.num_01_ac}</b> / <font class='small'>{$p_item.req.num_01_bc}</font></td>
		<td class='num_col'><b>{$p_item.req.num_02_ac}</b> / <font class='small'>{$p_item.req.num_02_bc}</font></td>
		<td class='num_col'><b>{$p_item.req.num_10_ac_fin}</b> / {$p_item.req.num_10_ac} / <font class='small'>{$p_item.req.num_10_bc}</font></td>
		<td class='num_col'><b>{$p_item.req.num_99_ac}</b> / <font class='small'>{$p_item.req.num_99_bc}</font></td>
		
		<td>&nbsp;</td>

		<td class='num_col'>{$p_item.app.num_null}</td>
		<td class='num_col'><b>{$p_item.app.num_00_ac}</b> / <font class='small'>{$p_item.app.num_00_bc}</font></td>
		<td class='num_col'><b>{$p_item.app.num_01_ac}</b> / <font class='small'>{$p_item.app.num_01_bc}</font></td>
		<td class='num_col'><b>{$p_item.app.num_02_ac}</b> / <font class='small'>{$p_item.app.num_02_bc}</font></td>
		<td class='num_col'><b>{$p_item.app.num_10_ac_fin}</b> / {$p_item.app.num_10_ac} / <font class='small'>{$p_item.app.num_10_bc}</font></td>
		<td class='num_col'><b>{$p_item.app.num_99_ac}</b> / <font class='small'>{$p_item.app.num_99_bc}</font></td>

	</tr>
	{/foreach}
</table>
<br>
	<table class="controlsTable">
      	<tr>
      		<td>
    		    <input class='refresh_button' type="submit" value="Показать материалы" class="no_print" onclick="document.getElementById('xsl_ex').value='1'; document.getElementById('report_form').submit(); return false" />
			</td>
    	</tr>    
	</table>

<input type=hidden name="_date1" value="{$date1}">
<input type=hidden name="_date2" value="{$date2}">
<input type=hidden name="_show_project" value="{$show_project}">
<input type=hidden name="first_time" value="1">

<input type=hidden name="_line_id" id="_line_id">
<input type=hidden name="_type" id="_type">

<input type=hidden name="xsl" id="xsl_ex" value="{if count($projects_uids)>0}1{else}0{/if}" />