<style type="text/css">
.title {
    margin: 20px 0px;
    font-size: 23px;
    font-weight: bold;
}
.right_links {
    float: right;
    font-size: 12px;
    margin-top: 5px;
}
.img_print {
    vertical-align: bottom;
    border: none;
    margin-right: 3px;
}

.top {
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    background-color: #F5F5F5;
    text-align: center;
    padding: 15px 52px;
}

.top table {
    margin: 0px;
    padding: 0px;
    border: none;
    border-collapse: collapse;
}

.top td {
    border: none;
    padding: 0px;
    margin: 0px;
}

.mainTable {
    border-collapse: collapse;
    border: none;
    text-align: center;
    width: 800px;
}

.mainTable th
{
  font-weight: bold;
  white-space: nowrap;
  background-color: #F1F1F1;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: center;
}

.mainTable th.type_column{
  white-space: nowrap;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: center;
    width: 150px;
}

.mainTable td{
  white-space: nowrap;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: center;
}



.mainTable td.bold{
  white-space: nowrap;
  font-weight: bold;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: center;
}

.mainTable td.red{
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFC0CB;
}
.mainTable td.yellow{
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFFF99;
}
.mainTable td.green{
  white-space: nowrap;
  font-weight: bold;
  background-color: #99FF99;
}
.mainTable td.grey{
  white-space: nowrap;
  font-weight: bold;
  background-color: #777777;
}
.mainTable td.lightgrey{
  white-space: nowrap;
  font-weight: bold;
  background-color: #DCDCDC;
}
.mainTable td.blue{
  white-space: nowrap;
  font-weight: bold;
  background-color: #6495ED;
}
</style>

<script type="text/javascript">

$(function() {
  $('.datepicker').datepicker({
        showOn:"button",
        showAlways: true,
        buttonImage: "images/calbtn.png",
        buttonImageOnly: true,
        buttonText: "Calendar",
        showAnim: (('\v'=='v')?"":"show"),  // в ie не включаем анимацию, тормозит
  })
});
</script>

<br>
<div class="top">
  <table style="margin: 0px auto;">
    <tr>
      <td>
        <span class="input_element">
          Период с <input type="text" name="date1" id="date1" value="{$date1}" size="10" class="datepicker" /> 
          по <input type="text" name="date2" id="date2" value="{$date2}" size="10" class="datepicker" /> 
        </span>
        <span class="input_element">
          Период: <select name="dt_period" id="dt_period">
                    <option value='0'>Произвольный</option> 
                    <option value='1'>Текущий месяц</option>
                    <option value='2'>Прошлый месяц</option>
                  </select>  
        </span>        
  {if $user_group==1}
        <span class="input_element">
          Менеджеры: <select name="manager">{$sel_manager}</select>  
        </span>
  {/if}
        <div style="clear: both"></div>
      </td>
      <td>&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Обновить" class="no_print" onclick="document.getElementById('xsl_ex').value='0'; document.getElementById('report_form').submit(); return false" />
      </td>
    </tr>
  </table>
</div>


<h1>События</h1>
<div style="font-style:italic;">[Выполнено]=Да<br>[Результативное]=Да</div>
<br>

{foreach from=$events key=series_name_key item=series_name_item }
  <table border=1 class="mainTable">
    <tr>    
      <td colspan="{sizeof($dates)+1}" class="green">{$series_name_key}</td>
    </tr>
    
    <tr > 
     <th class="type_column">Период (план/факт)</th>
      {foreach from=$dates key=per_name item=per_data }
      <th>{$per_name}</th>
      {/foreach}
    </tr>
  
      {foreach from=$series_name_item key=type_series_name item=series_type_item }
      <tr>
        <td {if $type_series_name=="СЧЕТ"}class="bold"{/if}>{$type_series_name}</td>
        
          {foreach from=$dates key=per_name item=per_data}
        <td 
            {if $type_series_name=="СЧЕТ" &&  $series_type_item[$per_name].fact>=7} class="green"
            {elseif $type_series_name=="СЧЕТ" &&  $series_type_item[$per_name].fact>=4} class="yellow"
            {elseif $type_series_name=="СЧЕТ" && $series_type_item[$per_name]>0} class="red"{/if}>
            
                 {if $series_type_item[$per_name].plan>0 || $series_type_item[$per_name].fact>0}
                  
                     {if $type_series_name=="СЧЕТ"}
                      <font style="font-size:70%">{number_format($series_type_item[$per_name].plan,1,',',' ')}</font> / {number_format($series_type_item[$per_name].fact,1,',',' ')}
                     {else}
                      <font style="font-size:70%">{number_format($series_type_item[$per_name].plan,0,',',' ')}</font> / {number_format($series_type_item[$per_name].fact,0,',',' ')}
                     {/if}
                  {else}
                      &nbsp;
                  {/if}
              </td>
          {/foreach}
      </tr>
      {/foreach}
      
    </table>
    <br>
{/foreach}



<input type=hidden name="_dates" id="_dates">
<input type=hidden name="_date1" value="{$date1}">
<input type=hidden name="_date2" value="{$date2}">
<input type=hidden name="_manager" id="_manager">