<style type="text/css">
.title {
    margin: 10px 0px;
    font-size: 23px;
    font-weight: bold;
}
.right_links {
    float: right;
    font-size: 12px;
    margin-top: 5px;
}
.img_print {
    vertical-align: bottom;
    border: none;
    margin-right: 3px;
}

.top {
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    background-color: #F5F5F5;
    text-align: center;
    padding: 5px 10px;
}

.top table {
    margin: 0px;
    padding: 0px;
    border: none;
    border-collapse: collapse;
}

.top td {
    border: none;
    padding: 0px;
    margin: 0px;
	align: left;
}

.mainTable {
    border-collapse: collapse;
    border: none;
    text-align: center;
    width: 1200px;
}

.mainTable th
{
  font-weight: bold;
  white-space: nowrap;
  background-color: #F1F1F1;
    padding: 3px 10px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: center;
}

.mainTable th.small{
  white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    width: 150px;
}
.mainTable th.type_column{
  white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    width: 150px;
}

.mainTable td {
 	white-space: nowrap;
    padding: 5px 10px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: left;
}

.mainTable td.sum {
  font-weight: normal;
  vertical-align: middle;
  text-align: right;
}

.mainTable td.sum_bold {
  font-weight: bold;
  vertical-align: middle;
  text-align: right;
}

.mainTable td.bold{
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
	width: 100px;
}
.mainTable td.bold_top{
  font-weight: bold;
  vertical-align: top;
  text-align: left;
	width: 100px;
}

.mainTable td.mid_width{
  font-weight: normal;
  vertical-align: middle;
  text-align: left;
  white-space: normal;	
	width: 1600px;
}

.mainTable td.title {
  white-space: pre-wrap;	
  font-weight: normal;
  font-size: 85%;
  vertical-align: middle;
  text-align: left;
  width: 500px;
}

.mainTable td.title_left {
  white-space: normal;	
  font-weight: normal;
  font-size: 85%;
  vertical-align: middle;
  text-align: left;
  width: 800px;
}

.mainTable td.red{
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFC0CB;
}
.mainTable td.yellow{
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFFF99;
}
.mainTable td.green{
  white-space: nowrap;
  font-weight: bold;
  background-color: #99FF99;
}
.mainTable td.grey{
  white-space: nowrap;
  font-weight: bold;
  background-color: #777777;
}
.mainTable td.lightgrey{
  white-space: nowrap;
  font-weight: bold;
  background-color: #DCDCDC;
}
.mainTable td.blue{
  white-space: nowrap;
  font-weight: bold;
  background-color: #6495ED;
}

.mainTable tr.green{
  background-color: #99FF99;
}
.mainTable tr.bright_green{
  background-color: #33FFCC;
}
.mainTable tr.red{
  background-color: #FFC0CB;
}

.small{
	white-space: pre-wrap;
   	text-align: left;
	font-style: italic;
	font-size: 80%;
    margin: 0px;
    padding: 0px;	
}

.medium_bold {
	white-space: pre-wrap;
	  font-weight: bold;
	font-style: italic;
	font-size: 100%;
    margin: 0px;
    padding: 0px;	
}
</style>

<script type="text/javascript">

$(function() {
  $('.datepicker').datepicker({
        showOn:"button",
        showAlways: true,
        buttonImage: "images/calbtn.png",
        buttonImageOnly: true,
        buttonText: "Calendar",
        showAnim: (('\v'=='v')?"":"show"),  // в ie не включаем анимацию, тормозит
  })
});
</script>

<br>

<h1>Участия поставщика</h1>
<br>
<div class="top">
  <table style="margin: 0px auto;">
    <tr>
      <td style="text-align: left;">
        <span class="input_element">
          Период с <input type="text" name="date1" id="date1" value="{$date1}" size="10" class="datepicker" /> 
          по <input type="text" name="date2" id="date2" value="{$date2}" size="10" class="datepicker" /> 
        </span>    
        </td>
      </tr>
      <tr>
      	<td>
      		ИНН:&nbsp;<input type="text" name="inn" value="{$inn}">
      	</td>
      </tr>
        
      <tr>
      <td>
        <input type="submit" value="Обновить" class="no_print" onclick="document.getElementById('xsl_ex').value='0'; document.getElementById('report_form').submit(); return false" />
      </td>
    </tr>
  </table>
</div>
<br>


{if $inn<>""}

{foreach from=$arr_result.suppliers key=event_key item=event_item }
	<table border=1 class="mainTable">
		<tr>
			<td class='bold_top'>Поставщик:</td>
			<td>
				{$event_item.title}{if $event_item.form<>""},{$event_item.form}{/if}
			</td>
		</tr>
		<tr>
			<td class='bold_top'>ИНН/КПП:</td>
			<td>
				{$event_item.inn}{if $event_item.kpp<>""} / {$event_item.kpp}{/if}
			</td>
		</tr>
		<tr>
			<td class='bold_top'>Телефоны:</td>
			<td class='mid_width'>{foreach from=$event_item.phones key=event_phone_key item=event_phone_item}{if $event_phone_key>0}, {/if}{$event_phone_item}{/foreach}
			</td>
		</tr>
		<tr>
			<td class='bold_top'>Emails:</td>
			<td class='mid_width'>{foreach from=$event_item.emails key=event_email_key item=event_email_item}{if $event_email_key>0}, {/if}{$event_email_item}{/foreach}</td>
		</tr>
		<tr>
			<td class='bold_top'>Контактные лица:</td>
			<td class='mid_width'>{foreach from=$event_item.contacts key=event_contact_key item=event_contact_item}{if $event_contact_key>0}, {/if}{$event_contact_item}{/foreach}</td>
		</tr>				
		<tr>
			<td class='bold_top'>Сумма участий / Кол-во участий:</td>
			<td>{number_format($event_item.sum_apps,2,',',' ')} руб. / {number_format($event_item.num_apps,0,',',' ')} </td>
		</tr>				
		<tr>
			<td class='bold_top'>Сумма побед / Кол-во побед:</td>
			<td>{number_format($event_item.sum_wins,2,',',' ')} руб. / {number_format($event_item.num_wins,0,',',' ')} </td>
		</tr>				
		<tr>
			<td class='bold_top'>Сумма отклоненных / Кол-во отклоненных:</td>
			<td>{number_format($event_item.sum_rejected,2,',',' ')} руб. / {number_format($event_item.num_rejected,0,',',' ')} </td>
		</tr>				
		<tr>
			<td class='bold_top'>Регионы участий / побед:</td>
			<td class='mid_width'>{foreach from=$event_item.regions key=event_region_key item=event_region_item}{$event_region_item.title} [{$event_region_item.count}/{$event_region_item.win}], {/foreach}</td>
		</tr>		
		<tr>
			<td class='bold_top'>Конкуренты (первые 10):</td>
			<td class='mid_width'>
				{for $i=0 to 9} 
					{if $event_item.competitors[$i].title<>""}
						{$event_item.competitors[$i].title} [{$event_item.competitors[$i].count}]<br>
					{/if}
				{/for}
			</td>
		</tr>		
		</table>

{/foreach}
<br>

Всего записей: {$num_total}.
Показаны записи: с {$num_start} по {$num_finish}
<br><br>
<table border=1 class="mainTable">
    
   <tr> 
     <th>GovRuID</th>
     <th>Дата</th>
     <th>НМЦК</th>
     <th>Цена заявки / <br>Цена победителя</th>
     <th style="widht:500px">Название</th>
     <th style="widht:500px">Заказчик</th>
     <th style="widht:500px">Регион</th>
     <th>Допуск</th>
     <th>Место</th>
     <th>Участник /<br>Победитель</th>
   </tr>
   
	{foreach from=$arr_result.tenders key=event_key item=event_item }
	<tr 
		{if $event_item.admitted==0 && $event_item.price<>0}
			class='red'
		{elseif $event_item.place==1 && $event_item.pre_admitted==1 && $event_item.admitted==1 && $event_item.price<>0 }
			class='green'
		{elseif $event_item.place==1 && $event_item.pre_admitted<>1 && $event_item.admitted==1 && $event_item.price<>0 }
			class='bright_green'
		{/if}
		>
		<td>
			{if $event_item.order_app<>""}
				<div class='medium_bold'>Заказ заявка: {$event_item.order_app}</div><br>
			{/if}
			
			<a href="{$event_item.link}" target="_blank">{$event_item.govruid}</a>
			<div class='small'>{$event_item.tender_law}</div>
			<div class='small'>{$event_item.tender_type}</div>
		</td>
		<td>{$event_item.start_date}</td>
		<td class='sum'>{number_format($event_item.cost,2,',',' ')}</td>
		<td class='sum'>
			<b>Участник:</b> {number_format($event_item.price,2,',',' ')} <br> 
			<b>Победитель:</b> {number_format($event_item.winner_price,2,',',' ')}</td>
		<td class='title'>{$event_item.title}</td>
		<td class='title'>
			<div class='small'>
			{$event_item.customer_title}
			<br>({$event_item.customer_inn}{if $event_item.customer_kpp<>""}, {$event_item.customer_kpp}{/if})
			</div>
		</td>
		<td class='title'><div class='small'>{$event_item.okrug} / {$event_item.region}</div></td>
		<td>
			{$event_item.pre_admitted} / {$event_item.admitted}
			{if $event_item.admitted==0 && $event_item.price<>0 }
				<br><div class='small'>{$event_item.reject_reason}; {$event_item.reject_explanation}</div>
			{elseif $event_item.pre_admitted==1 && $event_item.admitted==0 && $event_item.price==0 }
				<br><div class='small'>Не торговался</div>
			{elseif $event_item.place==1 && $event_item.pre_admitted<>1 && $event_item.admitted==1 && $event_item.price<>0 }
				<br><div class='small'>Единственная заявка</div>
			{/if}
		</td>
		<td>{$event_item.place}</td>
		<td class='title_left'>
			<b>Участник:</b> {$event_item.supplier_title}{if $event_item.supplier_form<>""},{$event_item.supplier_form}{/if}
			<br>({$event_item.supplier_inn}, {$event_item.supplier_kpp})
			{if $event_item.supplier_contact<>""}<div class='small'><br>Контактное лицо: {$event_item.supplier_contact}</div>{/if}
			{if $event_item.supplier_phone<>""}<div class='small'><br>Телефон: {$event_item.supplier_phone}</div>{/if}
			{if $event_item.supplier_email<>""}<div class='small'><br>Email: {$event_item.supplier_email}</div>{/if}
			<br><br>
			<b>Победитель:</b> {$event_item.winner_title}{if $event_item.winner_form<>""},{$event_item.winner_form}{/if}
			<br>({$event_item.winner_inn}, {$event_item.winner_kpp})			
		</td>
	</tr>
	{/foreach}

</table>
{/if}
<br>

<input type=hidden name="_date1" value="{$date1}">
<input type=hidden name="_date2" value="{$date2}">
<input type=hidden name="_inn" value="{$inn}">
<input type=hidden name="_kpp" value="{$kpp}">