.title {
    margin: 20px 0;
    font-size: 23px;
    font-weight: bold;
    background-color: #cffef5;
    padding: 5px;
}

.title_1 {
    background-color: #3fb5fc;
    padding: 10px;
}

.title_2 {
    background-color: #c56723;
    padding: 10px;
}

.input_select {
    min-width: 150px;
}

.right_links {
    float: right;
    font-size: 12px;
    margin-top: 5px;
}
.img_print {
    vertical-align: bottom;
    border: none;
    margin-right: 3px;
}

.top {
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    background-color: #F5F5F5;
    text-align: center;
    padding: 15px 52px;
}

.top table {
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
}

.top td {
    border: none;
    padding: 0;
    margin: 0;
}

.left {
    text-align: left;
}

.sticky_th_0 {
    position: sticky;
    top: 0;
    opacity: .8;
    z-index: 999;
}

.sticky_th_2 {
    position: sticky;
    top: 8em;
    opacity: .8;
}

.div_nowrap{
    white-space: nowrap;
}

.div_nopadding {
    padding: 0 0;
}

.div_smallpadding {
    padding: 3px 3px;
}

.div_smallfont {
    font-size: 10px;
}

.div_bigfont {
    font-size: 16px;
}

.div_notbold {
    font-weight: normal;
}

.div_bold {
    font-weight: bold;
}

.div_nomargin {
    margin: 0;
}

.sticky {
    position: sticky;
    top: 0;
    min-height: 2em;
    background-color:  #F9E6CD;
    z-index: 999;
    opacity: .8;
}

.name_sticky {
    position: sticky;
    top: 2.3em;
    min-height: 2em;
    background-color:  #DBDBDB;
    opacity: .8;
}

.table {
    margin: 0 0;
}

.mainTable {
    width: min-content;
    margin: 0px;
}

.mainTable tr.grey {
    background-color: #A0A0A0;
}

.mainTable tr.lightgrey {
    background-color: #E0E0E0;
}

.mainTable tr.username {
    background-color: white;
}

.mainTable tr.incometype {
    background-color: #FFE5CC;
}

.mainTable td {
    padding: 10px 10px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: left;
    max-width: 200px;
    min-width: 0px;
}

.mainTable td.right {
    text-align: right;
}

.mainTable td.wide {
    white-space: nowrap;
}

.mainTable td.wide_wrap {
    white-space: normal;
}

.mainTable td.right_small {
    font-size: 10px;
    text-align: right;
}

.mainTable td.right_big {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
}

.mainTable td.left_big {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}

.mainTable td.right_big_green {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    background-color: #99FF99;
    white-space: nowrap;
}

.mainTable td.bold{
    white-space: nowrap;
    font-weight: bold;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: center;
}

.mainTable td.red{
    white-space: nowrap;
    font-weight: bold;
    background-color: #FFC0CB;
}

.mainTable td.yellow{
    white-space: nowrap;
    font-weight: bold;
    background-color: #FFFF99;
}

.mainTable td.green{
    white-space: nowrap;
    font-weight: bold;
    background-color: #99FF99;
}

.mainTable td.grey{
    white-space: nowrap;
    font-weight: bold;
    background-color: #777777;
}

.mainTable td.lightgrey{
    white-space: nowrap;
    font-weight: bold;
    background-color: #DCDCDC;
}
.mainTable td.blue{
    white-space: nowrap;
    font-weight: bold;
    background-color: #6495ED;
}

.mainTable td.font20{
    font-size: 20px;
}

.mainTable td.nowrap {
    white-space: nowrap;
}

.mainTable td.nopaddng {
    padding: 0;
}

.mainTable th {
    font-weight: bold;
    background-color: #FFCC99;
    padding: 10px 20px;
    vertical-align: top;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: left;
}

.mainTable th.nowrap {
    white-space: nowrap;
}
