.title {
    margin: 10px 0px;
    font-size: 23px;
    font-weight: bold;
}
.right_links {
    float: right;
    font-size: 12px;
    margin-top: 5px;
}
.img_print {
    vertical-align: bottom;
    border: none;
    margin-right: 3px;
}

.input_element{
align: left;
}

.top {
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    background-color: #F5F5F5;
    text-align: left;
    padding: 5px 10px;
}

.top table {
    margin: 0px;
    padding: 0px;
    border: 1px;
    border-collapse: collapse;
}

.top td {
    border: none;
    padding: 0px;
    margin: 0px;
	align: left;
}

.controlsTable{
  margin: 5px;
}

.controlsTable td{
  padding: 3px 3px;
}

.controlsTable td.param{
  	font-weight: bold;
	font-style: normal;
	font-size: 100%;
}

.refresh_button {
    display: block;
	border-radius: 5px;
    height: 36px;
    width: 200px;
    line-height: 32px;
    padding-right: 15px;
    background: url(images/application.png) right -73px no-repeat;
    text-decoration: none !important; /* important is for ie6 */
    color: #4b4b4b !important; /* important is for ie6 */
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
}


.refresh_button:hover {
   background: url(images/application.png) -520px -73px no-repeat;
	color: #33bb11 !important; /* important is for ie6 */

}

input.currency {
    text-align: right;
    padding-right: 15px;
}

.text_input {
	background: white;
    border: 1px single #DDD;
    color: #000;
    outline: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    height: 60px;
    width: 200px;
}

.mainTable {
  border-collapse: collapse;
  border: none;
  text-align: center;
}


.mainTable th
{
  font-weight: bold;
  white-space: nowrap;
  background-color: #F1F1F1;
  padding: 3px 10px;
  vertical-align: middle;
  border-top: 1px solid #B3BFC9;
  border-bottom: 1px solid #B3BFC9;
  border-left: 1px dashed #B3BFC9;
  border-right: 1px dashed #B3BFC9;
  text-align: center;
}

.mainTable th.small
{
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  width: 150px;
}

.mainTable th.type_column{
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  width: 250px;
}

.mainTable th.num_col{
  white-space: pre-wrap;
  vertical-align: middle;
  text-align: center;
  width: 40px;
}

.mainTable th.num_col_sm{
  white-space: pre-wrap;
  vertical-align: middle;
  text-align: center;
  width: 20px;
}
.mainTable td.title_col {
 	white-space: pre-line;
	vertical-align: top;
	width: 500px;
}
.mainTable td.title_col_sm {
 	white-space: pre-line;
	vertical-align: top;
	text-align: left;
	width: 80px;
}

.mainTable td.title_col_sm_green {
	background-color: #99FF99;
	white-space: pre-line;
	vertical-align: top;
	text-aling: left;
	width: 120px;
}
.mainTable td.title_col_sm_darkgreen {
	background-color: #408080 ;
	white-space: pre-line;
	vertical-align: top;
	text-aling: left;
	width: 120px;
}
.mainTable td.title_col_sm_yellow {
	background-color: #ffff80;
	white-space: pre-line;
	vertical-align: top;
	text-aling: left;
	width: 120px;
}

.mainTable td.title_col_bg {
 	white-space: pre-line;
	vertical-align: top;
	text-aling: left;
	width: 400px;
}

.mainTable td.company_col {
 	white-space: pre-wrap;
	vertical-align: top;
	width: 150px;
}

.mainTable td.num_col {
 	white-space: nowrap;
	width: 45px;
	text-align: center;
}
.mainTable td.num_col_bg {
 	white-space: nowrap;
	width: 40px;
	text-align: center;
	font-weight: bold;
}
.mainTable td.num_sm_center {
 	white-space: nowrap;
	width: 20px;
	text-align: center;
    vertical-align: top;
}
.mainTable td {
 	white-space: nowrap;
    padding: 5px 5px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: left;
}

.mainTable td.width_100 {
	width: 100px;
}
.mainTable td.width_200 {
	width: 200px;
}
.mainTable td.width_300 {
	width: 300px;
}


.mainTable td.sum {
  font-weight: normal;
  vertical-align: middle;
  text-align: right;
}

.mainTable td.sum_bold {
  font-weight: bold;
  vertical-align: middle;
  text-align: right;
}

.mainTable td.bold{
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
	width: 100px;
}
.mainTable td.bold_top{
  font-weight: bold;
  vertical-align: top;
  text-align: left;
	width: 100px;
}

.mainTable td.mid_width{
  font-weight: normal;
  vertical-align: middle;
  text-align: left;
  white-space: normal;
	width: 1600px;
}

.mainTable td.title {
  white-space: pre-wrap;
  font-weight: normal;
  font-size: 85%;
  vertical-align: middle;
  text-align: left;
  width: 500px;
}

.mainTable td.title_left {
  white-space: normal;
  font-weight: normal;
  font-size: 85%;
  vertical-align: middle;
  text-align: left;
  width: 800px;
}

.mainTable td.red{
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFC0CB;
}
.mainTable td.yellow{
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFFF99;
}
.mainTable td.green{
  white-space: nowrap;
  font-weight: bold;
  background-color: #99FF99;
}
.mainTable td.grey{
  white-space: nowrap;
  font-weight: bold;
  background-color: #777777;
}
.mainTable td.lightgrey{
  white-space: nowrap;
  font-weight: bold;
  background-color: #DCDCDC;
}
.mainTable td.blue{
  white-space: nowrap;
  font-weight: bold;
  background-color: #6495ED;
}



.mainTable tr.lightgreen{
  background-color: #ccffcc;
}

.mainTable tr.green{
  background-color: #99FF99;
}
.mainTable tr.bright_green{
  background-color: #33FFCC;
}
.mainTable tr.green{
  background-color: #99FF99;
}
.mainTable tr.pink{
  background-color: #DB7093;
}
.mainTable tr.yellow{
  background-color: #ffffb7;
}
.mainTable tr.brown{
  background-color: #cc9900;
}

.mainTable tr.blue{
  background-color: #8ac5ff;
}
.mainTable tr.aquamarine{
  background-color:Aquamarine;
}


.small{
   	text-align: left;
	font-style: italic;
	font-size: 80%;
    margin: 0px;
    padding: 0px;
}

.medium_bold {
	white-space: pre-wrap;
	font-weight: bold;
	font-style: italic;
	font-size: 100%;
}

table.subtable {
    border-collapse: collapse;
    border: 0px;
    text-align: center;
    width: 900px;
}

table.subtable th{
	font-weight: bold;
 	white-space: pre-wrap !important;
 	background-color: #F1F1F1;
    padding: 5px 5px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: center;
}

table.subtable td {
    padding: 5px 5px;
}

table.subtable tr.subtable_row_header {
  background-color: #DCDCDC !important;
}

table.subtable td.subtable_col_header {
  font-weight: bold;

}

table.subtable tr.selected {
  background-color: #fff0b7;
}


table.subtable td.content_title{
	white-space: pre-wrap;
	width: 600px;
}

table.mainTable tr.selected {
  background-color: #fff0b7;
}

table.mainTable td.content_title{
	white-space: pre-wrap;
	width: 600px;
}


div.div_mat_checked{
	widht:800px;background-color:Aquamarine;
}
div.div_mat_unchecked{
	widht:800px;
}

.compareTable
{
 font-weight: bold;
  white-space: nowrap;
  padding: 3px 10px;
  vertical-align: middle;
  text-align: center;
}
.compareTable th
{
  font-weight: bold;
  white-space: nowrap;
  background-color: #F1F1F1;
  padding: 3px 10px;
  vertical-align: middle;
  border-top: 1px solid #B3BFC9;
  border-bottom: 1px solid #B3BFC9;
  border-left: 1px dashed #B3BFC9;
  border-right: 1px dashed #B3BFC9;
  text-align: center;
}
.compareTable td
{
	 white-space: pre-line;
    padding: 5px 5px;
    vertical-align: top;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: left;
}

.compareTable tr.green
{
	background-color:#90EE90;
}

.compareTable td.col_pref
{
	width:400px;
}

.compareTable td.col_diff
{
	width:150px;
}

div.div_table
{
	display:table;
	margin-bottom:50px;
}

div.div_table_sub
{
	display:table;
	margin-bottom:0px;
}

div.div_caption
{
	caption-side: top;
	display: table-caption;
	text-align: left;
	background-color: #F1F1F1;
	padding: 5px 5px;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 5px;
	font-family: verdana, arial;
}

div.div_row
{
	display:table-row;
}

div.div_group
{
	display: table-row-group;
}

div.div_col
{
	display:table-cell;
	padding: 10px 5px;
	font-size: 14px;
	font-family: tahoma, verdana, arial;
}
div.div_col_sm
{
	width:30px;
}

div.div_col_sm1
{
	width:100px;
}

div.div_col_sm2
{
	width:250px;
}

div.div_col_mid
{
	width:500px;
}

div.div_col_ишп
{
	width:700px;
}

div.div_col_head
{
	font-weight: bold;
	background-color: #ffe4ca;
}

div.div_border
{
	border-bottom: 1px solid black;
}
div.div_border_bottom
{
	border-bottom: 1px solid black;
}
div.div_border_top
{
	border-top: 1px solid black;
}
div.div_border_left
{
	border-left: 1px solid black;
}
div.div_border_right
{
	border-right: 1px solid black;
}
div.div_border_all
{
	border: 1px solid black;
}
div.div_border_all_dashed
{
	border: 1px dashed black;
}
div.div_nowrap
{
	white-space: nowrap;
}
div.div_nopadding
{
	padding: 0px 0px;
}
div.div_smallpadding
{
	padding: 3px 3px;
}
div.div_smallfont
{
	font-size: 10px;
}
div.div_bigfont
{
	font-size: 16px;
}

div.div_notbold
{
	font-weight: normal;
}
div.div_bold
{
	font-weight: bold;
}
div.div_italic
{
	font-style: italic;
}

div.div_underline
{
	text-decoration: underline;
}
div.div_nodecoration
{
	text-decoration: none;
}

div.div_middle_valign
{
	vertical-align: middle;
}
div.div_top_valign
{
	vertical-align:top;
}
div.div_inline
{
	display: inline;
}

div.div_grey
{
	color: #c0c0c0;
}
div.div_green
{
	color: #43c527;
}
div.div_blue
{
	color: #0000ff;
}
div.div_red
{
	color: #d90000;
}

div.div_yellow
{
	color: #eaea00;
}
div.div_header
{
	background-color: #0080ff;
	font-weight: bold;
	font-size: 20px;
	color: white;
	width:1000px;
	padding: 10px 10px;
	margin-top:15px;
	margin-bottom:15px;
}
div.div_console
{
	font-family: Courier, monospace;

}
div.div_bg_green
{
	background-color: #b4eeae;
}

div.div_invisible
{
	visibility: hidden;
}
