.title {
    margin: 20px 0px;
    font-size: 23px;
    font-weight: bold;
	background-color: #cffef5;
    padding: 20px;
}

.totals {
 	background-color: #3fb5fc;
}

.mainTable td.nowrap {
    white-space: nowrap;
}

.mainTable td.nopaddng {
    padding: 0px;
}

.right_links {
    float: right;
    font-size: 12px;
    margin-top: 5px;
}
.img_print {
    vertical-align: bottom;
    border: none;
    margin-right: 3px;
}

.top {
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    background-color: #F5F5F5;
    text-align: center;
    padding: 15px 52px;
}

.top table {
    margin: 0px;
    padding: 0px;
    border: none;
    border-collapse: collapse;
}

.top td {
    border: none;
    padding: 0px;
    margin: 0px;
}

.mainTable {
    border-collapse: collapse;
    border: none;
    text-align: center;
    width: 800px;
}

.mainTable th
{
    font-weight: bold;
    white-space: wrap;
    background-color: #FFCC99;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: left;
}

.mainTable tr.grey {
  background-color: #A0A0A0;
}

.mainTable tr.lightgrey {
  background-color: #E0E0E0;
}

.mainTable tr.username {
  background-color: white;
}

.mainTable tr.incometype {
  background-color: #FFE5CC;
}


.mainTable td {
    white-space: pre-wrap;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: left;
    max-width: 200px;
    min-width: 70px;
}

.mainTable td.right {
    text-align: right;
}

.mainTable td.wide {
    max-width: 400px;
    min-width: 200px;
    white-space: nowrap;
}

.mainTable td.wide_wrap {
    max-width: 400px;
    min-width: 90px;
    white-space: wrap;
}

.mainTable td.right_small {
    font-size: 10px;
    text-align: right;
}
.mainTable td.right_big {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
}
.mainTable td.left_big {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}
.mainTable td.right_big_green {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    background-color: #99FF99;
    white-space: nowrap;
}

.mainTable td.bold{
  white-space: nowrap;
  font-weight: bold;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px dashed #B3BFC9;
    border-right: 1px dashed #B3BFC9;
    text-align: center;
}

.mainTable td.red{
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFC0CB;
}
.mainTable td.yellow{
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFFF99;
}
.mainTable td.green{
  white-space: nowrap;
  font-weight: bold;
  background-color: #99FF99;
}
.mainTable td.grey{
  white-space: nowrap;
  font-weight: bold;
  background-color: #777777;
}
.mainTable td.lightgrey{
  white-space: nowrap;
  font-weight: bold;
  background-color: #DCDCDC;
}
.mainTable td.blue{
  white-space: nowrap;
  font-weight: bold;
  background-color: #6495ED;
}

.mainTable td.font20{
 	font-size: 20px;
}


.div_nowrap
{
	white-space: nowrap;
}
.div_nopadding
{
	padding: 0px 0px;
}
.div_smallpadding
{
	padding: 3px 3px;
}
.div_smallfont
{
	font-size: 10px;
}
.div_bigfont
{
	font-size: 16px;
}

.div_notbold
{
	font-weight: normal;	
}
.div_bold
{
	font-weight: bold;	
}

.div_nomargin
{
	margin: 0px;	
}