a.red_link:link, a.red_link:visited, a.red_link:hover, a.red_link:active{
    white-space: nowrap;
    font-weight: bold;
    color: red;
}

a.green_link:link, a.green_link:visited, a.green_link:hover, a.green_link:active{
    white-space: nowrap;
    font-weight: bold;
    color: green;
}

a.grey_link:link, a.grey_link:visited, a.grey_link:hover, a.grey_link:active{
    white-space: nowrap;
    font-weight: normal;
    font-style: italic;
    font-size: small;
    color: grey;
}

.title {
    margin: 20px 0px;
    font-size: 23px;
    font-weight: bold;
}
.right_links {
    float: right;
    font-size: 12px;
    margin-top: 5px;
}
.img_print {
    vertical-align: bottom;
    border: none;
    margin-right: 3px;
}

.top {
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    background-color: #F5F5F5;
    text-align: center;
    padding: 15px 52px;
}

.top table {
    margin: 0px;
    padding: 0px;
    border: none;
    border-collapse: collapse;
}

.top td {
    border: none;
    padding: 0px;
    margin: 0px;
}

.mainTable {
    border-collapse: collapse;
    border: none;
    text-align: center;
    width: 800px;
}

.mainTable th {
    font-weight: bold;
    white-space: normal;
    background-color: #F1F1F1;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px solid #B3BFC9;
    border-right: 1px solid #B3BFC9;
    text-align: center;
}

.mainTable th.type_column{
    white-space: normal;
    padding: 10px 10px;
    vertical-align: middle;
    text-align: center;
    width: 50px;
}

.mainTable .top_border_bold{
    border-top: 3px solid #797979;
}

.mainTable .bottom_border_bold{
    border-bottom: 3px solid #797979;
}

.mainTable .left_border_bold{
    border-left: 3px solid #797979;
}

.mainTable .right_border_bold{
    border-right: 3px solid #797979;
}

.mainTable td{
    white-space: nowrap;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: 1px solid #B3BFC9;
    border-bottom: 1px solid #B3BFC9;
    border-left: 1px solid #B3BFC9;
    border-right: 1px solid #B3BFC9;
    text-align: center;
}

.mainTable td.bold{
    font-weight: bold;
}

.mainTable td.not_done{
    font-weight: bold;
    color: red;
}

.mainTable td.without_result{
    font-style: italic;
    color: darkgrey;
}

.mainTable td.red_font{
    white-space: nowrap;
    font-weight: bold;
    color: #FFC0CB;
}

.mainTable td.red{
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFC0CB;
}

.mainTable tr.lgreen{
    white-space: nowrap;
    font-weight: bold;
    background-color: #d9ecd9;
}

.mainTable td.yellow{
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFFF99;
}

.mainTable td.green{
  white-space: nowrap;
  font-weight: bold;
  background-color: #99FF99;
}

.mainTable td.grey{
  white-space: nowrap;
  font-weight: bold;
  background-color: #777777;
}

.mainTable td.lightgrey{
  white-space: nowrap;
  font-weight: bold;
  background-color: #DCDCDC;
}

.mainTable td.blue{
  white-space: nowrap;
  font-weight: bold;
  background-color: #6495ED;
}

