.plan_base {
	background-color:lightgrey;
	width:700px;
	height:40px;
	text-align:right;
	vertical-align:middle;
	z-index:3;
	float:left;	
	border-style:none;
	border-width:thin;
}

.plan_base.b50 {
	background-color:#FFC0CB;
	width:350px;
}
.plan_base.b75 {
	background-color:#FFFF99;
	width:175px;
}
.plan_base.b100 {
	background-color:lightgreen;
	width:175px;
}


.plan_lable{
	font-weight: bold;
	font-size: 90%;	
	text-align:left;
	white-space: nowrap;
	width:100px;
	position:relative;	
	float:left;
	text-align:left;	
}
.plan_lable.l50 {	
	left:330px;
	top:5px;
}
.plan_lable.l75 {	
	left:400px;
	top:5px;
}
.plan_lable.l100 {	
	left:460px;
	top:5px;
}

.plan_fact {
	padding: 0px 0px;	
	position:relative;
	float: top;
	left:0px;
	top:5px;
	border:1;
	height:30px;
	text-align:right;
	vertical-align:middle;
	border-style:solid;
	border-width:thin;
	
	
}

.plan_fact.f50
{
	font-size:75%;
	background-color:#ff66ff;
}
.plan_fact.f75
{
	font-size:85%;
	background-color:#ffcc00;
}
.plan_fact.f100
{
	font-size:90%;
	background-color:#669999;
}
.plan_fact.f1000
{
	background-color:green;
}
.fact_lable
{
	position:relative;
	top:-30px;
	right:5px;
}