
<link rel="stylesheet" type="text/css" href="add/forms/expert_search/css/expert_search_calculator.css">

{MODAL_FORMS}
<input type="hidden" id="company_id" value="{COMPANY_ID}" name="company_id">
<div class="container">
    <table>
        <tr>
            <td>
                <div class="filter-container">
                    <div class="base_filter hide">{FILTERS_BLOCK}</div>
                    <div class="filters-forms">
                        {FILTERS_BLOCK}
                    </div>
                    <div class="add-new">
                        <a class="btn btn-success add-new-filter" >Добавить фильтр</a>
                    </div>
                </div>
            </td>
            <td >
                <div class="full-sum hide">
                    <div class="head-calculator">Стоимость поиска</div>
                    <div class="list-group">
                        <a class="list-group-item  list-group-item-action active">
                            <span id="per-year" class="order-cost"></span> на 1 год
                            <input type="radio" class="hide search-period" name="search_period" value="12">
                        </a>
                        <a class="list-group-item  list-group-item-action">
                            <span id="six-month" class="order-cost"></span> на 6 месяцев
                            <input type="radio" class="hide search-period" name="search_period" value="6">
                        </a>
                        <a class="list-group-item list-group-item-action">
                            <span id="three-month" class="order-cost"></span> на 3 месяца
                            <input type="radio" class="hide search-period" name="search_period" value="3">
                        </a>
                        <a class="list-group-item list-group-item-action">
                            <span id="per-month" class="order-cost"></span> на 1 месяц
                            <input type="radio" class="hide search-period" name="search_period" value="1">
                        </a>
                    </div>
                    <a class="create-order btn btn-success">Сделать заказ</a>
                </div>
            </td>
        </tr>
    </table>
</div>
<br>
<br>

<script type="text/javascript" src="add/forms/expert_search/js/expert_search_calculator.js"></script>
<script type="text/javascript" src="add/forms/expert_search/js/clculate_base.js"></script>
<script type="text/javascript" src="add/forms/expert_search/js/modal_filter.js"></script>
