<style type="text/css">
    tr .title{
        font-weight: bold;
        text-align: left;
        font-size: larger;
    }
    tr .sub-title{
        font-weight: bold;
        text-align: right;
    }
    tr .value{
    }
    table tr .right-align{
        text-align: right;
    }
    table tr .left-align{
        text-align: left;
    }
</style>

<script type="text/javascript">

    $(function() {
        $('.datepicker').datepicker({
            showOn:"button",
            showAlways: true,
            buttonImage: "images/calbtn.png",
            buttonImageOnly: true,
            buttonText: "Calendar",
            showAnim: (('\v'=='v')?"":"show"),  // в ie не включаем анимацию, тормозит
        })
    });
</script>



<div class="top">
    <table style="margin: 0px auto;">
        <tr>
            <td>
        <span class="input_element">
          Период с <input type="text" name="date1" id="date1" value="{$date1}" size="10" class="datepicker" />
          по <input type="text" name="date2" id="date2" value="{$date2}" size="10" class="datepicker" />
        </span>
            </td>
            <td>&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Обновить" class="no_print" onclick="document.getElementById('xsl_ex').value='0'; document.getElementById('report_form').submit(); return false" />
            </td>
            <td>&nbsp;&nbsp;&nbsp;
                <a href="#" onclick="document.getElementById('xsl_ex').value='1';
    document.getElementById('report_form').submit();
    return false">
                    <img src="images/xsl.gif" style="vertical-align: bottom; border: none; margin-right: 3px;">Экспорт в Excel</a>
            </td>
        </tr>
    </table>

    <input type=hidden name="xsl" id="xsl_ex" value="0" />
</div>



<div style="width: 400px;">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="success">
            <th scope="col" colspan="2">1. Общий блок - описание клиентской базы</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col" class="title" width="300">1.Контактов в базе</th>
            <td scope="row" class="value left-align" width="100">{$export_first.total}</td>
        </tr>
        <tr>
            <th scope="col" class="title">Автоматических</th>
            <td scope="row" class="value left-align">{$export_first.automatic}</td>
        </tr>
        <tr>
            <th scope="col" class="title">Клиенты с действиями</th>
            <td scope="row" class="value left-align">{$export_first.with_actions}</td>
        </tr>
        <tr>
            <th scope="row" class="sub-title right-align">Клиенты</th>
            <th scope="row" ></th>
        </tr>
        {foreach from=$export_first.client key=key item=value }
        <tr>
            <td scope="row" class="value right-align">{$key}</td>
            <td scope="row" class="value left-align">{$value}</td>
        </tr>
        {/foreach}
        <tr>
            <th scope="row" class="sub-title right-align">Лиды</th>
            <th scope="row" ></th>
        </tr>
        {foreach from=$export_first.lid key=key item=value }
        <tr>
            <td scope="row" class="value right-align">{$key}</td>
            <td scope="row" class="value left-align">{$value}</td>
        </tr>
        {/foreach}
        <tr>
            <th scope="row" class="sub-title right-align">Другие</th>
            <th scope="row" >{$export_first.other}</th>
        </tr>
        </tbody>


        <thead>
        <tr class="success">
            <th scope="col" colspan="2">2. Блок Тендер монитор. Регистрации ТМ и выгрузки</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col" class="title">1. Всего регистраций за период</th>
            <td scope="row" class="value left-align">{$export_second.total}</td>
        </tr>
        <tr>
            <th scope="row" class="sub-title right-align">Клиенты</th>
            <th scope="row" ></th>
        </tr>
        {foreach from=$export_second.client key=key item=value }
        <tr>
            <td scope="row" class="value right-align">{$key}</td>
            <td scope="row" class="value left-align">{$value}</td>
        </tr>
        {/foreach}
        <tr>
            <th scope="row" class="sub-title right-align">Лиды</th>
            <th scope="row" ></th>
        </tr>
        {foreach from=$export_second.lid key=key item=value }
        <tr>
            <td scope="row" class="value right-align">{$key}</td>
            <td scope="row" class="value left-align">{$value}</td>
        </tr>
        {/foreach}
        <tr>
            <th scope="row" class="sub-title right-align">Другие</th>
            <th scope="row" >{$export_second.other}</th>
        </tr>
        <tr>
            <th scope="col" class="title">2. Регистрации ТМ (по userID метрики Яндекса)</th>
            <td scope="row" class="value left-align">{$export_second.metrica}</td>
        </tr>
        <tr>
            <th scope="col" class="title">2.1 Выписано счетов по регистрации</th>
            <td scope="row" class="value left-align">{$export_second.invoice_count}</td>
        </tr>
        <tr>
            <th scope="col" class="title">2.2 Сумма счетов, выписано</th>
            <td scope="row" class="value left-align">{$export_second.total_sum}</td>
        </tr>
        <tr>
            <th scope="col" class="title">2.3 Сумма счетов, оплачено</th>
            <td scope="row" class="value left-align">{$export_second.paid_sum}</td>
        </tr>
        <tr>
            <th scope="col" class="title">3.Чужие от выгрузки</th>
            <td scope="row" class="value left-align">{$export_second.other_users}</td>
        </tr>
        <tr>
            <th scope="row" class="sub-title">Категория по активности</th>
            <th scope="row" class="sub-title left-align">Число</th>
        </tr>
        {foreach from=$export_second.active key=key item=value }
        <tr>
            <td class="value right-align">{$key}</td>
            <td class="value left-align">{$value}</td>
        </tr>
        {/foreach}
        <tr>
            <th scope="row" class="sub-title">Категория по размеру</th>
            <th scope="row" class="sub-title left-align">Число</th>
        </tr>
        {foreach from=$export_second.size key=key item=value }
        <tr>
            <td class="value right-align">{$key}</td>
            <td class="value left-align">{$value}</td>
        </tr>
        {/foreach}



        <thead>
        <tr class="success">
            <th scope="col" colspan="2">3.А Реально рабочая клиентская база за период - по кому велась работа</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col" class="title">1. Клиенты компании в работе</th>
            <td scope="row" class="value left-align">{$export_third.cur_clients}</td>
        </tr>
        <tr>
            <th scope="col" class="title">1.1 Всего клиентов в базе</th>
            <td scope="row" class="value left-align">{$export_third.total}</td>
        </tr>
        <tr>
            <th scope="col" class="title">1.1 Статусы клиентов</th>
            <th scope="row"></th>
        </tr>
        <tr>
            <th scope="row" class="sub-title right-align">Клиенты</th>
            <th scope="row" ></th>
        </tr>
        {foreach from=$export_third.client key=key item=value }
        <tr>
            <td scope="row" class="value right-align">{$key}</td>
            <td scope="row" class="value left-align">{$value}</td>
        </tr>
        {/foreach}
        <tr>
            <th scope="row" class="sub-title right-align">Лиды</th>
            <th scope="row" ></th>
        </tr>
        {foreach from=$export_third.lid key=key item=value }
        <tr>
            <td scope="row" class="value right-align">{$key}</td>
            <td scope="row" class="value left-align">{$value}</td>
        </tr>
        {/foreach}
        <tr>
            <th scope="row" class="sub-title right-align">Другие</th>
            <th scope="row" >{$export_third.other}</th>
        </tr>
        </tbody>



        <thead>
        <tr class="success">
            <th scope="col" colspan="2">3.Б.  Описываем клиентов+деньги на момент отчета</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col" class="title">1. Выписано счетов</th>
            <td scope="row" class="value left-align">{$export_fourth.invoice_num}</td>
        </tr>
        <tr>
            <th scope="col" class="title">2. Сумма счетов</th>
            <td scope="row" class="value left-align">{$export_fourth.total_sum}</td>
        </tr>
        <tr>
            <th scope="col" class="title">3. Оплачено счетов</th>
            <td scope="row" class="value left-align">{$export_fourth.paid_sum}</td>
        </tr>
        <tr>
            <th scope="col" class="title">4.Клиенты на платной подписке Тендермонитор</th>
            <td scope="row" class="value left-align">{$export_fourth.paid_search.sum}</td>
        </tr>
        <tr>
            <th scope="row" class="value right-align">Действий запланировано</th>
            <td scope="row" class="value left-align">{$export_fourth.paid_search.task_total}</td>
        </tr>
        <tr>
            <th scope="row" class="value right-align">Действий выполнено</th>
            <td scope="row" class="value left-align">{$export_fourth.paid_search.task_yes}</td>
        </tr>
        <tr>
            <th scope="col" class="title">4.1 Клиенты оплаченные услуги НПО Система</th>
            <td scope="row" class="value left-align">{$export_fourth.npo.sum}</td>
        </tr>
        <tr>
            <th scope="row" class="value right-align">Действий запланировано</th>
            <td scope="row" class="value left-align">{$export_fourth.npo.task_total}</td>
        </tr>
        <tr>
            <th scope="row" class="value right-align">Действий выполнено</th>
            <td scope="row" class="value left-align">{$export_fourth.npo.task_yes}</td>
        </tr>
        <tr>
            <th scope="col" class="title">5.Клиенты бесплатной подписки/тестовый период </th>
            <td scope="row" class="value left-align">{$export_fourth.free_search.sum}</td>
        </tr>
        <tr>
            <th scope="row" class="value right-align">Действий запланировано</th>
            <td scope="row" class="value left-align">{$export_fourth.free_search.task_total}</td>
        </tr>
        <tr>
            <th scope="row" class="value right-align">Действий выполнено</th>
            <td scope="row" class="value left-align">{$export_fourth.free_search.task_yes}</td>
        </tr>
        <tr>
            <th scope="col" class="title">6.Клиенты по Категории</th>
            <td scope="row" class="value left-align"></td>
        </tr>
        {foreach from=$export_fourth.category key=key item=value }
        <tr>
            <td scope="row" class="value right-align">{$key}</td>
            <td scope="row" class="value left-align">{$value}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>