
<style>
    #start{
        border: 1px solid #ccc;
        background: #fff;
        width: 700px;
        height: 300px;
        resize: none;
    }
    #start:focus{
        border: 1px solid #ccc;
        background: #fff;
    }
    #result {
        margin-top: 3px;
        -moz-appearance: textfield-multiline;
        -webkit-appearance: textarea;
        border: 1px solid gray;
        font: medium -moz-fixed;
        font: -webkit-small-control;
        width: 700px;
        height: 300px;
        overflow: auto;
        padding: 2px;
        resize: none;
        white-space: pre;
    }
    #check_button_container {
        margin: 5px 0px 10px 0px;
        width: 100px;
    }
</style>
<textarea id="start" oninput="checkText(); "></textarea>
<div id="check_button_container" >
</div>
<div id="result" contenteditable oninput="return false;"></div>

<script>
    {literal}
    function checkText() {
        var words = ["не более", "не менее", "более ", "менее ", "не больше", "не меньше", "больше ", "меньше ",
            "не ниже", "не выше", " выше ", " ниже ", "не уже", "не шире", " уже ", " шире ", "не лучше",
            " лучше ", "не хуже", " хуже ", "не сильнее", "сильнее", "не слабее", "слабее", " от ", " до ",
            "не длиннее", " длиннее", "не длинее", " длинее", "не должен", " долж", " или ",
            "всех", "все", "всё", "любой", "любые", "любыми", "любых",
            "...", ".."
        ];
        var masks = ["(\\d*[\.,]?)\\d+\\s*.{0,12}а(\\s*-\\s*)(\\d*[\\.,]?)\\d+\\s*.{0,12}",
            "[^\\w\\dа-яА-Я>]{1,1}не(\\s|$)+",
            ",\\s*[\\w\\dа-яА-Я]{4,}"];
        var masksClear = ["ГОСТ[\\sР]{0,3}[\\d\\.-]*\\s*","СНиП\\s?[\\d\\.-]*\\s*", "DIN ISO\\s?[\\d\\.-]*\\s*"];
        var redSpan ="<span style='background: red;color: yellow;'>",
            greenSpan ="<span style='background: green;color: yellow;'>";
            endSpan ="</span>";
        var text =$("#start").val();
        var i;
        for(i=0;i<words.length;i++){
            text = text.replace(words[i],redSpan+words[i]+endSpan);
        }
        for(i=0;i<masks.length;i++){
            var reg = new RegExp(masks[i],"ugi");
            text = text.replace(reg,function(m) {
                return greenSpan + m +endSpan
            });
        }

        $("#result").html(text);
    }
    {/literal}

</script>