<link rel="stylesheet" type="text/css" href="add/styles/reports_styles.css">
<script type="text/javascript" src="add/js/reports_scripts.js"></script>

<br><br>
<div class="top">

	<table class="controlsTable">
	<tr>
		<td colspan='5'><b>Сравнение группы:</b>&nbsp;
			<select name='selected_group'>
				<option{if $selected_group=="Ручное сравнение"} selected{/if}>Ручное сравнение</option>
				<option{if $selected_group=="Сравнение версий"} selected{/if}>Сравнение версий</option>
				<option{if $selected_group=="Сравнение ТЗ и заявки"} selected{/if}>Сравнение ТЗ и заявки</option>
				
				{foreach $groups key=g_key item=g_item}
					<option{if $g_item==$selected_group} selected{/if}>{$g_item}</option>
				{/foreach}
			</select>
			<br><br>
		</td>
	</tr>

	<tr>
		<td colspan='5'><b>Режим:</b>&nbsp;
			<select name='selected_mode'>
				<option{if $selected_mode=="ТЗ"} selected{/if}>ТЗ</option>
				<option{if $selected_mode=="Заявка"} selected{/if}>Заявка</option>
			</select>
			<br><br>
		</td>
	</tr>	
	<tr>
		<td colspan='5'><b>Проект:</b>&nbsp;
			<select name='selected_project'>
				<option value="-"></option>
				{foreach $projects key=p_key item=p_item}
					<option{if $p_item.uid==$selected_project} selected{/if} value='{$p_item.uid}'>{$p_item.title}</option>
				{/foreach}
			</select>
			<br><br>
		</td>
	</tr>	
	
	<tr>
    	<th>Позиция1:</th>
        <th>Позиция2:</th>
        <th>Позиция3:</th>
        <th>Позиция4:</th>
        <th>Позиция5:</th>
    </tr>
    
    {if $selected_group=="Сравнение версий"}
	<tr>
    	<td>Версия:&nbsp;
			<select name='selected_version_1'>
				{foreach $req_versions key=v_key item=v_item}
					<option{if $selected_version_1==$v_item} selected{/if}>{$v_item}</option>
				{/foreach}
			</select>
    	</td>
    	<td>Версия:&nbsp;
			<select name='selected_version_2'>
				{foreach $req_versions key=v_key item=v_item}
					<option{if $selected_version_2==$v_item} selected{/if}>{$v_item}</option>
				{/foreach}
			</select>
    	</td>
    </tr>
    {/if}
    
	<tr>
    	<td><TEXTAREA name='str1' rows=10 cols=30>{$strings[0]}</TEXTAREA></td>
        <td><TEXTAREA name='str2' rows=10 cols=30>{$strings[1]}</TEXTAREA></td>
        <td><TEXTAREA name='str3' rows=10 cols=30>{$strings[2]}</TEXTAREA></td>
        <td><TEXTAREA name='str4' rows=10 cols=30>{$strings[3]}</TEXTAREA></td>
        <td><TEXTAREA name='str5' rows=10 cols=30>{$strings[4]}</TEXTAREA></td>
    </tr>
    <tr>
      <td colspan=2>
        <input class='refresh_button' type="submit" value="Обновить" class="no_print" onclick="document.getElementById('xsl_ex').value='0'; document.getElementById('report_form').submit(); return false" />
      </td>
    </tr>
	</table>
</div>

<!--  -->
<br>

{if $obj_uid<>"" && $selected_group=="Сравнение версий"}
	Сравнение версий объекта {$obj_uid}
{/if}

<table class='compareTable'>
	<tr>
		<th>№</th>
		<th>Общая часть</th>
		
		{for $i=0 to $num_objects-1}
			<th>Позиция{$i+1}</th>
		{/for}
	</tr>
	
	{foreach $data_res key=l_key item=l_item}
	<tr{if $l_item.full_match==1} class='green'{/if}>
		<td class='col_num'>{$l_key}</td>
		<td class='col_pref'>{$l_item.line_pref}</td>

		{for $i=0 to $num_objects-1}
			<td class='col_diff'>{$l_item.lines_mid[$i]}</td>
		{/for}

	</tr>
	{/foreach}

</table>

<input type=hidden name="obj_uid" id="obj_uid" value="{$obj_uid}" />
<input type=hidden name="proj_uid" id="proj_uid" value="{$proj_uid}" />
 
<input type=hidden name="xsl" id="xsl_ex" value="0" />
<input type=hidden name="mode" id="mode" value="" />