<link rel="stylesheet" type="text/css" href="add/styles/reports_styles.css">
<script type="text/javascript" src="add/js/reports_scripts.js"></script>

<br><br>
<div>Добавлено сообщений: {$new_messages}</div>
<div>Обновлено сообщений: {$updated_messages}</div>
<br><br>
<!--
<h1>Разбор резюме</h1>

<div class='div_table'>
	<div class='div_row '>
		<div class='div_col div_col_head div_bold div_smallpadding div_border_all'>№</div>
		<div class='div_col div_col_head div_bold div_smallpadding div_border_all'>Дата</div>
		<div class='div_col div_col_head div_bold div_smallpadding div_border_all'>От</div>
		<div class='div_col div_col_head div_bold div_smallpadding div_border_all'>Тема</div>
		<div class='div_col div_col_head div_bold div_smallpadding div_border_all'>Размер</div>
		<div class='div_col div_col_head div_bold div_smallpadding div_border_all'>Вложения</div>
		<div class='div_col div_col_head div_bold div_smallpadding div_border_all'>Вакансия</div>
	</div>
	{foreach from=$mail key=k_mail item=i_mail}
		<div class='div_row '>
			<div class='div_col div_col_sm div_smallpadding div_border_all'>{$i_mail.num}</div>
			<div class='div_col div_col_mid div_smallpadding div_border_all'>{$i_mail.date}</div>
			<div class='div_col div_col_mid div_smallpadding div_border_all'><a href='mailto:{$i_mail.from.mail}'>{$i_mail.from.name}</a></div>
			<div class='div_col div_col_mid div_smallpadding div_border_all'><a href="#" onmouseover="showFrame('mail_{$k_mail}', true)" onmouseout="showFrame('mail_{$k_mail}', false)">{$i_mail.subject}</a></div>
			<div class='div_col div_col_sm1 div_smallpadding div_border_all'>{$i_mail.size}b</div>
			<div class='div_col div_col_mid div_smallpadding div_border_all'><a href="{$i_mail.file_link}">{$i_mail.file_name}</a></div>
			<div class='div_col div_col_mid div_smallpadding div_border_all'>
				<select id='select_{$k_mail}'>
					<option></option>
					{foreach from=$vacancies key=k_vacancy item=i_vacancy}
						<option {if $i_mail.vacancy == $i_vacancy.id} selected{/if}}>{$i_vacancy.position} [{$i_vacancy.department}]</option>
					{/foreach}0
				</select>
			</div>
		</div>
		<div style="display:none; position:absolute; padding: 5px; z-index: 2147483647; top:50px;left:150px; border: 1px solid black; background-color: #ffe4ca;" id='mail_{$k_mail}'>{$i_mail.message}</div>
	{/foreach}

</div>
 -->

<script type="text/javascript" src="add/js/show_frame.js"></script>
