<link rel="stylesheet" type="text/css" href="add/styles/reports_styles_new.css">
<script type="text/javascript" src="add/js/reports_scripts.js"></script>

<br>


<h1>
	Материалы
</h1>

<table class="mainTable">

   <tr>
     <th >Код материала</th>
     <th >Название материала</th>
   </tr>

	{foreach $materials key=m_key item=m_item }
   <tr>
    	 <td class='num_col'>{$m_item.id_num}</td>
    	 <td class='width_100'>{$m_key}</td>
   </tr>
	{/foreach}

 </table>

 <br>
 <br>

 <h1>
	Параметры
</h1>

<table class="mainTable">

   <tr>
     <th >Код параметра</th>
     <th >Название параметра</th>
   </tr>

	{foreach $parameters key=p_key item=p_item }
   <tr>
    	 <td class='num_col'>{$p_item.id_num}</td>
    	 <td class='width_100'>{$p_key}</td>
   </tr>
	{/foreach}

 </table>

 <br><br>

 	{foreach $parameters_for_materials item=p_item }

 		{$type = $p_item.type}
 		{$par_str = $parameters[$p_item.parameter_name].id_str}
 		{$mat_str = $materials[$p_item.material_name].id_str}

Значение показателя {$par_str} в позиции {$mat_str}
		{if $p_item.values.negative<>""}
			не должно быть
		{else}
			должно быть
		{/if}

 	{if $type=="Фиксировано"}

		 {$p_item.values.fixed_str} [{$p_item.values.fixed}]

	{elseif $type=="Интервал"}

		 от не менее {$p_item.values.min_str} [{$p_item.values.min}] до не более {$p_item.values.max_str} [{$p_item.values.max}]

	{elseif $type=="Границы"}

		{if $p_item.values.min<>""}

			{if $p_item.values.min_included<>""}
				{if $p_item.values.min_is_numeric} не менее {else} не ниже {/if} {$p_item.values.min_str} [{$p_item.values.min}]
			{else}
				{if $p_item.values.min_is_numeric} более {else} выше {/if} {$p_item.values.min_str} [{$p_item.values.min}]
			{/if}

		{/if}

		{if $p_item.values.min<>"" && $p_item.values.max<>""} и {/if}

		{if $p_item.values.max<>""}

			{if $p_item.values.min_included<>""}
				{if $p_item.values.max_is_numeric}  не более {else} не выше {/if} {$p_item.values.max_str} [{$p_item.values.max}]
			{else}
				{if $p_item.values.max_is_numeric}  менее {else} ниже {/if} {$p_item.values.max_str} [{$p_item.values.max}]
			{/if}

		{/if}
	{/if}
		{$p_item.values.measure}. <br><br>

	{/foreach}
