<link rel="stylesheet" type="text/css" href="add/styles/reports_styles.css">
<script type="text/javascript" src="add/js/reports_scripts.js"></script>


{if $order_data.num<>""}
	<br>
	<hr>
	<div class='div_bigfont div_bold'>Заказ:</div>
	<div class='div_bigfont '>№{$order_data.num} от {$order_data.date}</div>
	<div class='div_bigfont '>Клиент: {$order_data.client}</div>
	<div class='div_bigfont '>Описание: {$order_data.description}</div>
{/if}
<br>
<hr>
<h1>Основные параметры:</h1>

<div class="top">

	<table border=0>
		<tr>
			<td style='vertical-align: top;'>
				<table class="controlsTable">
					<tr>
						<td class='param'>Тип закупки:</td>
						<td>
							<select id='app_type'>
								<option></option>
								{foreach $typical_apps key=a_key item=a_item}
								<option value='{$a_key},{$a_item.base_price}'{if intval($a_key)==intval($order_data.price_id)} selected{/if}>
									{$a_item.name}
								</option>
								{/foreach}
							</select>
						</td>
					</tr>
					<tr>
						<td class='param calc_sum'>Требуется подача:</td>
						<td><input type="checkbox" id='app_apply'></td>
					</tr>
					<tr>
						<td class='param calc_sum'>Требуются торги:</td>
						<td><input type="checkbox" id='app_participation'></td>
					</tr>
					<tr>
						<td class='param calc_sum'>Заключение контракта:</td>
						<td><input type="checkbox" id='app_contract'></td>
					</tr>
					<tr>
						<td class='param calc_sum'>Срочная заявка:</td>
						<td><input type="checkbox" id='app_urgent'></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</div>

<br>
<hr>
<h1>Первая часть заявки (стоимость за материалы)</h1>
<div class="top">

	<table border=0>
		<tr>
			<td style='vertical-align: top;'>
				<table class="controlsTable">
					<tr>
						<td class='param'>Кол-во материалов:</td>
						<td><input type='text' size=10 name="num_mat" value='{$num_mat}' id='num_mat'></td>
					</tr>

					<tr>
						<td class='param'>Кол-во символов с пробелами:</td>
						<td><input type='text' size=10 name="num_chars" value='{$num_chars}' id='num_chars'></td>
					</tr>
					<tr>
						<td class='param'>Наличие проектной документации:</td>
						<td><input type="checkbox" id='1p_project_doc'></td>
					</tr>
					<tr>
						<td class='param'>Требуются условные обозначения:</td>
						<td><input type="checkbox" id='1p_'></td>
					</tr>

				</table>

			</td>
		</tr>
	</table>



</div>

<br>


<div class='div_bigfont div_bold div_inline'>Стоимость за материалы:</div>
<div class='div_bigfont div_inline' id='mat_price_result'>0</div>
<br><br>
<div class='div_bigfont div_bold div_inline'>Стоимость за материалы округлено:</div>
<div class='div_bigfont div_inline' id='mat_price_result_okrugl'>0</div>

<br>
<hr>
<h1>Вторая часть заявки (стоимость за документы)</h1>

<div class="top">

	<table border=0>
		<tr>
			<td style='vertical-align: top;'>
				<table class="controlsTable" id='doc_table'>
					<tr id='doc_table_tr'>
						<td class='param'>&nbsp;</td>
						<td class='param'>Добавить документ:</td>
						<td class='param'>
							<select id='new_doc'>
								<option></option>
								{foreach $doc_type key=d_key item=d_item}
								<option value='{$d_key},{$d_item.number},{$d_item.pages},{$d_item.base}'>{$d_item.name}</option>
								{/foreach}
							</select>
						</td>
					</tr>

				</table>

			</td>
		</tr>
	</table>
</div>

<br>

<div class='div_bigfont div_bold div_inline'>Стоимость за документы:</div> <div class='div_bigfont div_inline' id='doc_price_result'>0</div>
<br><br>
<div class='div_bigfont div_bold div_inline'>Стоимость за документы округлено:</div> <div class='div_bigfont div_inline' id='doc_price_result_okrugl'>0</div>

<br>
<hr>
<hr>
<br>
<h1>Итоговая стоимость:</h1>
<!--<div class='div_bigfont div_bold div_inline'>Базовая стоимость:</div> <div class='div_bigfont div_inline' id='doc_price_base'>{if $order_data.base_price<>""}{$order_data.base_price}{else}0{/if}</div>-->
<br><br>
<div class='div_bigfont div_bold div_inline'>Итого:</div> <div class='div_bigfont div_inline' id='price_result'>0</div>
<br>
<br>

{if $order_data.num<>""}
<input class='refresh_button' type="submit" value="Сохранить в заказ" class="no_print" onclick="document.getElementById('xsl_ex').value='0'; document.getElementById('report_form').submit(); return false" />
	<br>
{/if}

<input type='hidden' id='order_num' name='order_num' value='{$order_data.num}}'>
<input type='hidden' id='h_sum_mat' name='h_sum_mat' value='0.0'>
<input type='hidden' id='h_sum_doc' name='h_sum_doc' value='0.0'>
<input type='hidden' id='h_sum_total' name='h_sum_total' value='0.0'>

<input type='hidden' id='xsl_ex' name='xsl_ex' value='0.0'>

<script type="text/javascript">

	//--------------------------------------------------------------
	Element.prototype.remove = function() {
	    this.parentElement.removeChild(this);
	}

	NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
	    for(var i = this.length - 1; i >= 0; i--) {
	        if(this[i] && this[i].parentElement) {
	            this[i].parentElement.removeChild(this[i]);
	        }
	    }
	}

	//--------------------------------------------------------------
	var calcSumMaterial = function() {
		var num_mat = document.getElementById('num_mat').value;
		var num_chars = document.getElementById('num_chars').value;

		result = String(num_mat * 50 + num_chars / 4);
		str_result = result.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');

		result_okrugl = String(Math.ceil(result / 500.0) * 500.0);
		str_result_okrugl = result_okrugl.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');

	    document.getElementById('mat_price_result').innerHTML = str_result;
	    document.getElementById('mat_price_result_okrugl').innerHTML = str_result_okrugl;

	    calcSumTotal();
	};

	// --------------------------------------------------------------
	var calcSumDoc = function() {

		// var id_num = this.id.match(/[0-9]+/g);
		// var num_docs = parseFloat(document.getElementById('num_docs' + id_num).value);
		// var num_pages = parseFloat(document.getElementById('num_pages' + id_num).value);

		var cur_sum = 0.0;

		for (i=0; i<50; i++)
		{
			if(document.getElementById('num_docs' + i))
			{
				is_base = parseInt(document.getElementById('hid_doc_base' + i).value);
				if(is_base==0)
				{
					num_docs = parseFloat(document.getElementById('num_docs' + i).value);
					num_pages = parseFloat(document.getElementById('num_pages' + i).value);
					cur_sum = cur_sum + 500 + num_docs * 50.0 + num_docs * num_pages * 10.0;
				}
			}
		}

		// var cur_sum = parseFloat(document.getElementById('h_sum_doc').value);
		// document.getElementById('h_sum_doc').value = String(cur_sum);
		// cur_sum = 500 + num_docs * 50.0 + num_pages * 10.0;

		result = String(cur_sum);
		str_result = result.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');

		result_okrugl = String(Math.ceil(cur_sum / 500.0) * 500.0);
		str_result_okrugl = result_okrugl.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');

		document.getElementById('doc_price_result').innerHTML = str_result;
		document.getElementById('doc_price_result_okrugl').innerHTML = str_result_okrugl;

	    calcSumTotal();
	};

	//--------------------------------------------------------------
	var calcSumTotal = function() {

        //var base_sum = parseFloat (document.getElementById('doc_price_base').innerHTML.replace(" ",""));
        var mat_sum = parseFloat(document.getElementById('mat_price_result_okrugl').innerHTML.replace(" ", ""));
        var doc_sum = parseFloat(document.getElementById('doc_price_result_okrugl').innerHTML.replace(" ", ""));

//        if (base_sum == "") {
//            base_sum = 0.0;
//        }
        if (mat_sum == "") {
            mat_sum = 0.0;
        }

        if (doc_sum == "") {
            doc_sum = 0.0;
        }

        if (document.getElementById('app_apply').checked) {
            sum_apply = 500;
        }
        else {
            sum_apply = 0;
        }

        if (document.getElementById('app_participation').checked) {
            sum_participation = 1000;
        }
        else {
            sum_participation = 0;
        }

        if (document.getElementById('app_contract').checked) {
            sum_contract = 1000;
        }
        else {
            sum_contract = 0;
        }

        if (document.getElementById('app_urgent').checked) {
            sum_urgency = 2.0;
        }
        else {
            sum_urgency = 1.0;
        }


        sum_project_doc =
        total = (mat_sum + doc_sum + sum_apply + sum_participation + sum_contract) * sum_urgency;

        result = String(total);
        str_result = result.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');

        document.getElementById('price_result').innerHTML = str_result;
        document.getElementById('h_sum_total').value = result;

    }

	//--------------------------------------------------------------
	var selectDoc = function()	{
		var ind = this.selectedIndex;
		var opt = this.options[ind];
		var val = this.options[ind].value;

		var values = val.split(',');
		var id_name = values[0];
		var base_price = parseFloat(values[1]);

		result = String(base_price);
		str_result = result.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');

		//document.getElementById('doc_price_base').innerHTML = str_result;

		calcSumTotal();
	}

	//--------------------------------------------------------------
	var addDoc = function()	{

		if(this.selectedIndex==0) return;

		var ind = this.selectedIndex;
		var opt = this.options[ind];
		var val = this.options[ind].value;

		var values = val.split(',');
		var id_name = values[0];
		var num_docs = values[1];
		var num_pages = values[2];
		var base = parseInt(values[3]);

		if(base==1)
			is_disabled = " disabled ";
		else
			is_disabled = "";

		var row_id = "doc_val" + ind;
		del_param = "'" + row_id + "'";

		s_td1 = document.createElement('td');
		s_td1.className = 'param';
		s_td1.innerHTML = '<a href="#" onclick="delOption(' + del_param + ');">del</a>';

		s_td2 = document.createElement('td');
		s_td2.className = 'param';
		s_td2.innerHTML = 'Документ:';

		s_td3 = document.createElement('td');
		s_td3.className = 'param';
		s_td3.innerHTML = opt.text;

		s_td4 = document.createElement('td');
		s_td4.className = 'param';
		s_td4.innerHTML = 'Кол-во документов:';

		s_td5 = document.createElement('td');
		s_td5.className = 'param';
		s_td5.innerHTML = '<input type="text" ' + is_disabled + ' size=2 name="num_docs' + ind + '" value="' + num_docs + '" id="num_docs' + ind + '">';

		s_td6 = document.createElement('td');
		s_td6.className = 'param';
		s_td6.innerHTML = 'Кол-во страниц в каждом:';

		s_td7 = document.createElement('td');
		s_td7.className = 'param';
		s_td7.innerHTML = '<input type="text" ' + is_disabled + ' size=2 name="num_pages' + ind + '" value="' + num_pages + '" id="num_pages' + ind + '">';

		var s_hid = document.createElement('input');
		s_hid.setAttribute("type", "hidden");
		s_hid.setAttribute("id", "hid_doc_base" + ind);
		s_hid.setAttribute("name", "hid_doc_base" + ind);
		s_hid.setAttribute("value", base);

		s_tr = document.createElement('tr');
		s_tr.id = row_id;
		s_tr.appendChild(s_td1);
		s_tr.appendChild(s_td2);
		s_tr.appendChild(s_td3);
		s_tr.appendChild(s_td4);
		s_tr.appendChild(s_td5);
		s_tr.appendChild(s_td6);
		s_tr.appendChild(s_td7);

		m_tr = document.getElementById('doc_table');
		m_tr.appendChild(s_tr);

		m_tr.appendChild(s_hid);

		$('#num_docs' + ind)
	    .keyup(calcSumDoc)
	    .keypress(calcSumDoc)
	    .blur(calcSumDoc)
	    .change(calcSumDoc)

		$('#num_pages' + ind)
	    .keyup(calcSumDoc)
	    .keypress(calcSumDoc)
	    .blur(calcSumDoc)
	    .change(calcSumDoc)


	    calcSumDoc();
	}

	//--------------------------------------------------------------
	function delOption(id){
		var id_num = id.match(/[0-9]+/g);

		document.getElementById(id).remove();
		document.getElementById("hid_doc_base" + id_num).remove();
	    calcSumDoc();
	}

	//--------------------------------------------------------------

	$('#num_mat')
    .keyup(calcSumMaterial)
    .keypress(calcSumMaterial)
    .blur(calcSumMaterial)
    .change(calcSumMaterial)

	$('#num_chars')
    .keyup(calcSumMaterial)
    .keypress(calcSumMaterial)
    .blur(calcSumMaterial)
    .change(calcSumMaterial)

    $('#new_doc')
    .change(addDoc);

    $('#app_type')
    .change(selectDoc);

    $('#app_apply')
        .change(calcSumTotal);

    $('#app_participation')
    .change(calcSumTotal);

    $('#app_contract')
        .change(calcSumTotal);

    $('#app_urgent')
    .change(calcSumTotal);

    calcSumTotal();

</script>