<link rel="stylesheet" type="text/css" href="add/styles/reports_styles.css">
<style>
    div.main_table{
        width: 710px;
    }

    .finaly_sum{
        background-color: #f5f5f5;
        position: fixed;
        top: 158px;
        left: 835px;
        border: 1px solid #dedede;
        border-right: none;
        border-left: none;
        min-width: 400px;
    }
    table.center {
         margin-left:auto;
         margin-right:auto;
     }
    .finaly_sum_head {
        text-align: center;
        background-color: #ffffff;
        padding: 11px 10px;
        font-size: 25px;
    }
    .finaly_sum_body {
        padding: 5px 10px;
        text-align: center;
        border-top: 1px solid #dedede;
    }
    .finaly_sum_body td{
     padding: 2px;
     text-align: left;
     vertical-align: middle;
     font-size: 16px;
     }
    .finaly_sum_body td.price{
          text-align: right;
        min-width: 60px;
      }
    .finaly_sum .bold td{
        font-weight: bold;
    }
    input.number_input{
        width: 80px;
    }
    span[data-original-title]:hover:after {
        content: attr(data-original-title);
        position: absolute;
        background-color: #ffffff;
        border: 1px solid #dedede;
        max-width: 400px;
        border-radius: 3px;
        padding: 5px;
    }
</style>
<script type="text/javascript" src="add/js/reports_scripts.js"></script>
<script type="text/javascript">

    function calcAll() {
        sum = parseFloat($('#calc_sum_main_result').text().replace(" ","")) +
            parseFloat($('#calc_sum_complementary_result').text().replace(" ","")) +
            parseFloat($('#calc_sum_mat_result').text().replace(" ","")) +
            parseFloat($('#calc_sum_doc_result').text().replace(" ",""));

        var srochnaya =$('#srochnaya_zayavka')[0];
        if (srochnaya.checked) {
            pricePercent = $('#srochnaya_zayavka_price_percent').val();
            if (pricePercent >= 1) {
                sum = sum * parseFloat(pricePercent);
            }
        }
        result = String(sum);
        str_result = result.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');
        $('#finaly_sum').text(str_result);
    }
    function calcMain() {
        var allParam = $(".calc_sum_main");
        var sum = getSum(allParam);

        sum = Math.ceil(sum / 50.0) * 50.0;
        result = String(sum);

        str_result = result.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');

        document.getElementById('main_price_result').innerHTML = str_result;

        $('#calc_sum_main_result').text(str_result);
        calcAll();
    }
    function calcMat() {
        var allParam = $(".calc_sum_mat");
        var sum = getSum(allParam);

        sum = Math.ceil(sum / 50.0) * 50.0;
        result = String(sum);

        str_result = result.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');

        document.getElementById('mat_price_result').innerHTML = str_result;

        $('#calc_sum_mat_result').text(str_result);
        calcAll();
    }
    function calcComplementary() {
        var allParam = $(".calc_sum_complementary");
        var sum = getSum(allParam);

        sum = Math.ceil(sum / 50.0) * 50.0;
        result = String(sum);

        str_result = result.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');

        document.getElementById('complementary_price_result').innerHTML = str_result;

        $('#calc_sum_complementary_result').text(str_result);
        calcAll();
    }

    function getSum(allParam){
        var sumPercent = 1,
            sum = 0,
            calc =true;
        for (var i = 0; i < allParam.length; i++) {
            var id = allParam[i].id,
                needCalc = $('#' + id + '_need_calc').val();

            if ((allParam[i].checked || allParam[i].value > 0) & needCalc) {
                var fullPrice = $('#' + id + '_full_price').val(),
                    pricePerUnit = $('#' + id + '_price_perunit').val(),
                    pricePercent = $('#' + id + '_price_percent').val();
                if (fullPrice > 0) {
                    sum += parseFloat(fullPrice);
                } else if (pricePerUnit > 0) {
                    sum += parseFloat(allParam[i].value) * parseFloat(pricePerUnit);
                } else if (pricePercent != 0) {
                    sumPercent = sumPercent * parseFloat(pricePercent);
                }
            } else if(needCalc){
                var pricePerUnit = $('#' + id + '_price_perunit').val();
                if (pricePerUnit > 0 && (id=='kol-vo_materialov' || id=='kol-vo_simvolov_s_probelami' )) {
                    calc = false;
                }
            }
        }
        if(sum>0 & calc) {
            sum = sum * sumPercent;
        } else {
            sum =0;
        }
        //console.log(sum);
        return sum;
    }
    function calcDoc() {
        var allParam = $(".calc_sum_doc");
        sum = 0;
        for (var i = 0; i < allParam.length; i++) {
            var id = allParam[i].id;

            // сперва добавляем Базовую цену за документ
            if(allParam[i].checked) {
                var fullPrice = $('#' + id + '_full_price').val();
                sum += parseFloat(fullPrice);
            }

            // далее добавляем цены за количество документов и количество страниц
            if (allParam[i].checked) {
                $('#' + id + '_count_doc').attr("disabled",false);
                $('#' + id + '_count_page').attr("disabled",false);

                if($('#' + id + '_count_page').val()<1) {
                    $('#' + id + '_count_page').val(1);
                } else if($('#' + id + '_count_doc').val()<1) {
                    $('#' + id + '_count_doc').val(1);
                }

                // получаем данные о количестве и ценах
                var doc = $('#' + id + '_count_doc').val(),
                    page = $('#' + id + '_count_page').val(),
                    docPrice = $('#' + id + '_doc_price').val(),
                    pagePrice = $('#' + id + '_page_price').val();

                if (isNaN(doc)) doc = 0
                if (isNaN(page)) page = 0
                if (isNaN(docPrice)) docPrice = 0.0
                if (isNaN(pagePrice)) pagePrice = 0.0

                // вычисляем сумму
                if(doc>0) {
                    //console.log('------------')
                    //console.log('docs:'+doc + ', pages:' +page)
                    //console.log('price per doc:'+docPrice + ', price per pages:'+ pagePrice)
                    //console.log('sum_base: ' + sum)
                    //console.log('sum_docs:' + parseFloat(doc) * parseFloat(docPrice))
                    //console.log('sum_pages:' + parseFloat(page) * parseFloat(doc) * parseFloat(pagePrice))

                    sum += parseFloat(doc) * parseFloat(docPrice) +
                        parseFloat(page) * parseFloat(doc) * parseFloat(pagePrice);

                    //console.log('sum total:' + sum)
                }

            } else {
                $('#' + id + '_count_doc').attr("disabled","disabled");
                $('#' + id + '_count_page').attr("disabled","disabled");
            }
        }

        sum = Math.ceil(sum / 50.0) * 50.0;
        result = String(sum);

        str_result = result.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');
        document.getElementById('doc_price_result').innerHTML = str_result;

        $('#calc_sum_doc_result').text(str_result);
        calcAll();
    }

    function selectAppType() {
        // проставлея опции по-умолчанию
        var selectedId = $('#app_type option:selected')[0].id;

        // сбрасываем все выделение
        clearAllCheckboxes(false)

        $("#podgotovka_zayavki").prop("checked", true);

        // базовые документы
        if (selectedId) {
            var checkDoc = $('.base_doc.' + selectedId);
            for (var i = 0; i < checkDoc.length; i++) {
                $(checkDoc[i]).prop("checked", true);
            }
        }

        // дополнительные документы
        if (selectedId) {
            var checkExDoc = $('.ex_doc.' + selectedId);
            for (var i = 0; i < checkExDoc.length; i++) {
                $(checkExDoc[i]).prop("checked", true);
            }
        }

        // отключаем доп опции для ряда случаев
        if(selectedId=="zk_44-fz" | selectedId=="ok_44-fz" ){
            $("#soprovogdenie_torgov").prop("disabled", true);
            $("#soprovogdenie_torgov").prop("checked", false);
        }else{
            $("#soprovogdenie_torgov").prop("disabled", false);
        }

        calcMain();
        calcDoc();
    }

    function clearAllCheckboxes(bDoRecalc = true) {
        // снимаем все опции по-умолчанию

        // базовые документы
        var baseDoc = $('.base_doc');
        for (var i = 0; i < baseDoc.length; i++) {
            $(baseDoc[i]).prop("checked", false);
        }
        // дополнительные документы
        var exDoc = $('.ex_doc');
        for (var i = 0; i < exDoc.length; i++) {
            $(exDoc[i]).prop("checked", false);
        }

        if(bDoRecalc) {
            calcMain();
            calcDoc();
        }
    }

</script>
<script type = text/javascript>
    function show() {
        var dialog = document.querySelector('dialog');
        var finalySumBlock =$('#finaly_sum_block');
        finalySumBlock.hide();
        dialog.showModal();
    }
    function closeDialog() {
        var dialog = document.querySelector('dialog');
        var finalySumBlock =$('#finaly_sum_block');
        finalySumBlock.show();
        dialog.close();
    }
    function calcMatChar(id,calc) {
        var text =$('#text_tz').val();
        text = text.replace(/[^\d\wа-яА-Я !\"#$%&\'\(\)*+,-.\/:;<=>?@\[\]\^\_\`]+/g,' ');
        text = text.replace(/\s+/g," ");
        text = $.trim(text);
        $('#countChars').text('Всего символов:' + text.length);
        if(calc==1) {
            $('#'+id).val(text.length);
            calcMat();closeDialog();
        }
    }
</script>
<div class ="finaly_sum div_bigfont" id="finaly_sum_block">
    <div class ="finaly_sum_head " >Итоговая стоимость заявки</div>
        <div  class="finaly_sum_body">
            <table class="center">
                <tr>
                    <td>Стоимость за базовые услуги:</td>
                    <td class="price"><div id="calc_sum_main_result">0</div></td>
                    <td>руб</td>
                </tr>
                <tr>
                    <td>Стоимость за дополнительные услуги:</td>
                    <td class="price"><div id="calc_sum_complementary_result">0</div></td>
                    <td>руб</td>
                </tr>
                <tr>
                    <td>Стоимость за материалы:</td>
                    <td class="price"><div id="calc_sum_mat_result">0</div></td>
                    <td>руб</td>
                </tr>
                <tr>
                    <td>Стоимость за документы:</td>
                    <td class="price"><div id="calc_sum_doc_result">0</div></td>
                    <td>руб</td>
                </tr>
                <!--<tr class="bold">-->
                    <!--<td>Итоговая стоимость:</td>-->
                    <!--<td class="price"><div id="finaly_sum">0</div></td>-->
                    <!--<td>руб</td>-->
                <!--</tr>-->
            </table>
        </div>
    <div  class="finaly_sum_body">
        <table class="center">
            <tr class="bold" >
                <td style="min-width: 293px">Итоговая стоимость:</td>
                <td class="price"><div id="finaly_sum">0</div></td>
                <td>руб</td>
            </tr>
        </table>
    </div>
</div>
<div class="main_table">
{if $order_data.num<>""}
<br>
<hr>
<div class='div_bigfont div_bold'>Заказ:</div>
<div class='div_bigfont '>№{$order_data.num} от {$order_data.date}</div>
<div class='div_bigfont '>Клиент: {$order_data.client}</div>
<div class='div_bigfont '>Описание: {$order_data.description}</div>
{/if}
<br>
<hr>
<h1>Базовые услуги:</h1>

<div class="top">

    <table border=0>
        <tr>
            <td style='vertical-align: top;'>
                <table class="controlsTable">
                    <tr>
                        <td >Тип закупки:{if $appType["Help"]!=''}<span data-original-title='{$appType["Help"]}'> <img src="images/top_icon_help.png" alt=""></span>{/if}</td>
                        <td>
                            <select  onchange="selectAppType()" id='app_type'>
                                <option></option>
                                {foreach $typical_apps key=a_key item=a_item}
                                <option id ="{$a_item.id}" value='{$a_key}'{if intval($a_key)==intval($order_data.price_id)} selected{/if} >
                                {$a_item.name}
                                </option>
                                {/foreach}
                            </select>
                        </td>
                    </tr>
                    {foreach $main_price item=a_item}
                        <tr>
                            <td >{$a_item["Title"]}:{if $a_item["Help"]!=''}<span data-original-title='{$a_item["Help"]}'> <img src="images/top_icon_help.png" alt=""></span>{/if}</td>
                            <td>
                                <input type="checkbox" class ='calc_sum calc_sum_main' id='{$a_item["paramTitle"]}' onchange="calcMain()">
                                <input type="hidden" id='{$a_item["paramTitle"]}_need_calc' value='{$a_item["NeedCalc"]}'>
                                <input type="hidden" id='{$a_item["paramTitle"]}_full_price' value='{$a_item["FullPrice"]}'>
                                <input type="hidden" id='{$a_item["paramTitle"]}_price_percent' value='{$a_item["PricePercent"]}'></td>
                        </tr>
                    {/foreach}

                </table>
            </td>
        </tr>
    </table>

</div>

    <div class="top">
        <table border=0>
            <tr>
                <td style='vertical-align: top;'>
                    <table class="controlsTable">
                        <tr>
                            <td style="width: 168px;">{$fast_app_price["Title"]}:{if $fast_app_price["Help"]!=''}<span data-original-title='{$fast_app_price["Help"]}'> <img src="images/top_icon_help.png" alt=""></span>{/if}</td>

                            <td>
                                <input type="checkbox" class ='calc_sum calc_sum_main' id='{$fast_app_price["paramTitle"]}' onchange="calcMain()">
                                <input type="hidden" id='{$fast_app_price["paramTitle"]}_need_calc' value='{$fast_app_price["NeedCalc"]}'>
                                <input type="hidden" id='{$fast_app_price["paramTitle"]}_full_price' value='{$fast_app_price["FullPrice"]}'>
                                <input type="hidden" id='{$fast_app_price["paramTitle"]}_price_percent' value='{$fast_app_price["PricePercent"]}'></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>

<br>

<div class='div_bigfont div_bold div_inline'>Стоимость за базовые услуги:</div>
<div class='div_bigfont div_inline' id='main_price_result'>0</div>

<br>
<hr>
<h1>Дополнительные услуги</h1>
<div class="top">

    <table border=0>
        <tr>
            <td style='vertical-align: top;'>
                <table class="controlsTable">
                    {foreach $complementary_services item=a_item}
                    <tr>
                        <td >{$a_item["Title"]}:{if $a_item["Help"]!=''}<span data-original-title='{$a_item["Help"]}'> <img src="images/top_icon_help.png" alt=""></span>{/if}</td>
                        <td>
                            {if $a_item["PricePerUnit"]>0 }
                            <input type="number" min="0" value="0" class ='calc_sum calc_sum_complementary number_input' id='{$a_item["paramTitle"]}' oninput="calcComplementary()">
                            <input type="hidden" id='{$a_item["paramTitle"]}_price_perunit' value='{$a_item["PricePerUnit"]}'>
                            {else}
                            <input type="checkbox" class ='calc_sum calc_sum_complementary' id='{$a_item["paramTitle"]}' onchange="calcComplementary()">
                            <input type="hidden" id='{$a_item["paramTitle"]}_full_price' value='{$a_item["FullPrice"]}'>
                            <input type="hidden" id='{$a_item["paramTitle"]}_price_percent' value='{$a_item["PricePercent"]}'>
                            {/if}
                            <input type="hidden" id='{$a_item["paramTitle"]}_need_calc' value='{$a_item["NeedCalc"]}'>
                        </td>
                    </tr>
                    {/foreach}
                </table>

            </td>
        </tr>
    </table>
</div>
<br>
<div class='div_bigfont div_bold div_inline'>Стоимость за дополнительные услуги:</div>
<div class='div_bigfont div_inline' id='complementary_price_result'>0</div>

<br>
<hr>
<h1>Первая часть заявки (стоимость за материалы)</h1>
<div class="top">

    <table border=0>
        <tr>
            <td style='vertical-align: top;'>
                <table class="controlsTable">
                    {foreach $mat_price item=a_item}
                    <tr>
                        <td >{$a_item["Title"]}:{if $a_item["Help"]!=''}<span data-original-title='{$a_item["Help"]}'> <img src="images/top_icon_help.png" alt=""></span>{/if}</td>
                        <td>
                            {if $a_item["PricePerUnit"]>0 }
                            <input type="number" min="0" value="0" class ='calc_sum calc_sum_mat number_input' id='{$a_item["paramTitle"]}' onchange="calcMat()" onclick="calcMat()" onblur="calcMat()" onkeyup="calcMat()">
                            <input type="hidden" id='{$a_item["paramTitle"]}_price_perunit' value='{$a_item["PricePerUnit"]}'>
                            {else}
                                <input type="checkbox" class ='calc_sum calc_sum_mat' id='{$a_item["paramTitle"]}' onchange="calcMat()">
                            <input type="hidden" id='{$a_item["paramTitle"]}_full_price' value='{$a_item["FullPrice"]}'>
                            <input type="hidden" id='{$a_item["paramTitle"]}_price_percent' value='{$a_item["PricePercent"]}'>
                            {/if}
                            <input type="hidden" id='{$a_item["paramTitle"]}_need_calc' value='{$a_item["NeedCalc"]}'>
                        </td>
                    </tr>
                    {if $a_item["Title"]=='Кол-во символов с пробелами'}
                    <tr>
                        <td ></td>
                        <td >
                            <dialog style="border: 1px;position: fixed;">
                                <div>
                                    <div>
                                        Вставьте текст требований к материалам:
                                    </div>
                                    <div>
                                        <textarea cols="80" rows="20" id ='text_tz' style="resize: none;" oninput="calcMatChar('{$a_item['paramTitle']}',0)"></textarea>
                                    </div>
                                </div>
                                <div style="width: 100%">
                                <div style="text-align: right; display: inline-block;">
                                    <label id="countChars" ></label>
                                </div>
                                <div style="text-align: right;display: inline-block; right: 10px;position: absolute;">
                                    <a class="fields__actions-item" onclick="closeDialog()">Закрыть</a>
                                    <a class="fields__actions-item" id="calc" onclick="calcMatChar('{$a_item['paramTitle']}',1)">Внести количество в расчет</a>
                                </div></div>
                            </dialog>
                            <a class="fields__actions-item" style="text-align: center;display: block;margin-top: 5px;border-radius: 0px;width: 154px;" onclick="show()">Посчитать кол-во символов</a>
                        </td>
                    </tr>
                    {/if}
                    {/foreach}
                </table>
            </td>
        </tr>
    </table>
</div>

<br>

<div class='div_bigfont div_bold div_inline'>Стоимость за материалы:</div>
<div class='div_bigfont div_inline' id='mat_price_result'>0</div>

<br>
<hr>
<h1>Вторая часть заявки (стоимость за документы)</h1>
    <a class="fields__actions-item" style="text-align: center;display: block;margin-top: 5px;border-radius: 0px;width: 154px;" onclick="clearAllCheckboxes()">Снять выбор документов</a>

<div class="top">

    <table border=0>
        <tr>
            <td style='vertical-align: top;'>
                <div class='div_bigfont div_bold div_inline'>Базовые документы:</div>
                <table class="controlsTable" id='base_doc_table'>
                    <tr>
                        <th class='param'>Тип документа</th>
                        <th class='param'></th>
                        <th class='param'></th>
                        <th class='param'></th>
                    </tr>

                    {foreach $base_doc_price item=a_item}
                    <tr>
                    <td >{$a_item["Title"]}:{if $a_item["Help"]!=''}<span data-original-title='{$a_item["Help"]}'> <img src="images/top_icon_help.png" alt=""></span>{/if}</td>
                        <td>
                            <input type="checkbox" class ='base_doc calc_sum_doc {$a_item["AppType"]}' id='{$a_item["paramTitle"]}' onchange="calcDoc()">
                            <input type="hidden" id='{$a_item["paramTitle"]}_full_price' value='{$a_item["FullPrice"]}'>
                        </td>
                    </tr>
                    {/foreach}
                    </td>
                </table>

            </td>
        </tr>
        <tr>
            <td style='vertical-align: top;'>
                <hr>
                <div class='div_bigfont div_bold div_inline'>Дополнительные документы:</div>
                <table class="controlsTable" id='doc_table'>
                    <tr>
                        <th class='param'>Тип документа</th>
                        <th class='param'></th>
                        <th class='param' style="width: 170px;">Кол-во документов</th>
                        <th class='param' style="width: 170px;">{if $have_pages_price}Кол-во страниц в каждом{/if}</th>
                    </tr>

                    {foreach array_keys($doc_price) item=doc_group}
                        <tr>
                            <td colspan="4" style="font-weight: bold;">{$doc_group}</td>
                        </tr>

                        {foreach $doc_price[$doc_group] item=a_item}
                        <tr>
                            <td >{$a_item["Title"]}:{if $a_item["Help"]!=''}<span data-original-title='{$a_item["Help"]}'> <img src="images/top_icon_help.png" alt=""></span>{/if}</td>
                            <td>
                                <input
                                        type="checkbox"
                                        class ='ex_doc calc_sum calc_sum_doc {$a_item["AppType"]}'
                                        id='{$a_item["paramTitle"]}'
                                        onchange="calcDoc()">
                                <input type="hidden" id='{$a_item["paramTitle"]}_full_price' value='{$a_item["FullPrice"]}'>
                            </td>
                            <td>
                                {if $a_item['PricePerDoc']>0.0}
                                <input
                                        disabled
                                        type="number"
                                        min='1'
                                        value='{$a_item["DocCount"]}'
                                        class ='calc_sum number_input' id='{$a_item["paramTitle"]}_count_doc'
                                        onmouseup="calcDoc()"
                                        onchange="calcDoc()"
                                        onblur="calcDoc()"
                                        onkeyup="calcDoc()">
                                {/if}
                                <input type="hidden" id='{$a_item["paramTitle"]}_doc_price' value='{$a_item["PricePerDoc"]}'>
                            </td>
                            <td>
                                {if $a_item['PricePerPage']>0.0}
                                    <input
                                            disabled
                                            type="number"
                                            min='1'
                                            value='{$a_item["PageCount"]}'
                                            class ='calc_sum number_input'
                                            id='{$a_item["paramTitle"]}_count_page'
                                            onmouseup="calcDoc()"
                                            onchange="calcDoc()"
                                            onblur="calcDoc()"
                                            onkeyup="calcDoc()">
                                {/if}
                                <input type="hidden" id='{$a_item["paramTitle"]}_page_price' value='{$a_item["PricePerPage"]}'>
                            </td>
                        </tr>
                        {/foreach}

                    {/foreach}

                </td>
                </table>

            </td>
        </tr>
    </table>
</div>

<br>

<div class='div_bigfont div_bold div_inline'>Стоимость за документы:</div> <div class='div_bigfont div_inline' id='doc_price_result'>0</div>

<br>
<hr>

{if $order_data.num<>""}
<input class='refresh_button' type="submit" value="Сохранить в заказ" class="no_print" onclick="document.getElementById('xsl_ex').value='0'; document.getElementById('report_form').submit(); return false" />
<br>
{/if}

<input type='hidden' id='order_num' name='order_num' value='{$order_data.num}}'>
<input type='hidden' id='h_sum_mat' name='h_sum_mat' value='0.0'>
<input type='hidden' id='h_sum_doc' name='h_sum_doc' value='0.0'>
<input type='hidden' id='h_sum_total' name='h_sum_total' value='0.0'>

<input type='hidden' id='xsl_ex' name='xsl_ex' value='0.0'>
</div>
