<link rel="stylesheet" type="text/css" href="add/styles/reports_styles.css">
<script type="text/javascript" src="add/js/reports_scripts.js"></script>

<br>
<div class='div_table'>
	<div class='div_row'>
		<div class='div_col div_bold'>GovRuID:</div>
		<div class='div_col'><input type='text' name='govruid' id='govruid' value='{$govruid}'></input></div>
	</div>
</div>

{if $tender.common.tender_uid<>""}
<div class='div_table'>
	<div class='div_row '>
		<div class='div_col div_col_head div_bold div_smallpadding'>TenderUID:</div>
		<div class='div_col div_col_head div_smallpadding'>{$tender.common.tender_uid}</div>
	</div>
	<div class='div_row '>
		<div class='div_col div_bold div_smallpadding'>Название тендера:</div>
		<div class='div_col div_smallpadding'>{$tender.common.tender_title}</div>
	</div>
	<div class='div_row '>
		<div class='div_col div_bold div_smallpadding'>Сумма тендера:</div>
		<div class='div_col div_smallpadding'>{number_format($tender.common.tender_cost, 2, ',', ' ')}</div>
	</div>
	<div class='div_row '>
		<div class='div_col div_bold div_smallpadding'>Регион:</div>
		<div class='div_col div_smallpadding'>{$tender.common.city_title} / {$tender.common.region_title} / {$tender.common.okrug_title}</div>
	</div>
	<div class='div_row '>
		<div class='div_col div_bold div_smallpadding'>Регион:</div>
		<div class='div_col div_smallpadding'>{$tender.common.city_title} / {$tender.common.region_title} / {$tender.common.okrug_title}</div>
	</div>


{if count($tender.lots)>0}
{foreach from=$tender.lots key=k_tender item=i_tender}
<div class='div_group '>

	<div class='div_row '>
		<div class='div_col div_col_head div_bold div_smallpadding'>LotUID:</div>
		<div class='div_col div_col_head div_smallpadding'>{$i_tender.lot_uid}</div>
	</div>
	<div class='div_row '>
		<div class='div_col div_bold div_smallpadding'>Лот:</div>
		<div class='div_col div_smallpadding'>{$i_tender.lot_number}</div>
	</div>
	<div class='div_row '>
		<div class='div_col div_bold div_smallpadding'>Название:</div>
		<div class='div_col div_smallpadding'>{$i_tender.lot_title}</div>
	</div>
	<div class='div_row'>
		<div class='div_col div_bold div_smallpadding'>Сумма:</div>
		<div class='div_col div_smallpadding'>{number_format($i_tender.lot_cost, 2, ',', ' ')}</div>
	</div>
	<div class='div_row'>
		<div class='div_col div_bold div_smallpadding'>Менеджер:</div>
		<div class='div_col div_smallpadding'>

			<select name='manager_id{$i_tender.lot_uid}'>
				<option value='0' selected></option>
			{foreach from=$managers key=k_manager item=i_manager}
				<option value='{$k_manager}'{if $i_tender.manager==$i_manager} selected{/if}>{$i_manager}</option>
			{/foreach}
			</select>

		</div>
	</div>
	<div class='div_row '>
		<div class='div_col div_bold div_smallpadding'>Статус:</div>
		<div class='div_col div_smallpadding'>
			<select name='status_id{$i_tender.lot_uid}'>
				<option value='0' selected></option>
			{foreach from=$statuses key=k_status item=i_status}
				<option value='{$i_status.id}'{if $i_tender.status_id==$i_status.id} selected{/if}>{$i_status.name}</option>
			{/foreach}
			</select>		
		</div>
	</div>
	<div class='div_row '>
		<div class='div_col div_bold div_smallpadding'>Группа:</div>
		<div class='div_col div_smallpadding'>
				<select name='group_id{$i_tender.lot_uid}'>
					<option value='0' selected></option>
				{foreach from=$groups key=k_group item=i_group}
					<option value='{$i_group.id}'{if $i_tender.group_name==$i_group.name} selected{/if}>{$i_group.name}</option>
				{/foreach}
				</select>		
		</div>
	</div>	
</div>
{/foreach}
{/if}
</div>

{/if}

<br>
<br>	
	<input class='refresh_button' type="submit" value="Обновить" class="no_print" onclick="document.getElementById('xsl_ex').value='0'; document.getElementById('report_form').submit(); return false" />
<br>
<input type='hidden' id='xsl_ex' name='xsl_ex'>
