<style type="text/css">
    .title {
        margin: 20px 0px;
        font-size: 23px;
        font-weight: bold;
    }
    .right_links {
        float: right;
        font-size: 12px;
        margin-top: 5px;
    }
    .img_print {
        vertical-align: bottom;
        border: none;
        margin-right: 3px;
    }

    .top {
        border-top: 1px solid #E3E3E3;
        border-bottom: 1px solid #E3E3E3;
        background-color: #F5F5F5;
        text-align: center;
        padding: 15px 52px;
    }

    .top table {
        margin: 0px;
        padding: 0px;
        border: none;
        border-collapse: collapse;
    }

    .top td {
        border: none;
        padding: 0px;
        margin: 0px;
    }
</style>

<script type="text/javascript">

    $(function() {
        $('.datepicker').datepicker({
            showOn:"button",
            showAlways: true,
            buttonImage: "images/calbtn.png",
            buttonImageOnly: true,
            buttonText: "Calendar",
            showAnim: (('\v'=='v')?"":"show"),  // в ie не включаем анимацию, тормозит
        })
    });
</script>



<div class="title">
    Мой отчет
    <span class="right_links no_print">
<a href="javascript:window.print()"><img src="images/print.gif" class="img_print">Печать отчёта</a>
</span>
</div>

<div class="top">
    <table style="margin: 0px auto;">
        <tr>
            <td>
        <span class="input_element">
          Период с <input type="text" name="date1" id="date1" value="{$date1}" size="10" class="datepicker" />
          по <input type="text" name="date2" id="date2" value="{$date2}" size="10" class="datepicker" />
        </span>
                <span class="input_element">
          Период: <select name="dt_period" id="dt_period">
                    <option value='0'>Произвольный</option>
                    <option value='1'>Текущий месяц</option>
                    <option value='2'>Прошлый месяц</option>
                  </select>
        </span>
                {if $user_group==1}
                <span class="input_element">
          Текст: <input type="text" size="30" name="stext" value="{$stext}" />
        </span>
                {/if}
                <div style="clear: both"></div>
            </td>
            <td>&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Обновить" class="no_print" onclick="document.getElementById('xsl_ex').value='0'; document.getElementById('report_form').submit(); return false" />
            </td>
        </tr>
    </table>
</div>



{if $numTenders>0}
<H2>Результаты</H2>
Найдено:{$numTenders}<br>
<table cellspacing=1 cellpadding=1 border=1>
    <tr>
        <td>GovRuID</td>
        <td>Title</td>
        <td>Customer</td>
        <td>Cost</td>
    </tr>
    {foreach from=$aTenders key=type item=value name=m_values}
    <tr>
        <td><a target="_blank" href="{$value.Link}">{$value.GovRuID}</a></td>
        <td width=400>{$value.Title}</td>
        <td width=400>{$value.Customer}</td>
        <td>{$value.Cost}</td>
    </tr>
    {/foreach}
</table>
{/if}

<input type=hidden name="_dates" id="_dates">
<input type=hidden name="_date1" value="{$date1}">
<input type=hidden name="_date2" value="{$date2}">
<input type=hidden name="_manager" id="_manager">

<script type="text/javascript">
    function onchange_period()
    {
        //alert('tut' + document.getElementById("dt_period").value);
        switch (document.getElementById("dt_period").value)
        {
            case "0":
                break;
            case "1":
                document.getElementById('date1').value = '01.01.2016';
                document.getElementById('date2').value = '31.01.2016';
                break;
            case "2":
                document.getElementById('date1').value = '01.12.2015';
                document.getElementById('date2').value = '31.12.2015';
                break;
        }

    }
    // добавляем обработчики
    $('dt_period').bind('change', onchange_period);
    addHandler(document.getElementById('dt_period'), 'onchange', onchange_period);
</script>